$square-size-mobile: 49px;
$square-size-desktop: 55px;
@mixin icon-box-size {
  width: 25px;
  height: 25px;
}

#shopify-section-header {
  border-bottom: 1px solid #242424;
}

/** Header */
.header-menu-container {
  width: 100%;
  height: $square-size-mobile;
  z-index: 9;
  background-color: #242424;

  position: relative;

  @include responsive(MD) {
    height: $square-size-desktop;
  }
}

.nav-sticky {
  position: -webkit-sticky;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;

  & + #PageContainer {
    padding-top: $square-size-mobile;

    @include responsive(MD) {
      padding-top: $square-size-desktop;
    }
  }
}

.xo-header__container {
  height: 100%;

  @include responsive(MD) {
    padding-left: 0;
  }
}

.xo-header__wrapper {
  height: 100%;

  display: flex;
  justify-content: center;

  position: relative;
  z-index: 1111;
  background: #242424;

  > * {
    z-index: 1111;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;

    width: 100vw;
    height: 100%;
    background: #242424;
    z-index: 1110;
  }
}

.xo-icon__group,
  .xo-header__right {
    height: 100%; 

    .xo-header__icon {
      min-width: $square-size-mobile;
      @include responsive(MD) {
        min-width: $square-size-desktop;
      }
      height: 100%;

      svg {
        @include icon-box-size()
      }
    }

    .xo-header__cart {
      background-color: #f5efe8;
    }

    .xo-header__icon-toggle {
      display: flex;
      justify-content: center;
      align-items: center;

      margin-left: 0;

      @include responsive(MD) {
        width: $square-size-mobile;
      }

      position: relative;

      transform: rotate(0deg);
      transition: all .4s ease-in-out;
      cursor: pointer;

      span {
        display: block;
        position: absolute;

        height: 1px;
        width: 17px;

        background: #fff;
        border-radius: 2px;

        transform: rotate(0deg);
        transition: all .4s ease-in-out;
        opacity: 1;
      }

      span {
        @include responsive(MD) {
          left: 15px;
        }
      }

      span:nth-child(1) {
        top: 36%;
      }

      span:nth-child(2) {
        top: 47%;
        left: 0;

        @include responsive(MD) {
          left: 15px;
        }
      }

      span:nth-child(3) {
        top: 58%;
      }

      &.is-active {
        span {
          width: 19px;
          transition: all .4s ease-in-out;
        }

        span:nth-child(1) {
          top: 47%;
          transform: rotate(135deg);
          height: 2px;
        }

        span:nth-child(2) {
          left: -20px;
          opacity: 0;
        }

        span:nth-child(3) {
          top: 47%;
          transform: rotate(-135deg);
          height: 2px;
        }
      }

    }
  }

.xo-icon__group {
  display: flex;
}

.xo-header__logo {
  display: flex;
  justify-content: center;
  align-items: center;

  .logo {
    width: 63px;
    height: 63px;
    background-color: #242424;
    border-radius: 100%;
    padding: 6px;
    display: block;
    position: relative;

    @include responsive(MD) {
      width: 73px;
      height: 73px;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.xo-header__right {
  display: flex;
  justify-content: flex-end;

  .xo-header__account {
    svg {
      @include icon-box-size();
    }
    @include responsive(MD) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  .xo-header__name {
    color: #f5efe8;
    margin-right: 10px;
  }
}

.xo-header__icon-search {
  display: flex;
  align-items: center;

  min-width: auto !important;

  @include responsive(MD) {
    margin-left: 15px;
  }
}

.xo-header__icon {
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  text-decoration: none;

  color: #000;

  svg {
    cursor: pointer;
  }

  .xo-header__icon-text {
    margin-right: 5px;
  }

  > .title {
    display: none;

    @include responsive(MD) {
      @include three-dots(100%, 1);
    }
  }
}

.xo-header__cart {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  svg {
    width: 27px !important;
    height: 27px !important;
  }

  .xo-header__cart-count {
    position: absolute;
    top: -4px;
    right: -2px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 16px;
    height: 16px;

    font-size: 9px;
    font-weight: 600;
    text-align: center;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    font-family: font(stack-header);
  }

  .xo-header__cart-count--is-empty {
    opacity: 0;
  }
}

.xo-header__icon-toggle {
  position: relative;

  transform: rotate(0deg);
  transition: .5s ease-in-out;
}

// Overlay
.overlay--close {
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: 1000;
}

// Header menu
.xo-header__menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100vw;

  padding: 0 19px 14px 15px;
  overflow: hidden;

  transform: translateY(-120%);
  transition: all .4s ease-in-out;
  opacity: 0;

  background: #242424;
  z-index: 1001;

  @include responsive(MD) {
    left: initial;
    width: calc(30vw - 20px);
    max-height: calc(100vh - 85px);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  a {
    color: #f5efe8;
  }

  &.xo-header__menu--is-active {
    opacity: 1;
    transform: translateY(0);
    box-shadow: 3px -1px 5px 0px rgba(0,0,0,0.42);
  }

  .header-item__title {
    color: #f5efe8;
    line-height: 27px;

    a {
      font-family: font(stack-header);
      text-transform: uppercase;
    }
  }
}

.xo-header__menu-item {
  position: relative;
  padding: 5px 0;
  color: #fff;
  font-family: font(stack-body);
  font-size: font(size-base);

  .menu__list-icon {
    position: absolute;
    top: 0;
    right: 0;

    width: 15px;
    height: 8px;

    cursor: pointer;

    svg {
      display: inline-block;
      width: 100%;
      height: 100%;

      transition: transform .3s ease-out;
    }

    svg polyline {
      stroke-width: 2.5px;
    }

  }
}

.xo-header__menu-item.is-expand {
  .menu__list-icon {
    svg {
      transform: rotate(180deg);
    }
  }

  .menu__list-child {
    max-height: 500px;
    transform: translateY(0);
    transition: all .5s ease-in;
  }
}
.menu__list-child {
  transition: all .5s ease;
  max-height: 0px;
  overflow: hidden;
}

.menu__list-child li {
  margin: 10px 0 10px 15px;
}


.xo-header__menu-item a {
  position: relative;

  &::before {
    content: "";
    width: 0;
    height: 2px;

    background-color: #fff;

    transition: width 0.2s ease-in-out;

    position: absolute;
    bottom: -2px;
    left: 0;
  }

  &:hover::before {
    width: 100%;
  }
}

.header__item-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  margin-top: 20px;
  padding: 5px 0 5px 5px;

  &:last-child {
    margin-bottom: 20px;
  }
}

.header__item-group--seperate {
  display: flex;
  position: relative;

  .header__item-group-line {
    width: 6px;
    height: 102%;

    background: white;

    position: absolute;
    left: -15px;
    top: 0;
  }
}

/*
* Search
*/
.search-bar {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100vh;

  pointer-events: none;
  opacity: 0;

  transform: translateY(-15px);
  transition: transform 0.15s ease-in-out, opacity 0.15s ease-in-out;
}

.search-bar--is-active {
  opacity: 1;
  pointer-events: auto;

  background: #242424;
  color: #fff;

  transform: translateY(0);
  z-index: 9999;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include box(100%, 60px);

  @include responsive(MD) {
    margin-bottom: 20px;
  }

  input[type="text"] {
    flex: 1;
    padding: 10px;

    font-size: font(h3-mobile);
    font-family: font(stack-header);

    color: #fff;

    &::placeholder {
      color: #fff;
    }

    @include responsive(MD) {
      font-size: font(h3-desktop);
    }
  }

  .search-bar__form {
    display: flex;
    flex: 1;
  }

  button[type="submit"] {
    padding: 0;
  }
}

.search-form, .search-result {
  padding: 0 15px;
  z-index: 1;
}

.search-result__quantity{
  font-size: 13px;
  color: rgb(121, 121, 121);
}

.search-result__heading {
  padding: 5px 0 15px;
  border-bottom: 1px solid rgb(170, 170, 170);
}

.search-result__list {
  box-shadow: 0 4px 2px -2px gray;

  max-height: 65vh;
  overflow: scroll;
  overflow-x: hidden;

  @include responsive(MD) {
    box-shadow: unset;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  .search-result__price {
    opacity: 0;

    transform: translateY(15px);
    transition: all linear 0.2s;
  }
}

.search-result__item {
  padding: 10px 0;

  &:hover {
    .search-result__price {
      opacity: 1;
      transform: translateY(5px);
    }
  }
}

.search-result__item-link {
  display: flex;

  .search-result__info {
    padding: 10px 0 0 20px;
    color: #fff;
  }

  .search-result__name {
    font-size: 13px;
    letter-spacing: 1.2px;
  }
}

// Overlay
.search-bar__overlay {
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: none;

  background-color: rgba($color: #000000, $alpha: 0.3);
  height: 100vh;

  z-index: -1;
}

.search-bar--is-active {
  .search-bar__overlay {
    display: block;
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .4s
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0
}

.overlay{
  position: fixed;
  top: 0;
  left: 0;

  background: rgba($color: #000000, $alpha: 0.5);
  height: 100vh;
  width: 100vw;
  z-index: 1000;
  transition: all .4s ease-in-out;

  @include responsive(MD) {
    background: transparent;
  }
}

.xo-header__icon.xo-header__icon-toggle {
  justify-content: flex-start !important;
}

.popular-container {
  display: flex;
  flex-direction: column;
  height: calc(100% - 49px);
  overflow: scroll;
  overflow-x: hidden;

  @include responsive(MD) {
    flex-direction: row;
    height: unset;
    overflow: hidden;
  }

  svg {
    width: 70px;
    height: 70px;
    background-color: #fff;
  }

  .popular__title {
    color: #fff;
    padding-bottom: 10px;
  }

  .popular-search, .popular-product {
    width: 100%;
    padding: 0 15px;
    padding-bottom: 20px;

    @include responsive(MD) {
      width: 50%;
      padding-bottom: 0;
    }
  }

  .popular__name {
    text-transform: uppercase;
  }

  .popular__content-item {
    cursor: pointer;
    padding-bottom: 15px;
  }
}
