<header id="xo-header" class="header-menu-container ">
  <!-- Search -->
  <div v-cloak id="search-bar" :class="['search-bar', (isSearchOpening ? 'search-bar--is-active' : '')]">
    <div class="search-bar__overlay" @click='toggleSearchBar'></div>

    <div class="search-form">
      <form action="/search"
        method="GET"
        class="search-bar__form"
        @submit.prevent
      >
        <button type="submit">
          <svg style="fill: #fff" aria-hidden="true" focusable="false" role="presentation" class="icon icon-search" viewBox="0 0 37 40"><path d="M35.6 36l-9.8-9.8c4.1-5.4 3.6-13.2-1.3-18.1-5.4-5.4-14.2-5.4-19.7 0-5.4 5.4-5.4 14.2 0 19.7 2.6 2.6 6.1 4.1 9.8 4.1 3 0 5.9-1 8.3-2.8l9.8 9.8c.4.4.9.6 1.4.6s1-.2 1.4-.6c.9-.9.9-2.1.1-2.9zm-20.9-8.2c-2.6 0-5.1-1-7-2.9-3.9-3.9-3.9-10.1 0-14C9.6 9 12.2 8 14.7 8s5.1 1 7 2.9c3.9 3.9 3.9 10.1 0 14-1.9 1.9-4.4 2.9-7 2.9z"/></svg>
        </button>
        <input
          type="text"
          v-model="inputText"
          name="q"
          ref="searchbar"
          value=""
          @input="handleResult(inputText)"
          placeholder="SEARCH..."
          autocomplete="false"
        >
      </form>

      <button type="button" class="search-close" @click="toggleSearchBar">
        <svg width="16" height="16" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0.736328 1.62598L23.7363 24.626" stroke="#fff" stroke-width="2"/>
          <path d="M23.6445 1.70801L0.817893 24.5346" stroke="#fff" stroke-width="2"/>
        </svg>
      </button>
    </div>

    <template v-if="!inputText">
      <div class="popular-container">
        <div class="popular-search">
          <h3 class="popular__title">{{ section.settings.popular_searches_title }}</h3>
          <ul class="popular__content search-result__list">
            {% for block in section.blocks %}
              <li @click="onClickPopular($event)" class="popular__content-item">{{ block.settings.title }}</li>
            {% endfor %}
          </ul>
        </div>

        <div class="popular-product">
          <h3 class="popular__title">{{ section.settings.popular_product_title }}</h3>
          <ul class="popular__content search-result__list">
            {% for product in section.settings.popular_product_collection.products %}
              {%- assign product = all_products[product] -%}
                <li class="popular__list search-result__item">
                  <a href="{{ product.url }}" class="popular-link search-result__item-link">
                    <div class="popular__img">
                      <img src="{{ product.featured_image | img_url: '70x70' }}">
                    </div>
                    <div class="popular__info search-result__info">
                      <div class="popular__name search-result__name">{{ product.title | upcase }}</div>
                    </div>
                  </a>
                </li>

              {% else %}
                {% for i in (1..3) %}
                  <li class="popular__list search-result__item">
                    <a href="#" class="popular-link search-result__item-link">
                      <div class="popular__img">
                        {{ 'product-1' | placeholder_svg_tag }}
                      </div>
                      <div class="popular__info search-result__info">
                        <div class="popular__name search-result__name">Popular product</div>
                      </div>
                    </a>
                  </li>
                {% endfor %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </template>

    <template v-else>
      <div class="search-result">
        <div class="search-result__heading" v-if="products.length > 0">
          <div class="search-result__quantity">${ number } RESULT</div>
        </div>
        <ul class="search-result__list">
          <li class="search-result__item"
              v-for="(product, index) in products" :key="index"
          >
            <a :href="product.url" class="search-result__item-link">
              <div class="search-result__img">
                <img :src="product.featured_image.url | imgURL('70x70', 'center')">
              </div>
              <div class="search-result__info">
                <div class="search-result__name">${ product.title | hugUppercase }</div>
                <!-- <div class="search-result__price">{{ product.price | hugMoneyFormat }}</div> -->
              </div>
            </a>
          </li>
        </ul>
      </div>
    </template>
  </div>

  <div class="xo-header__container xo-container" id='headerContainer'>
    <div class="xo-header__wrapper xo-row">
      <div class="xo-icon__group xo-col-4 xo-col-md-4">
        <a :class="['xo-header__icon xo-header__icon-toggle', isExpand ? 'is-active' : '']" @click='toggleExpand' >
          <span></span>
          <span></span>
          <span></span>
        </a>

        <div class="xo-header__icon xo-header__icon-search" @click='toggleSearchBar'>
          {% render 'icon-search' %}
        </div>
      </div>

      <div class="xo-header__logo xo-col-4 xo-col-md-4">
        <a href="{{ shop.url }}" class="logo">
          <img  src="{{ 'logo.svg' | asset_url}}" >
        </a>
      </div>

      <div class="xo-header__right xo-col-4 xo-col-md-4 xo-icon__group">
        <!-- ACCOUNT  -->
        {%- if customer -%}
          <a href="{{ routes.account_url }}" class="xo-header__icon xo-header__name">
            {{ customer.first_name }}
          </a>
        {%- else -%}
          <a href="{{ routes.account_url }}" class="xo-header__icon xo-header__account">
            {% render 'icon-account' %}
          </a>
        {%- endif -%}

        <!-- CART ICON  -->
        <div class="xo-header__icon xo-header__cart">
          <cart-item-count></cart-item-count>
        </div>
      </div>
    </div>
    <template>
      <transition name="fade">
        <div class="overlay" v-show="isExpand" @click="toggleExpand"></div>
      </transition>
    </template>
    <ul v-cloak :class="['xo-header__menu', (isExpand ? 'xo-header__menu--is-active' : '')]">
      <div class="header__item-group header__item-group--seperate">
        <div class="header__item-group-line"></div>
        <ul>
        {% for link in linklists[section.settings.main_linklist].links %}
          <li class="xo-header__menu-item {% if link.links != blank %} menu--nested {% endif %}">
            <a href="{{ link.url }}">{{ link.title }}</a>

            {% if link.links != blank %}
              <div class="menu__list-icon">
                {% render 'icon' with 'arrow-top' %}
              </div>
              <ul class="menu__list-child">
                {% for childlink in link.links %}
                  <li class="menu__child-link">
                    <a href="{{ childlink.url }}" >{{ childlink.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
        </ul>
      </div>
      <ul class="header__item-group">
        {% for link in linklists[section.settings.account_linklist].links %}
          <li class="xo-header__menu-item ">
            <a href="{{ link.url }}" >{{ link.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </ul>
  </div>
</header>
{% if template.name == 'index' %}
<script type="text/javascript">
    var templateName = 'homepage';
</script>
{% endif %}

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "link_list",
      "id": "main_linklist",
      "label": "Menu",
      "default": "main-menu"
    },
    {
      "type": "link_list",
      "id": "account_linklist",
      "label": "Account menu",
      "default": "main-menu"
    },
    {
      "type": "header",
      "content": "Popular Searches"
    },
    {
      "type": "text",
      "id": "popular_searches_title",
      "label": "Title",
      "default": "Popular searches"
    },
    {
      "type": "header",
      "content": "Popular Product"
    },
    {
      "type": "text",
      "id": "popular_product_title",
      "label": "Title",
      "default": "Popular product"
    },
    {
      "type": "collection",
      "id": "popular_product_collection",
      "label": "Collection"
    }
  ],
  "blocks": [
    {
      "type": "popular_search",
      "name": "popular search block",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "oats"
        }
      ]
    }
  ]
}
{% endschema %}
