button.needsclick.klaviyo-close-form.kl-private-reset-css-Xuajs1 {
  right: 10px !important;
  top: 5px !important;
  width: 30px !important; 
  height: 30px !important;
}

svg[aria-describedby="close-form"] {
  width: 30px !important; 
  height: 30px !important;

  circle {
    display: none !important;
  }
}

form.klaviyo-form.klaviyo-form.klaviyo-form {
  padding: 25px !important;
  width: 270px !important;
  max-width: unset !important;
  margin-bottom: 20px !important;

  border-top-right-radius: unset !important;
  border-bottom-right-radius: unset !important;

  @include responsive(MD) {
    width: 300px !important;
  }

  p {
    text-align: left !important;

    br {
      display: none;
    }
  }

  strong {
    font-size: 22px !important;
    font-family: var(--font-stack-header) !important;
    margin-bottom: 8px !important;
    color: #ffffff;

    @include responsive(MD) {
      font-size: 24px !important;
      margin-bottom: 10px !important;
    }
  }

  span.ql-font-courier {
    font-size: 18px !important;
    color: #f5f0ea !important;
    margin: 10px 0 !important;
    display: inline-block;
    font-family:  var(--font-stack-body) !important;
    width: 90% !important;
    line-height: 1.15 !important;
    
    @include responsive(MD) {
      width: 80% !important;
      margin: 10px 0 15px !important;
    }
  }

  input.needsclick.go2716150595.kl-private-reset-css-Xuajs1 {
     height: 45px !important;
     background: #ffffff !important;
     color: #000 !important;
     font-size: 16px !important;
     border-radius: 10px !important;
     border: none !important;
     outline: none !important;
     margin-top: 10px;
     font-family: var(--font-stack-body) !important;

     @include responsive(MD) { 
       font-size: 18px !important;
       padding: 10px 20px !important;
     }
  }

  button.needsclick.go3038405448.kl-private-reset-css-Xuajs1 {
    height: 45px !important;
    border-radius: 10px !important;
    padding: unset !important;
    color: #ffffff !important;
    margin-top: 10px;
    font-family: var(--font-stack-header) !important; 
    background-color: #424242 !important;
  }

  [data-testid="form-component"] {
    padding: unset !important;
  }
}