@import './email-form';

.layout-dir {
  color: #000;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 49px;
}

@media only screen and (min-width: 768px) {
  html {
    scroll-padding-top: 55px;
  }
}
