.footer {
  background-color: #242424;
  @include responsive(MD) {
    padding: 50px 0 80px;
    background-color: #242424;
  }
  @include responsive(LG) { padding: 68px 0 115px }
}

/* Heading */
.footer__heading {
  padding: 20px 15px;
  @include responsive(MD) { display: none }
  .footer__desc {
    margin-top: 10px;

    h3 {
      color: #fff !important;
    }
  }

  .footer__logo {
    @include box(100px, 100px);
    svg, img {
      @include box(100%, 100%);
      object-fit: cover;
    }
    svg {
      fill: white;
      background-color: #333;
    }
  }
}

.footer-container {
  display: flex;
  flex-direction: column;
}

/* Image */
.footer__img {
  @include box(100%, 100%);


  .footer__img-mobile {
    border-radius: 20px;
    overflow: hidden;
    @include box(100%, 100%);
    // @include responsive(MD) {

    // }
    @include responsive(LG) { display: none }
  }

  .footer__img-desktop {
    display: none;
    @include box(100%, 100%);
    @include responsive(LG) {
      display: block;
      border-radius: 20px;
      overflow: hidden;
    }
  }

  img, svg {
    @include box(100%, 100%);
    object-fit: cover;
  }

  svg {
    fill: #F5EFE8;
    background-color: #333;
    @include responsive(MD) {
      border-radius: 20px;
      overflow: hidden;
    }
  }

  .db-image, .db-image--overlay {
    z-index: 0;
  }
}

.footer__main {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // height: 400px;
  // @include responsive(LG) { justify-content: unset }
  @include responsive(LG) {
    padding-left: 80px;
  }
}

/*new*/
/*
* Social
*/
.footer-social {
  padding: 24px 0;

  @include responsive(LG) {
    padding: 0 0 30px 0;
  }
}

.footer-social__list {
  display: flex;
  justify-content: center;

  @include responsive(LG) {
    justify-content: flex-start;
  }
}

.footer-social__item {
  padding: 0 10px;
  @include responsive(LG) {
    padding: 0 32px 0 0;
  }

  svg {
    @include box(32px, 32px);
    @include responsive(LG) {
      @include box(40px, 40px);
    }
  }
}

.footer-social__item.is-instagram {
  @include responsive(LG) {
    margin-left: -3px;
  }
}

.footer-social__item.is-tiktok {
  svg {
    @include box(28px, 28px);
    @include responsive(LG) {
      @include box(35px, 35px);
    }
  }
}

.footer-social__item.is-linkedin {
  svg {
    fill: #fff;
    @include box(28px, 28px);
    @include responsive(LG) {
      @include box(35px, 35px);
    }
  }
}

/*
* Page
*/
.footer-page {

}

.footer-page__list {
  display: flex;
  justify-content: center;
}

.footer-page__item {
  flex-grow: 1;
  background-color: #0f0e0b;
  padding: 18px 0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include responsive(MD) {
    padding: 18px 0;
  }
  @include responsive(LG) {
    padding: 18px 20px;
    font-size: 19px;
  }
  &:nth-child(2) {
    margin: 0 12px;
  }
  &:nth-child(3) {
    @include responsive(XL) {
      padding: 18px 33px;
    }
  }

  .footer-page__link  {
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 16px;
    svg {
      @include box(30px, 30px);
      margin-left: 9px;
    }
  }
}

/*new*/

/* Footer form */
.footer-form {
  padding-bottom: 20px;
  @include responsive(MD) {
    padding: 20px 0;
  }
  display: flex;
  justify-content: center;
  @include responsive(MD) { padding: 0 }

  form { width: 100% }

  input, button {
    width: 100%;
    border-radius: 12px;
    @include responsive(LG) { padding: 20px }
  }

  input {
    color: white;
    background-color: #333;
    padding: 20px;
    font-size: 18px;
    @include responsive(LG) {
      font-size: 16px;
      padding: 19px;
    }
  }
  button {
    background-color: #DDD1C3;
    color: black;
    font-size: font(h5-mobile);
    margin-top: 10px;
    padding: 22px;
    letter-spacing: 1px;

    @include responsive(LG) {
      font-size: 16px;
      padding: 19px;
    }

    &:hover {
      background-color: #ccc1b4;
      box-shadow: 0 0 11px rgba(33,33,33,.3);
    }
  }
}

.footer-form--mobile {
  @include responsive(LG) { display: none }
}

.footer-form--desktop {
  display: none;
  @include responsive(LG) { display: block }

  .footer-form__text {
    @include responsive(LG) { padding-bottom: 15px }
  }
}

/*
* Footer__content
*/

.footer__content{
  display: flex;
  justify-content: center;
  @include responsive(LG) {
    padding: 0 15px;
    flex-direction: column-reverse;
    justify-content: flex-start;
  }
  @include responsive(XL) {
    padding: 0 15px;
  }
}

.footer__menu-mobile {
  @include responsive(LG) {
    display: none;
  }
  padding: 20px 0;
}

.footer__menu-list {
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
}

.footer__menu-item {
  text-align: center;
  padding: 0 10px 8px 0;

  .footer__menu-link {
    span { color: #fff }
  }
}

/*
* Menu Desktop
*/
.footer__menu-desktop {
  display: none;
  @include responsive(LG) {
    display: flex;
    margin-top: 35px;
  }

  .footer__menu-list-desktop {
    transition: all 0.3s ease-in-out;
    max-height: 0;
    opacity: 0;
  }

  .footer__menu-item {
    text-align: left;
    padding: 0 0 2px 0;
  }

  .footer__menu-link {
    span {
      font-weight: 600;

      text-transform: unset;
      font-family: var(--font-stack-body);
      font-size: font(size-base);
    }
  }

  .footer__item-second{
    padding-left: 60px;

    .footer__menu-list {
      columns: 1;
    }
  }
}

.footer__arrow {
  margin-left: 10px;
  transform: translateY(3px);
  border-width: 10px 10px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
  transition: all 0.3s ease-in-out;
}

.footer__item.is-expand {
  .footer__menu-list-desktop {
    max-height: var(--max-height-footer);
    width: 100%;
    opacity: 1;
  }

  .footer__arrow {
    transform: translateY(-3px);
    border-color: transparent transparent #fff transparent;
  }
}

.footer__title {
  display: flex;
  align-items: center;
  padding-bottom: 5px;

  &:hover {
    cursor: pointer;
  }

  h3 {
    color: white !important;
    display: none;
    font-size: 16px;
    @include responsive(LG) { display: block }
  }
}

/*
* Footer sharing
*/
.footer-sharing {
  background-color: #0f0e0b;

  padding: 5px 15px 15px;

  @include responsive(MD) { display: none }
}
.footer-sharing__text {
  text-align: center;
  span {
    color: #939391;
    font-size: 12px;
  }
}

// Custom klaviyo form
.klaviyo-form-RvY4pL {
  form.klaviyo-form.klaviyo-form.klaviyo-form {
    padding: 14px 0 !important;
    width: 100% !important;

    @include responsive(XL) {
      padding: 10px 0 !important;
    }
  }

  @include responsive(XL) {
    // margin-top: 5px;
  }

  div[data-testid="form-row"] {
    flex-wrap: wrap;

    @include responsive(LG) {
      flex-wrap: unset;
    }
  }

  div[data-testid="form-component"] {
    width: 100% !important;
    flex: unset !important;

    @include responsive(LG) {
      flex: 1 0 0px !important;
    }
  }

  .Row__FormRow-sc-1avh9u7-1 {
    display: flex !important;
    flex-direction: column !important;
    height: 140px !important;

    @include responsive(XL) {
      flex-direction: row !important;
      height: auto !important;
    }
  }

  // needsclick go1889483518 kl-private-reset-css-Xuajs1
  
  // Input
  // input.TextInput__FormStyledTextInput-sc-1ydur12-0 {
  input.kl-private-reset-css-Xuajs1 {
    box-sizing: border-box !important;
    font-family: var(--font-stack-body) !important;
    font-size: 18px !important;
    line-height: 1.15 !important;
    margin: 0 !important;
    border: none !important;
    outline: 0 !important;
    overflow: visible !important;
    width: 100% !important;
    border-radius: 12px !important;
    color: #fff !important;
    background-color: #333 !important;
    padding: 23px !important;
    height: fit-content !important;
  }

  // needsclick go332817621 kl-private-reset-css-Xuajs1
  // Button
  button.kl-private-reset-css-Xuajs1 {
    text-align: center !important;
    font-family: var(--font-stack-header) !important;
    font-weight: 600 !important;
    text-transform: uppercase !important;
    display: inline-block !important;
    transition: all .15s linear !important;
    border: none !important;
    cursor: pointer !important;
    outline: 0 !important;
    user-select: none !important;
    white-space: nowrap !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    border-radius: 10px !important;
    background-color: #ddd1c3 !important;
    color: #000 !important;
    font-size: var(--font-h3-mobile) !important;
    @include responsive(MD) {
      font-size: var(--font-h3-desktop) !important;
    }
    margin-top: 10px !important;
    padding: 18px !important;
    letter-spacing: 1px !important;
    width: 100% !important;
    border-radius: 12px !important;
    line-height: 1.5 !important;

    @include responsive(XL) {
      margin-left: 13px;
    }
  }


  // Validate
  .ValidationMessage__FormStyledValidationMessage-sc-1qcstff-3 {
    z-index: 9;
  }

  .ValidationMessage__ValidationContainerOuter-sc-ja3t6w-2 {
    @include responsive(XL) {
      top: -45px !important;
    }
  }
}
