<footer class="footer" id="footer">
  <!-- Heading -->
  <div class="footer__heading">
    <div class="footer__logo">
      {%- if section.settings.icon -%}
        <img src="{{ section.settings.icon | img_url: '1x1' }}"
           data-src="{{ section.settings.icon | img_url: 'master' }}"
           class="xo-img--lazyLoad">
      {% else %}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
      {%- endif -%}
    </div>
    <div class="footer__desc">
      <h3>{{ section.settings.footer_desc }}</h3>
    </div>
  </div>

  <!-- Container -->
  <div class="footer-container xo-container">
    <div class="xo-row">

      <!-- Image -->
      <div class="xo-col-md-6 xo-col-12 footer__img">
        <div class="footer__img-mobile">
          {% if section.settings.img_bg_mobile == blank %}
            {{ 'image' | placeholder_svg_tag }}
          {% else %}
            <img src="{{ section.settings.img_bg_mobile | img_url: '1x1'}}"
                data-src="{{ section.settings.img_bg_mobile | img_url: 'master'}}"
                class="xo-img--lazyLoad"
                alt="{{ section.settings.img_bg_mobile.alt }}">
          {% endif %}
        </div>

        <div class="footer__img-desktop">
          {% if section.settings.img_bg == blank %}
            {{ 'image' | placeholder_svg_tag }}
          {% else %}
            <img src="{{ section.settings.img_bg | img_url: '1x1'}}"
                data-src="{{ section.settings.img_bg | img_url: 'master'}}"
                class="xo-img--lazyLoad"
                alt="{{ section.settings.img_bg.alt }}">
          {% endif %}
        </div>
      </div>

      <!-- Content -->
      <div class="xo-col-md-6 footer__main">
        <!-- Social -->
        <div class="footer-social">
          <ul class="footer-social__list">
            <li class="footer-social__item is-instagram">
              <a href="{{ section.settings.instagram_link }}">
                {% render 'icon-footer-instagram' %}
              </a>
            </li>
            <li class="footer-social__item is-linkedin">
              <a href="{{ section.settings.linkedin_link }}">
                {% render 'icon-footer-linkedin' %}
              </a>
            </li>
            <li class="footer-social__item is-tiktok">
              <a href="{{ section.settings.tiktok_link }}">
                {% render 'icon-footer-tiktok' %}
              </a>
            </li>
          </ul>
        </div>

        <!-- Page  -->
        <div class="footer-page">
          <div class="footer-page__list">
            <a href="{{ section.settings.button_link_1 }}" class="footer-page__item">
              <h3 class="footer-page__link">
                {{ section.settings.button_text_1 | upcase }}
              </h3>
            </a>
            <a href="{{ section.settings.button_link_2 }}" class="footer-page__item">
              <h3 class="footer-page__link">
                {{ section.settings.button_text_2 | upcase }}
              </h3>
            </a>
            <a href="{{ section.settings.button_link_3 }}" class="footer-page__item">
              <h3 class="footer-page__link">
                {{ section.settings.button_text_3 | upcase }}
                {% render 'icon-footer-whatsapp' %}
              </h3>
            </a>
          </div>
        </div>

        <!-- Form mobile -->
        <div class="footer-form footer-form--mobile">
          <div class="klaviyo-form-RvY4pL"></div>
        </div>

        <div class="xo-row footer__content">
          <div class="footer__content-menu">
            <!-- Menu -->
            {% assign footer_linklist_mobile = section.settings.menu_mobile %}
            {% assign footer_linklist_desktop = section.settings.menu_desktop %}
            {% assign footer_linklist_account = section.settings.account_menu %}

            <!-- Menu mobile -->
            <div class="footer__menu footer__menu-mobile">
              <!-- <div class="footer__item"> -->
                <ul class="footer__menu-list">
                  {% for link in linklists[footer_linklist_mobile].links %}
                    <li class="footer__menu-item">
                      <a class="footer__menu-link" href="{{ link.url }}">
                        <span class="h4">{{ link.title | escape }}</span>
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              <!-- </div> -->
            </div>

            <!-- Menu desktop -->
            <div class="footer__menu footer__menu-desktop">

              <div class="footer__item">
                <div class="footer__title">
                  <h3>PRODUCTEN</h3>
                  <span class="footer__arrow"></span>
                </div>
                <div class="footer__menu-list-desktop">
                  <ul class="footer__menu-list">
                    {% for link in linklists[footer_linklist_account].links limit:6 %}
                      <li class="footer__menu-item">
                        <a class="footer__menu-link" href="{{ link.url }}">
                          <span class="">{{ link.title }}</span>
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>

              <div class="footer__item footer__item-second">
                <div class="footer__title">
                  <h3>OVER</h3>
                  <span class="footer__arrow"></span>
                </div>
                <div class="footer__menu-list-desktop">
                  <ul class="footer__menu-list">
                    {% for link in linklists[footer_linklist_desktop].links %}
                      <li class="footer__menu-item">
                        <a class="footer__menu-link" href="{{ link.url }}">
                          <span class="">{{ link.title }}</span>
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>

            </div>
          </div>

          <!-- Form Desktop -->
          <div class="footer-form footer-form--desktop">
            <div class="klaviyo-form-RvY4pL"></div>
          </div>

          <!-- Footer sharing -->
          <div class="xo-col-12 footer-sharing">
            <div class="footer-sharing__text">
              <span>2021 UPFRONTFOOD © All rights reserved.</span>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

</footer>
{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "image_picker",
      "id": "icon",
      "label": "Icon mobile"
    },
    {
      "type": "text",
      "id": "footer_desc",
      "label": "Description",
      "default": "wat oprecht wint"
    },
    {
      "type": "image_picker",
      "id": "img_bg",
      "label": "Image Desktop",
      "info": "1800 x 800px .jpg recommended"
    },
    {
      "type": "image_picker",
      "id": "img_bg_mobile",
      "label": "Image Mobile",
      "info": "750 x 1100px .jpg recommended. If none is set, desktop image will be cropped"
    },
    {
      "type": "text",
      "id": "footer_email",
      "label": "Email",
      "default": "info@upfrontfood.com"
    },
    {
      "type": "text",
      "id": "footer_phone",
      "label": "Phone number",
      "default": "Kvk: 0123456"
    },
    {
      "type": "text",
      "id": "footer_address",
      "label": "Address",
      "default": "3024EZ Rotterdam"
    },
    {
      "type": "text",
      "id": "footer_btn",
      "label": "Footer button text",
      "default": "hou me op de hoogte"
    },
    {
      "type": "link_list",
      "id": "menu_mobile",
      "label": "Menu mobile",
      "default": "footer"
    },
    {
      "type": "link_list",
      "id": "menu_desktop",
      "label": "Menu desktop",
      "default": "footer"
    },
    {
      "type": "link_list",
      "id": "account_menu",
      "label": "Account menu",
      "default": "main-menu"
    },
    {
      "type" : "header",
      "content": "Social network icon"
    },
    {
      "type": "url",
      "id": "instagram_link",
      "label": "Instagram"
    },
    {
      "type": "url",
      "id": "linkedin_link",
      "label": "LinkedIn"
    },
    {
      "type": "url",
      "id": "tiktok_link",
      "label": "Tiktok"
    },
    {
      "type" : "header",
      "content": "Button"
    },
    {
      "type": "text",
      "id": "button_text_1",
      "label": "Button label 1",
      "default": "account"
    },
    {
      "type": "url",
      "id": "button_link_1",
      "label": "Button link"
    },
    {
      "type": "text",
      "id": "button_text_2",
      "label": "Button label 2",
      "default": "faq"
    },
    {
      "type": "url",
      "id": "button_link_2",
      "label": "Button link"
    },
    {
      "type": "text",
      "id": "button_text_3",
      "label": "Button label 3",
      "default": "chat"
    },
    {
      "type": "url",
      "id": "button_link_3",
      "label": "Button link"
    }
  ]
}
{% endschema %}
