.faq__img {
  width: 100%;
  min-height: 150px;
  height: 22vw;

  @include responsive(MD) {
    max-height: 250px;
  }

  img, svg {
    width: 100%;
    height: 100%;
    aspect-ratio: 1;

    object-fit: cover;
  }
}

.faq__content {
  background-color: #f5efe8;
  padding: 35px 0;

  @include responsive(MD) {
    padding: 50px 0;
  }

  .faq__content-title {
    text-align: center;
    padding-bottom: 20px;

    .h2 {
      padding-right: 20px;
    }

    .faq__content-select {
      .select-btn {
        min-width: 130px;
        padding: 8px 15px;
        border-radius: 8px;
        font-size: 16px;
        background: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23000000%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23000000%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E") #e9e2d9 no-repeat calc(100% - 12px) !important;
      }
    }
  }
}

.faq__contact {
  padding: 35px 0;
  @include responsive(MD) {
    padding: 50px 0;
  }
  text-align: center;
  background-color: #f5efe8;

  .faq__contact-desc {
    padding: 18px 0;
    line-height: 1.3;
    font-size: 17px;
  }

  .faq__contact-btn {
    color: #fff;
    background-color: #26d367;
    border-radius: 12px;

    display: inline-block;
    padding: 16px;

    font-size: 14px;
    font-weight: bold;

    @include responsive(MD) {
      font-size: 16px;
      padding: 19px;
    }
  }
}


.faq__item {
  margin-bottom: 9px;

  border-radius: 9px;
  overflow: hidden;
  border: 2px solid #000;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .faq__question {
    cursor: pointer;
    letter-spacing: 1px;
    font-size: 17px;
    line-height: 1.3;
    text-align: left;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 15px 22px;

    @include responsive(MD) {
      padding: 20px 22px;
    }

    span {
      width: 100%;
    }
  }

  .faq__answer {
    transition: max-height 0.3s ease-in-out;
    max-height: 0;
    overflow: hidden;
    width: 100%;

    div {
      margin: 0 22px 25px;
      display: inline-block;
      font-size: 17px;
      line-height: 1.3;
      text-align: left;
    }
  }

  &.is-expand {
    .faq__answer {
      max-height: var(--max-height-answer);
      width: 100%;
    }

    .Icon--plus {
      opacity: 0;
    }

    .Icon--minus {
      transform: translateY(5px) rotate(180deg);
      opacity: 1;
    }
  }
}

.item__icon {
  width: 10px;
  height: 10px;

  position: relative;

  .Icon {
    position: absolute;
    left: 0;
    top: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s;
  }

  .Icon--minus {
    transform: translateY(5px);
    opacity: 0;
  }
}

.faq__content-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.faq-category__label {
  margin-bottom: 10px;
  margin-top: 25px;
}