<div class="faq-container" id='faqContainer'>
  {% assign first_img = section.settings.first_img %}
  {% assign second_img = section.settings.second_img %}

  <div class="faq__img">
    {%- if first_img -%}
      <img src="{{ first_img | img_url: 'master' }}" alt="{{ first_img.alt }}">
    {% else %}
      {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
    {%- endif -%}
  </div>

  <div class="faq__content">
    <div class="xo-container">
      <div class="faq__content-title">
        <h2 style="margin-right: 10px;">FAQ</h2>
        {% assign all_text = section.settings.all_text %}
        {% assign category_1 = section.settings.category_label_1 %}
        {% assign category_2 = section.settings.category_label_2 %}
        {% assign category_3 = section.settings.category_label_3 %}
        {% assign category_4 = section.settings.category_label_4 %}
        {% assign category_5 = section.settings.category_label_5 %}
        {% assign category_6 = section.settings.category_label_6 %}
        {% assign category_7 = section.settings.category_label_7 %}
        {% assign category_8 = section.settings.category_label_8 %}
        {% assign category_9 = section.settings.category_label_9 %}
        {% assign category_10 = section.settings.category_label_10 %}

        <div class="faq__content-select"
            {% if section.blocks.size == 0 %}style="display: none"{% endif %}
            data-cate="{{ all_text }},{{category_1}},{{category_2}},{{category_3}},{{category_4}},{{category_5}},{{category_6}},{{category_7}},{{category_8}},{{category_9}},{{category_10}}"
        >
          <modal-faq @filter="onFilter" :category="list" all="{{ all_text }}"></modal-faq>
        </div>
      </div>

      <div class="faq__item-section">
        {% for block in section.blocks %}
          {% assign all = 'category-0' %}
          {% capture category_class %}
            {% if block.settings.category_1 %}
              {% assign cate_1 = 'category-1' %}
            {% else %}
              {% assign cate_1 = nil %}
            {% endif %}

            {% if block.settings.category_2 %}
              {% assign cate_2 = 'category-2' %}
            {% else %}
              {% assign cate_2 = nil %}
            {% endif %}

            {% if block.settings.category_3 %}
              {% assign cate_3 = 'category-3' %}
            {% else %}
              {% assign cate_3 = nil %}
            {% endif %}

            {% if block.settings.category_4 %}
              {% assign cate_4 = 'category-4' %}
            {% else %}
              {% assign cate_4 = nil %}
            {% endif %}

            {% if block.settings.category_5 %}
              {% assign cate_5 = 'category-5' %}
            {% else %}
              {% assign cate_5 = nil %}
            {% endif %}

            {% if block.settings.category_6 %}
              {% assign cate_6 = 'category-6' %}
            {% else %}
              {% assign cate_6 = nil %}
            {% endif %}

            {% if block.settings.category_7 %}
              {% assign cate_7 = 'category-7' %}
            {% else %}
              {% assign cate_7 = nil %}
            {% endif %}

            {% if block.settings.category_8 %}
              {% assign cate_8 = 'category-8' %}
            {% else %}
              {% assign cate_8 = nil %}
            {% endif %}

            {% if block.settings.category_9 %}
              {% assign cate_9 = 'category-9' %}
            {% else %}
              {% assign cate_9 = nil %}
            {% endif %}

            {% if block.settings.category_10 %}
              {% assign cate_10 = 'category-10' %}
            {% else %}
              {% assign cate_10 = nil %}
            {% endif %}
          {% endcapture %}

          {% case block.type %}
            {% when 'category-1' %}
              {{ category_class }}
            {% when 'category-2' %}
              {{ category_class }}
            {% when 'category-3' %}
              {{ category_class }}
            {% when 'category-4' %}
              {{ category_class }}
            {% when 'category-5' %}
              {{ category_class }}
            {% when 'category-6' %}
              {{ category_class }}
            {% when 'category-7' %}
              {{ category_class }}
            {% when 'category-8' %}
              {{ category_class }}
            {% when 'category-9' %}
              {{ category_class }}
            {% when 'category-10' %}
              {{ category_class }}
          {% endcase %}

          <div class="faq__item" data-category="{{ all }},{{ cate_1 }},{{ cate_2 }},{{ cate_3 }},{{ cate_4 }},{{ cate_5 }},{{ cate_6 }},{{ cate_7 }},{{ cate_8 }},{{ cate_9 }},{{ cate_10 }}">
            <div class="faq__question">
              <span>{{ block.settings.title }}</span>
              <div class="item__icon">
                <svg class="Icon Icon--plus" role="presentation" viewBox="0 0 16 16">
                  <g
                    stroke="currentColor"
                    fill="none"
                    fill-rule="evenodd"
                    stroke-linecap="square"
                  >
                    <path d="M8,1 L8,15"></path>
                    <path d="M1,8 L15,8"></path>
                  </g>
                </svg>
                <svg class="Icon Icon--minus" role="presentation" viewBox="0 0 16 2">
                  <path
                    d="M1,1 L15,1"
                    stroke="currentColor"
                    fill="none"
                    fill-rule="evenodd"
                    stroke-linecap="square"
                  ></path>
                </svg>
              </div>
            </div>

            <div class="faq__answer">
              <div>
                {{ block.settings.answer }}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="faq__img">
    {%- if second_img -%}
      <img src="{{ second_img | img_url: 'master' }}" alt="{{ second_img.alt }}">
    {% else %}
      {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
    {%- endif -%}
  </div>

  <div class="faq__contact">
    <div class="xo-container">
      <h2 class="faq__contact-title">{{ section.settings.contact_title }}</h2>
      <div class="faq__contact-desc">{{ section.settings.contact_desc }}</div>
      <!-- https://api.whatsapp.com/send?phone={{section.settings.whatsapp_number}}&text={{section.settings.whatsapp_msg}} -->
      <a href="{{ section.settings.whatsapp_number }}" class="faq__contact-btn h3">
        {{ section.settings.btn_label | upcase }}
      </a>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "FAQ",
  "settings": [
    {
      "type": "header",
      "content": "Category label"
    },
    {
      "type": "text",
      "id": "category_label_1",
      "label": "Category-1",
      "default": "Category 1"
    },
    {
      "type": "text",
      "id": "category_label_2",
      "label": "Category-2",
      "default": "Category 2"
    },
    {
      "type": "text",
      "id": "category_label_3",
      "label": "Category-3",
      "default": "Category 3"
    },
    {
      "type": "text",
      "id": "category_label_4",
      "label": "Category-4",
      "default": "Category 4"
    },
    {
      "type": "text",
      "id": "category_label_5",
      "label": "Category-5",
      "default": "Category 5"
    },
    {
      "type": "text",
      "id": "category_label_6",
      "label": "Category-6",
      "default": "Category 6"
    },
    {
      "type": "text",
      "id": "category_label_7",
      "label": "Category-7",
      "default": "Category 7"
    },
    {
      "type": "text",
      "id": "category_label_8",
      "label": "Category-8",
      "default": "Category 8"
    },
    {
      "type": "text",
      "id": "category_label_9",
      "label": "Category-9",
      "default": "Category 9"
    },
    {
      "type": "text",
      "id": "category_label_10",
      "label": "Category-10",
      "default": "Category 10"
    },
    {
      "type": "text",
      "id": "all_text",
      "label": "All text",
      "default": "Alles"
    },
    {
      "type": "header",
      "content": "Image"
    },
    {
      "id": "first_img",
      "type": "image_picker",
      "label": "First image"
    },
    {
      "id": "second_img",
      "type": "image_picker",
      "label": "Second image"
    },
    {
      "type": "header",
      "content": "Contact"
    },
    {
      "id": "contact_title",
      "type": "text",
      "label": "Contact title",
      "default": "Contact"
    },
    {
      "id": "contact_desc",
      "type": "richtext",
      "label": "Contact desc",
      "default": "<p>Kom je er niet uit en wil je ons graag spreken? We zijn bereikbaar op WhatsApp via</p>"
    },
    {
      "type": "header",
      "content": "Whatsapp button"
    },
    {
      "id": "btn_label",
      "type": "text",
      "label": "Button label",
      "default": "open whatsapp"
    },
    {
      "type": "text",
      "id": "whatsapp_number",
      "label": "Whatsapp link",
      "default": "https://wa.me/31613535447",
      "info": "https://wa.me/0000000000"
    }
  ],
  "blocks": [
    {
      "type": "category-1",
      "name": "Category 1",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Question",
          "default": "Default"
        },
        {
          "type": "richtext",
          "id": "answer",
          "label": "Answer",
          "default": "<p>Answer</p>"
        },
        {
          "type": "header",
          "content": "Select category"
        },
        {
          "type": "checkbox",
          "id": "category_1",
          "label": "Category 1",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "category_2",
          "label": "Category 2",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_3",
          "label": "Category 3",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_4",
          "label": "Category 4",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_5",
          "label": "Category 5",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_6",
          "label": "Category 6",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_7",
          "label": "Category 7",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_8",
          "label": "Category 8",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_9",
          "label": "Category 9",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_10",
          "label": "Category 10",
          "default": false
        }
      ]
    },
    {
      "type": "category-2",
      "name": "Category 2",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Question",
          "default": "Default"
        },
        {
          "type": "richtext",
          "id": "answer",
          "label": "Answer",
          "default": "<p>Answer</p>"
        },
        {
          "type": "header",
          "content": "Select category"
        },
        {
          "type": "checkbox",
          "id": "category_1",
          "label": "Category 1",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_2",
          "label": "Category 2",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "category_3",
          "label": "Category 3",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_4",
          "label": "Category 4",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_5",
          "label": "Category 5",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_6",
          "label": "Category 6",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_7",
          "label": "Category 7",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_8",
          "label": "Category 8",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_9",
          "label": "Category 9",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_10",
          "label": "Category 10",
          "default": false
        }
      ]
    },
    {
      "type": "category-3",
      "name": "Category 3",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Question",
          "default": "Default"
        },
        {
          "type": "richtext",
          "id": "answer",
          "label": "Answer",
          "default": "<p>Answer</p>"
        },
        {
          "type": "header",
          "content": "Select category"
        },
        {
          "type": "checkbox",
          "id": "category_1",
          "label": "Category 1",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_2",
          "label": "Category 2",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_3",
          "label": "Category 3",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "category_4",
          "label": "Category 4",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_5",
          "label": "Category 5",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_6",
          "label": "Category 6",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_7",
          "label": "Category 7",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_8",
          "label": "Category 8",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_9",
          "label": "Category 9",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_10",
          "label": "Category 10",
          "default": false
        }
      ]
    },
    {
      "type": "category-4",
      "name": "Category 4",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Question",
          "default": "Default"
        },
        {
          "type": "richtext",
          "id": "answer",
          "label": "Answer",
          "default": "<p>Answer</p>"
        },
        {
          "type": "header",
          "content": "Select category"
        },
        {
          "type": "checkbox",
          "id": "category_1",
          "label": "Category 1",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_2",
          "label": "Category 2",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_3",
          "label": "Category 3",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_4",
          "label": "Category 4",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "category_5",
          "label": "Category 5",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_6",
          "label": "Category 6",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_7",
          "label": "Category 7",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_8",
          "label": "Category 8",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_9",
          "label": "Category 9",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_10",
          "label": "Category 10",
          "default": false
        }
      ]
    },
    {
      "type": "category-5",
      "name": "Category 5",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Question",
          "default": "Default"
        },
        {
          "type": "richtext",
          "id": "answer",
          "label": "Answer",
          "default": "<p>Answer</p>"
        },
        {
          "type": "header",
          "content": "Select category"
        },
        {
          "type": "checkbox",
          "id": "category_1",
          "label": "Category 1",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_2",
          "label": "Category 2",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_3",
          "label": "Category 3",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_4",
          "label": "Category 4",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_5",
          "label": "Category 5",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "category_6",
          "label": "Category 6",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_7",
          "label": "Category 7",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_8",
          "label": "Category 8",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_9",
          "label": "Category 9",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_10",
          "label": "Category 10",
          "default": false
        }
      ]
    },
    {
      "type": "category-6",
      "name": "Category 6",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Question",
          "default": "Default"
        },
        {
          "type": "richtext",
          "id": "answer",
          "label": "Answer",
          "default": "<p>Answer</p>"
        },
        {
          "type": "header",
          "content": "Select category"
        },
        {
          "type": "checkbox",
          "id": "category_1",
          "label": "Category 1",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_2",
          "label": "Category 2",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_3",
          "label": "Category 3",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_4",
          "label": "Category 4",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_5",
          "label": "Category 5",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_6",
          "label": "Category 6",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "category_7",
          "label": "Category 7",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_8",
          "label": "Category 8",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_9",
          "label": "Category 9",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_10",
          "label": "Category 10",
          "default": false
        }
      ]
    },
    {
      "type": "category-7",
      "name": "Category 7",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Question",
          "default": "Default"
        },
        {
          "type": "richtext",
          "id": "answer",
          "label": "Answer",
          "default": "<p>Answer</p>"
        },
        {
          "type": "header",
          "content": "Select category"
        },
        {
          "type": "checkbox",
          "id": "category_1",
          "label": "Category 1",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_2",
          "label": "Category 2",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_3",
          "label": "Category 3",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_4",
          "label": "Category 4",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_5",
          "label": "Category 5",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_6",
          "label": "Category 6",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_7",
          "label": "Category 7",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "category_8",
          "label": "Category 8",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_9",
          "label": "Category 9",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_10",
          "label": "Category 10",
          "default": false
        }
      ]
    },
    {
      "type": "category-8",
      "name": "Category 8",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Question",
          "default": "Default"
        },
        {
          "type": "richtext",
          "id": "answer",
          "label": "Answer",
          "default": "<p>Answer</p>"
        },
        {
          "type": "header",
          "content": "Select category"
        },
        {
          "type": "checkbox",
          "id": "category_1",
          "label": "Category 1",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_2",
          "label": "Category 2",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_3",
          "label": "Category 3",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_4",
          "label": "Category 4",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_5",
          "label": "Category 5",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_6",
          "label": "Category 6",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_7",
          "label": "Category 7",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_8",
          "label": "Category 8",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "category_9",
          "label": "Category 9",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_10",
          "label": "Category 10",
          "default": false
        }
      ]
    },
    {
      "type": "category-9",
      "name": "Category 9",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Question",
          "default": "Default"
        },
        {
          "type": "richtext",
          "id": "answer",
          "label": "Answer",
          "default": "<p>Answer</p>"
        },
        {
          "type": "header",
          "content": "Select category"
        },
        {
          "type": "checkbox",
          "id": "category_1",
          "label": "Category 1",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_2",
          "label": "Category 2",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_3",
          "label": "Category 3",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_4",
          "label": "Category 4",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_5",
          "label": "Category 5",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_6",
          "label": "Category 6",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_7",
          "label": "Category 7",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_8",
          "label": "Category 8",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_9",
          "label": "Category 9",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "category_10",
          "label": "Category 10",
          "default": false
        }
      ]
    },
    {
      "type": "category-10",
      "name": "Category 10",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Question",
          "default": "Default"
        },
        {
          "type": "richtext",
          "id": "answer",
          "label": "Answer",
          "default": "<p>Answer</p>"
        },
        {
          "type": "header",
          "content": "Select category"
        },
        {
          "type": "checkbox",
          "id": "category_1",
          "label": "Category 1",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_2",
          "label": "Category 2",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_3",
          "label": "Category 3",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_4",
          "label": "Category 4",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_5",
          "label": "Category 5",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_6",
          "label": "Category 6",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_7",
          "label": "Category 7",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_8",
          "label": "Category 8",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_9",
          "label": "Category 9",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "category_10",
          "label": "Category 10",
          "default": true
        }
      ]
    }
  ]
}
{% endschema %}
