{%- comment -%} Chỉ hiện product còn hàng {%- endcomment -%}
{%- if product.available -%}
<div class="product-item swiper-slide">
  <a href="/products/{{ product.handle }}" class="product-item__image">
    <img src="{{ product.featured_image | img_url: '800x800', crop: 'center' }}" alt="{{}}">
  </a>
  <div class="product-item__infomation">
    <div class="product-item__description">
      <div class="product-item__variants">Variant here</div>
      <div class="product-item-shortmeta">Meta here</div>
      <div class="product-item__title">
        <h3>{{ product.title | upcase}}</h3>
      </div>
    </div>
    <div class="product-item__addtocart">
      <add-to-cart-btn
        is-rounded
        variant-id="{{ product.selected_or_first_available_variant.id }}"
        cart-popup-type="drawer"
      >
        <span class="product-item__text">TOEVOEGEN</span>
        <span class="product-item__price">{{ product.price | money }}</span>
      </add-to-cart-btn>
    </div>
  </div>
</div>
{%- endif -%}
{% javascript %}
  new Vue({
    el: ''
  })
{% endjavascript %}
