.collection-template-container {

  .collection-product-wrapper  {
    margin-bottom: 15px;
  }

  .collection-product-item {
    margin-bottom: 15px;
  }

  .collection-product-item:nth-child(odd) {
    padding-right: calc(15px / 2);
  }

  .collection-product-item:nth-child(even) {
    padding-left: calc(15px / 2);
  }

  .product-item-wrapper {
    border-radius: 6px;
  }

  .alles-collection__heading {
    margin: 15px 0;
  }

  .alles-collection__item {
    margin: 15px 0;
    margin-bottom: 0;

    @include responsive(SM) {
      margin-bottom: 15px;
    }
  }
}
