.alles-collections {
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.alles-filter {
  display: flex;
  align-items: center;
  position: relative;
  padding: 15px 0;
  height: 85px;

  .alles-filter__title {
    z-index: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-items: flex-end;
    margin-right: auto;
    margin-bottom: 5px;
    margin-top: 24px;
    font-size: 15px;

    @include responsive(MD) {
      font-size: inherit;
      margin-bottom: 0;
      margin-top: 0;
      flex-direction: row;
      align-items: center;
    }

    > h3 {
      margin-right: 10px;
    }
  }

  .alles-filter__sort {
    z-index: 1;
  }
}


.alles-filter::after {
  content: '';
  position: absolute;
  height: 85px;
  background-color: #e9e2d9;
  left: -100px;
  right: -100px;

  @include responsive(SM) {
    background-color: transparent;
  }
}

.alles-collections {
  .alles-collection__products {
    margin-bottom: 15px;
  }

  .alles-collection__heading {
    margin-top: 26px;
  }

  .alles-collection__item {
    margin: 15px 0;
    margin-bottom: 0;

    @include responsive(SM) {
      margin-bottom: 15px;
    }
  }
}

@media only screen and (max-width: 576px) {
  .alles-collection__item:nth-child(odd) {
    padding-right: calc(15px /2 );
  }

  .alles-collection__item:nth-child(even) {
    padding-left: calc(15px /2 );
  }
}
