<div class="product-container" id="productPageContainer">
  <div class="product-wrapper xo-container">
{% comment %}
    {%- render 'breadcrumbs' -%}
{% endcomment %}
    <div class="xo-row xo-no-gutters">
      <div class="product-slide__wrapper xo-col-12 xo-col-md-6">
        <product-image
          :general-media="generalMedia" v-if="generalMedia !== undefined && generalMedia.length"
          :variant-media="(isMix && variants.length === 1 && groupVariantSelected.groups[0] && groupVariantSelected.groups[0].pricePerUnit === '') ? productInformation.media : hoverVariant.media || groupVariantSelected.media"
          :is-mix="isMix"
        >
          </product-image>
      </div>

      <div class="product-right xo-col-12 xo-col-md-5">
        <div class="product__content">
            <div class="product__content-form">
              <h1 class="h2 product__title" v-cloak>{{ product.title }}
                <template v-if="quantityVariant">
                  (${quantityVariant})
                </template>
              </h1>
              <div class="product__review">
                <star-voting :current="bottomLine.average_score"></star-voting>
                <span v-cloak>${bottomLine.total_review} reviews</span>
              </div>
              <div class="product__variants" :class="!isMix ? 'flex' : ''">
                <template v-if="isMix">
                  <template v-for="(item, index) in mix">
                    <a :href="'/products/' + item.handle + '?variant=' + variant.id" class="mix__link" v-for="(variant) in item.variants" :key="variant.id">
                      <div class="mix-img" :key="index" v-if="variant.image.originalSrc">
                        <img :src="variant.image.originalSrc" alt="">
                      </div>
                      <div class="mix-title">${ variant.quantity }x ${ variant.title }</div>
                    </a>
                  </template>
                </template>
                <template v-else-if="!isOnlyGroup">
                  <button
                    type="button"
                    v-if="!isHidenAllVariant(variant)"
                    v-for="variant in variants"
                    class="product__variant"
                    :class="(variant.id === groupVariantSelected.id ? 'variant--selected' : '') + (Boolean(variant.available) ? '' : ' variant--not-available')"
                    :key="variant.id"
                    @click="updateVariant(variant); updateParam(variant.id)"
                    @mousemove="onMouseMoveVariant(variant)"
                    @mouseleave="onMouseLeaveVariant()"
                    :style="{ background: `url(${variant.image.originalSrc}) center center` }"
                  >
                    <img :src="variant.image.originalSrc" alt="">
                  </button>

                </template>
                <a
                  :href="mixVariant.link"
                  v-if="!mixVariant.isHide"
                  v-for="mixVariant in productInformation.mixVariants"
                  class="product__variant"
                  :key="mixVariant._id"
                  @mousemove="onMouseMoveMixVariant(mixVariant)"
                  @mouseleave="onMouseLeaveMixVariant()"
                  :style="{ background: `url(${mixVariant.image}) center center` }"
                >
                  <img :src="mixVariant.image" alt="">
                </a>
              </div>
              <p class="product__tags" v-if="!isOnlyGroup && !isMix" v-cloak>${hoverMixVariant.title2 ? hoverMixVariant.title2 : metaVariant}</p>
              <div class="product__info" v-cloak v-if="groups !== undefined">
                <template v-if="!isMix">
                  <div class="variant-tag" v-if="group.title2 && !group.hide" v-for="(group, index) in groups" :key="index" @click="updateVariantGroup(groupVariantSelected, index); updateParam(groupVariantSelected.id)" :class="group.id == hoverVariant.id ? 'is-selected' : ''">
                    <span>${group.title2}</span>
                    <span>${group.pricePerUnit}</span>
                  </div>
                </template>
                <template v-else>
                  <template v-for="(variant, i) in variants">
                    <div class="variant-tag" v-for="(group, index) in variant.groups" v-if="group.title2 && !group.hide" :key="index + i" @click="hoverVariant = variant; updateVariant(variant); updateVariantGroup(groupVariantSelected, index); updateParam(groupVariantSelected.id)" :class="group.id == groupVariantSelected.id ? 'is-selected' : ''">
                      <span>${group.title2}</span>
                      <span>${group.pricePerUnit}</span>
                    </div>
                  </template>
                </template>
              </div>
              <div class="product__form" v-if="hoverVariant">
                <div v-show="Boolean(hoverVariant.available)" class="input-number">
                  <button class="decreasement" @click="value > 1 ? value-- : value">-</button>
                  <input type="number" v-model.number="value" min="1" max="10" @change="handleValue" required>
                  <button class="increasement" @click="value++">+</button>
                </div>

                <div class="product__addtocart" v-if="hoverVariant.id !== undefined">
                  <add-to-cart-btn
                    :is-available="hoverVariant.available"
                    :variant-id="groupVariantSelected.id"
                    :quantity="value"
                    is-rounded
                    is-large
                    cart-popup-type="toast"
                    ref="addToCart"
                    :content-toast="{title: '{{ product.title }}', quantity: quantityVariant, decscription: metaVariant}"
                  >
                    <h3 v-cloak>
                      <template v-if="Boolean(hoverVariant.available)">TOEVOEGEN</template>
                      <template v-else>UITVERKOCHT</template>
                    </h3>
                    <p v-cloak>
                      <template v-if="Boolean(hoverVariant.available)">
                        ${hoverVariant.price * value | hugMoneyFormat}
                      </template>
                      <template v-else>
                        ${hoverVariant.price | hugMoneyFormat}
                      </template>
                    </p>
                  </add-to-cart-btn>
                  <div class="first-click" v-if="isFirstAccess && Boolean(hoverVariant.available)" @click="handleFirstAccess"></div>

                  <div class="modal__addtocart" v-if="isFirstAccess && isPopupFirstAccess" v-cloak>
                    <div class="modal__wrapper">
                      <div class="modal__logo">
                        {% render 'icon-book' %}
                      </div>

                      <p>Ik heb de voedingswaarden en ingrediënten van dit product doorgelezen</p>

                      <div class="modal__button">
                        <button type="button" @click="handleClickFirstAccess(true)">Nee</button>
                        <button type="button" @click="handleClickFirstAccess(false)">Ja</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Desc -->
            <div class="product__desc">
              <product-description
                v-if="descriptions !== undefined && descriptions.length"
                :description-arr="descriptions"
              >
              <template v-slot:icon>
                <template v-if="Boolean(generalInformations.icon)">
                  <img :src="generalInformations.icon" alt="">
                </template>
                <template v-else>
                  <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M12 21.593c-5.63-5.539-11-10.297-11-14.402 0-3.791 3.068-5.191 5.281-5.191 1.312 0 4.151.501 5.719 4.457 1.59-3.968 4.464-4.447 5.726-4.447 2.54 0 5.274 1.621 5.274 5.181 0 4.069-5.136 8.625-11 14.402m5.726-20.583c-2.203 0-4.446 1.042-5.726 3.238-1.285-2.206-3.522-3.248-5.719-3.248-3.183 0-6.281 2.187-6.281 6.191 0 4.661 5.571 9.429 12 15.809 6.43-6.38 12-11.148 12-15.809 0-4.011-3.095-6.181-6.274-6.181"/></svg>
                </template>
              </template>
              </product-description>
            </div>
            <portal to="desc-0">
              <template v-if="goedOmTeWetenInfomations !== undefined && goedOmTeWetenInfomations.goedOmTeWeten.length > 0">
                <div class="description-desc__list">
                  <p v-for="(item, index) in goedOmTeWetenInfomations.goedOmTeWeten" :key="index">
                    <span class="description-list__icon">
                      <img :src="item.icon" alt="">
                    </span>
                    <span class="description-list__text">${item.title}</span>
                  </p>
                </div>
              </template>
            </portal>
            <portal to="faq">
              <template v-if="generalInformations.faq !== undefined">
                <div class="product__faq" v-if="generalInformations.faq.length > 0">
                  <h3 class="infor__title">FAQ</h3>
                  <div class="faq__list">
                    <item-info-product v-for="(faq, index) in generalInformations.faq" :key="index" :value="faq.value">${faq.label}</item-info-product>
                  </div>
                </div>
              </template>
            </portal>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="review__banner" v-if="productInformation.boek && productInformation.boek.enable">
  <div class="banner__image" :style="{ backgroundColor: `${productInformation.boek && productInformation.boek.color}`, '--bgDesktop': `url(${productInformation.boek && productInformation.boek.bgDesktop})`, '--bgMobile': `url(${productInformation.boek && productInformation.boek.bgMobile})` }"></div>
  <h2 class="h1 banner__text">${productInformation.boek && productInformation.boek.title}</h2>
</div>
<div class="product__infor-wrapper" v-if="!isMix" style="background-image: url({{ 'dot.png' | asset_url }});">
  <!-- <div class="boek__banner">
    <div class="boek__image">
      <img :src="boekBackground" alt="">
    </div>
  </div> -->
  <div class="xo-container">
    <div class="xo-row">
      <template v-if="ingredientInformations !== undefined">
        <div class="product__ingredients xo-col-md-5" v-if="!ingredientInformations.isDisableLabel && ingredientInformations.ingredients.length > 0">
          <h3 class="infor__title" v-cloak>${ingredientInformations.labelDisplay}</h3>
          <div class="ingredients__list">
            <item-info-product
              v-for="(ingredient, index) in ingredientInformations.ingredients"
              :key="index"
              :percent="ingredient.percent"
              :value="ingredient.value"
              :image-ingredient="ingredient.img"
            >
              ${ingredient.label}
            </item-info-product>
          </div>
          <div class="allergenen" v-if="ingredientInformations.allergenen" style="padding: 0 10px; font-size: 0px">
            <div class="allergenen-icon">
            </div>
            <span v-cloak style="font-size: 15px">${ingredientInformations.allergenen}</span>
          </div>
        </div>
      </template>

      <!-- <template v-if="accordion !== undefined">
        <div class="xo-col-md-5">
          <template v-for="(item, index) in accordion">
            <div class="description-item description-accordion is-expand">
              <h3 class="infor__title description-accordion__title">
                ${item.title}
              </h3>
              <div class="description-accordion__content" style="border-radius: 10px;">
                <div
                  :key="index"
                  v-html="item.desc"
                >
                </div>
              </div>
            </div>
          </template>
        </div>
      </template> -->

      <template v-if="nutritionInformation !== undefined">
        <!-- <div class="product__nutritional xo-col-md-6" v-if="nutritionInformation.nutritions.length > 0 && !nutritionInformation.isDisableLabel">
          <h3 class="infor__title" v-cloak>${nutritionInformation.labelDisplay}</h3>
          <div class="info__wrapper">
            <div class="info__tabs">
              <div class="info__tab" v-cloak v-for="(nutrition, index) in nutritionInformation.nutritions" v-if="nutrition.nutritionalDetail !== undefined && nutrition.nutritionalDetail.length > 0" :key="index" :class="nutritionSelected === nutrition ? 'tab--active' : ''" :key="index" @click="setNutritionSelected(index)">
                ${nutrition.title}
              </div>
            </div>
            <div class="info__detail">
              <div class="info__item" v-for="(item, index) in nutritionSelected.nutritionalDetail" :class="(item.typeText==='line' ? 'info__item--line' : '') + (item.typeText==='small' ? 'info__item--small' : '')" :key="index">
                <span v-cloak>${item.label}</span>
                <span v-cloak>${item.value}</span>
              </div>
            </div>
          </div>
        </div> -->
        <div class="xo-col-md-5 xo-offset-md-1">
          <div class="product__nutritional" v-if="nutritionInformation && nutritionInformation.nutritions.length > 0 && !nutritionInformation.isDisableLabel">
            <div class="product__nutritional-header infor__title">
              <h3 v-cloak>${nutritionInformation.labelDisplay}</h3>
              <div class="nutrition__select-wrapper">
                <select class="nutrition__select" @change="setNutritionSelected($event.target.value)">
                  <option v-for="(nutrition, index) in nutritionInformation.nutritions" :value="index" v-if="nutrition.nutritionalDetail !== undefined && nutrition.nutritionalDetail.length > 0" :key="index" :key="index" @click="setNutritionSelected(index)">${nutrition.title}</option>
                </select>
              </div>
            </div>
            <div class="product__nutritional-detail">
              <template  v-for="(item, index) in nutritionSelected.nutritionalDetail">
                <div class="info__item" v-if="item.type !== 'none'" :style="{justifyContent: `flex-start`}" :key="index">
                  <div class="item__left">
                    <div v-cloak>${item.label}</div>
                    <div class="info__item--small" v-if="item.enableSub" v-cloak>${item.subNutrition.label}</div>
                  </div>
                  <div class="item__chart">
                    <div class="chart__column">
                      <div :class="[item.type === 'settings' ? item.className : '' ,'column-main']" :style="[item.type === 'settings' ? '' : {'background-color': `${item.color}`}, {'width': `${Number(item.value) * 100 / weightNutrition}%`}]"></div>
                      <div :class="[item.type === 'settings' ? item.subNutrition.className : '', 'column-submain']" v-if="item.enableSub" :style="[item.type === 'settings' ? '' : {'background-color': `${item.subNutrition.color}`}, {'width': `${Number(item.subNutrition.value) * 100 / weightNutrition}%`}]"></div>
                    </div>
                    <div class="chart__value" :style="{left: `${Number(item.value) * 100 / weightNutrition}%`}">
                      <div class="value-main">${Number(item.value)}${item.unit}</div>
                      <div class="value-submain info__item--small" v-if="item.enableSub">${Number(item.subNutrition.value)}${item.unit}</div>
                    </div>
                  </div>
                </div>
              </template>
              <template v-for="(item, index) in nutritionSelected.nutritionalDetail">
                <div :class="[item.type === 'settings' ? item.className : '','info__item-nor']" v-if="item.type === 'none'" :key="index" :style="[item.type==='none' ? { 'background': 'transparent' } : '']">
                  <span v-cloak>${item.label}:</span>
                  <span>${Number(item.value)}${item.unit}</span>
                </div>
              </template>

            </div>
          </div>
        </div>
      </template>


      <template v-if="bloodSugar !== undefined">
        <div class="product__marges xo-col-md-5" v-if="!bloodSugar.isDisableLabel && bloodSugar.items.length > 0">
          <h3 class="infor__title" v-cloak>${bloodSugar.labelDisplay}</h3>
          <div class="info__wrapper" style="background-color: #f8f5f2;">
            <blood-sugar-chart v-if="loaded" :chart-data="chartBloodSugarData" :chart-options="chartBloodSugarOptions"/>
          </div>
          <div class="blood-sugar__desc" style="font-size: 15px; margin-top: 20px" v-cloak>${bloodSugar.explain}</div>
        </div>
        <div class="xo-col-md-1"></div>
      </template>

      <template v-if="finances !== undefined">
        <div class="product__marges xo-col-md-5" v-if="!finances.isDisableLabel && finances.financialDetails.length > 0">
          <h3 class="infor__title" v-cloak>${finances.labelDisplay}</h3>
          <div class="info__wrapper" style="background-color: #f8f5f2;">
            <div class="info__item" v-for="(item, index) in finances.financialDetails" :class="item.typeText==='line' ? 'info__item--line' : ''" :key="index">
              <span v-cloak>${item.label}</span>
              <span v-cloak>${item.value}</span>
            </div>
          </div>
        </div>
      </template>


      <template v-if="progress !== undefined">
        <div class="product__timeline xo-col-md-5" v-if="!progress.isDisableLabel && progress.progressions.length > 0">
          <h3 class="infor__title" v-cloak>${progress.labelDisplay}</h3>
          <div class="timeline__wrapper">
            <div class="timeline__item" v-for="(item, index) in progress.progressions" :key="index">
              <div :class="'timeline__checkmark'+ (item.done ? ' is-done' : '')">
                <svg v-if="item.done" width="14" height="10" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="1008 3006 14 10">
                  <image xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAKCAYAAACE2W/HAAAA9klEQVQoU5WRu0rEUBCGv8nACtr4AkLgnDTBR3GVRXvFwgewstbGzq0FKy9Y+AA+hncIJ4mgjxHCSOTsEiLiOtUwzD/f/DPCP8I5NxGRI+BWFtV573eAK2AJuF9I6L3fAm6AZeAZmPwpzLJs28w60Qh4UdXNoijexTm3BhwnSVKHEE76q0dPl8CKiDy1bTuu6/qj65E48S4KpmVZHgIWPV1H0quqjjvSbLCkabqqqmcisheLp2b2ICIXHQl4NLNxVVWf/W3mHr33XeP+4MpvqrrRJ82JsyTP81HTNOdmtvvtYeBp+LYfV3XOTZMkWQcOQgj1b3/+Ak2mVJo9lBw3AAAAAElFTkSuQmCC" width="14" height="10" x="1008" y="3006"/>
                </svg>
              </div>
              <item-info-product :value="item.value" :image="item.image" v-cloak>${ item.label }</item-info-product>
            </div>
          </div>
        </div>
      </template>

      <template v-if="packages !== undefined">
        <div class="product__packaging xo-col-md-5" v-if="!packages.isDisableLabel && packages.listPackages.length > 0">
          <h3 class="infor__title" v-cloak>${packages.labelDisplay}</h3>
          <div class="packaging__list">
            <item-info-product v-for="(packaging, index) in packages.listPackages" :key="index" :value="packaging.value">${ packaging.label }</item-info-product>
          </div>
        </div>
      </template>
    </div>
  </div>
</div>
<div class="review__banner" v-if="productInformation.review && productInformation.review.enable">
  <div class="banner__image" :style="{ backgroundColor: `${productInformation.review && productInformation.review.color}`, '--bgDesktop': `url(${productInformation.review && productInformation.review.bgDesktop})`, '--bgMobile': `url(${productInformation.review && productInformation.review.bgMobile})` }"></div>
  <h2 class="h1 banner__text">${productInformation.review && productInformation.review.title}</h2>
</div>

<portal to="banner-faq" v-if="productInformation.faqs && productInformation.faqs.enable">
  <div class="review__banner">
    <div class="banner__image" :style="{ backgroundColor: `${productInformation.faqs && productInformation.faqs.color}`, '--bgDesktop': `url(${productInformation.faqs && productInformation.faqs.bgDesktop})`, '--bgMobile': `url(${productInformation.faqs && productInformation.faqs.bgMobile})` }"></div>
    <h2 class="h1 banner__text">${productInformation.faqs && productInformation.faqs.title}</h2>
  </div>
</portal>
<div class="xo-scroll" style="pointer-events: none;"></div>

{% schema %}
{
    "name": "Product",
    "settings": []
  }
{% endschema %}

