.xo-toast-msg--is-success {
  z-index: 999;
  color: #fff;
  transition: all .4s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  max-width: none;
  border-radius: 10px;
  top: 0 !important;
  right: 23px;
  box-shadow: 0 3px 6px -1px rgba($color: #000000, $alpha: 0.12), 0 10px 36px -4px #3a3a3a;

  &::after {
    content: '';
    position: absolute;
    top: -11px;
    right: 0;
    width: 20px;
    height: 20px;
    background-color: #242424;
    z-index: 999;
    clip-path: polygon(100% 4%, 79% 33%, 62% 48%, 48% 56%, 22% 64%, 0% 71%, 0% 99%, 0% 100%, 35% 100%, 60% 100%, 100% 100%, 100% 75%, 100% 45%, 100% 25%);
  }

  .toast-close {
    position: absolute;
    top: 30px;
    right: 2px;
    opacity: 0;
  }

  > strong {
    @include responsive(MD) {
      margin: 0 10px;
    }
  }
}
