<template>
  <div class="product__slide">
    <div class="product__slide-feature swiper-container">
      <div class="swiper-wrapper">
        <template v-for="(media, index) in allMedia">
          <!-- Image  -->
          <template v-if="media.mediaContentType === 'IMAGE'">
            <div class="product__item swiper-slide" :key="index">
              <img :src="media.image.originalSrc" alt="Image product Upfront">
            </div>
          </template>
          <!-- Video  -->
          <template v-if="media.mediaContentType === 'VIDEO'">
            <div class="product__item swiper-slide" :key="index">
              <video
                class="product-image__video"
                autoplay loop playsinline muted controls
                style=" width: 100%; height: 100%; object-fit: contain;display: inline-block;"
              >
                <source :src="media.originalSource.url" type="video/mp4">
              </video>
            </div>
          </template>
        </template>
      </div>

      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
    </div>

    <div class="product__slide-thumbs">
      <template v-for="(media, index) in allMedia">
        <div
          :class="'product-thumb__item swiper-slide' + (activeIndexSwiper === index ? ' swiper-slide-thumb-active' : '')"
          :key="index"
          @click="handleSlideTo(index)"
        >
          <img :src="createThumbnail(media.preview.image.originalSrc, '156x156')" alt="">
          <span v-if="media.mediaContentType === 'VIDEO'">
          </span>
        </div>
      </template>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from 'vue-class-component';
import { Prop } from 'vue-property-decorator';
import Swiper, { Pagination, EffectFade } from 'swiper';
import { Media } from "Types/product-information/information";

Swiper.use([Pagination, EffectFade]);

const handleMainSlider = (): Swiper => {
  const productMainSwiper = new Swiper('.product__slide-feature', {
    slidesPerView: 1.3,
    watchOverflow: true,
    watchSlidesVisibility: true,
    watchSlidesProgress: true,
    pagination: {
      el: '.product__slide-feature .swiper-pagination',
      clickable: true,
    },
    breakpoints: {
      768: {
        slidesPerView: 1,
        effect: 'fade'
      },
    },
  });

  return productMainSwiper;
};

@Component
export default class ProductImage extends Vue {
  @Prop() generalMedia!: Media[];

  @Prop() variantMedia!: Media[];

  @Prop() isMix!: boolean;

  allPreview: Partial<Media>[] = [];

  swiperFeaturedImage: Swiper = handleMainSlider();

  activeIndexSwiper: number = 0;

  get allMedia(): Media[] {
    return this.variantMedia;
  }

  mounted() {
    this.swiperFeaturedImage.init();
  }

  updated() {
    this.swiperFeaturedImage.update();
  }

  handleSlideTo(index: number) {
    this.swiperFeaturedImage.slideTo(index, 250);
    this.activeIndexSwiper = index;
  }

  createThumbnail = (url: string, thumbSize: string): string => {
    let newURL = url;
    if (url.includes('cdn.shopify.com')) {
      /** Nếu giá trị truyền vào là url thay vì object ảnh */
      newURL = url
        .replace('.jpg', `_${thumbSize}_crop_center.jpg`)
        .replace('.JPG', `_${thumbSize}_crop_center.JPG`)
        .replace('.png', `_${thumbSize}_crop_center.png`)
        .replace('.PNG', `_${thumbSize}_crop_center.PNG`)
        .replace('.jpeg', `_${thumbSize}_crop_center.jpeg`)
        .replace('.JPEG', `_${thumbSize}_crop_center.JPEG`);
    }
    return newURL;
  };
}
</script>
