<template>
  <div class="product_desc_wrapper">
    <template v-for="(description, index) in descriptionArr">
      <!-- Description -->
      <div
        :key="index"
        v-if="description.type === 'desc'"
        class="description-item decsription-decs"
      >
        <h3 class="description-desc__title">
          {{description.title}}
        </h3>
        <div
          v-if="!description.value"
          class="description-desc__content desc__chat"
        >
          <p v-for="(item, index) in description.items" :key="'desc__content' + index" v-html="item">
          </p>
          <portal-target :name="`desc-${index}`" >

          </portal-target>
        </div>
        <div
          v-if="description.value"
          class="description-desc__content desc__chat"
        >
          <div v-html="description.value"></div>
          <portal-target :name="`desc-${index}`" >

          </portal-target>
        </div>
      </div>

      <!-- List -->
      <portal :key="'portal' + index" to="desc-0">
        <div
          v-if="description.type === 'list'"
          class="description-desc__list"
        >
          <p v-for="(item, index) in description.items" :key="`list` + index">
            <span class="description-list__icon">
              <slot name="icon"></slot>
            </span>
            <span class="description-list__text" v-if="!item.value">{{item}}</span>
            <span class="description-list__text" v-if="item.value">{{item.value}}</span>
          </p>
        </div>
      </portal>

      <!-- Accordion
      <div
        :key="index"
        v-if="description.type === 'accordion'"
        class="description-item description-accordion"
      >
        <h3 class="description-accordion__title" @click="onExpandAccordion($event)">
          {{description.title}}
        </h3>
        <div class="description-accordion__content">
          <div
            v-for="(item, index) in description.items"
            :key="index"
            v-html="item"
          >
          </div>
        </div>
      </div> -->
    </template>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from 'vue-class-component';
import { Prop } from 'vue-property-decorator';
import { Description } from "Types/product-information/information";

@Component
export default class ProductDescription extends Vue {
  @Prop() descriptionArr: Description[];

  onExpandAccordion(event: Event) {
    const accordionTitle = event.target as HTMLElement;
    const accordionItem = accordionTitle.parentElement as HTMLElement;
    const accordionContent = accordionItem.querySelector('.description-accordion__content') as HTMLElement;

    accordionItem.style.setProperty('--max-height-accordion', `${accordionContent.scrollHeight}px`);
    accordionItem.classList.toggle('is-expand');
  }
}

</script>

<style lang="scss">
.description-desc__content p {
  margin-bottom: 10px;
}
.description-desc__content,
.description-list__content {
  background-color: #fff;
  border-radius: 15px;

  padding: 20px;
}

.description-desc__list {
  padding-top: 20px;
  p {
    position: relative;
    padding-left: 30px;
  }
}
</style>
