.about-infor-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.about-accordion2__container {
  > p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 30px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
}
.about-infor-title {
  padding-bottom: 20px;
  font-size: 24px;
  letter-spacing: 1px;
  font-family: font(stack-header);
}

.about-accordion2__desc {
  overflow: hidden;
  max-height: 0;
  transition: max-height .4s ease-in-out;
  padding: 0 20px;

  @include responsive(MD) {
    padding-left: 35px;
  }

  > * {
    text-align: left;
  }

  div {
    font-size: 17px;
    width: 100%;
  }
}

.about-accordion2__item {
  border: 2px solid #242424;
  border-radius: 10px;
  margin: 10px 0;

  &.is-expand {
    .about-accordion2__desc {
      max-height: var(--max-height-desc2);
      transition: max-height .4s ease-in-out;
    }
  }

  h3 {
    margin-bottom: 10px;
    line-height: 120%;
  }

  a {
    color: -webkit-link;
    text-decoration: underline;
  }

  // Reset css ol, ul, li
  ul, ol {
    padding-left: 1.2rem;
  }
  ul {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    list-style-position: inside;
  }

  ol {
    display: block;
    list-style-type: decimal;
    margin-bottom: 1.2em;
    margin-left: 0;
    margin-right: 0;
    list-style-position: inside;
  }

  ul ul, ol ul {
    list-style-type: circle;
    list-style-position: inside;
    margin-left: 15px;
  }

  ol ol, ul ol {
    list-style-type: lower-latin;
    list-style-position: inside;
    margin-left: 15px;
  }
}

.about-accordion2__title {
  font-size: font(h3-mobile);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 0;
  cursor: pointer;

  @include responsive(MD) {
    font-size: font(h3-desktop);
  }
}


