<div class="about-infor-wrapper xo-container" id='aboutInforContainer2'>
  <h2 class="about-infor-title">{{ section.settings.title | upcase }}</h2>
  <div class='about-accordion2__container bg-trans' id="accordionContainer">
    <!-- <div class="about-accordion__title h3">{{ block.settings.title | upcase }}</div> -->
    {{ pages[section.settings.page].content }}
  </div>
</div>

<style>
  #shopify-{{ section.id }} {
    background-color: #f5efe8;
  }
</style>

{% schema %}
{
  "name": "About accordion 2",
  "class": "page__color",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Career"
    },
    {
      "type": "page",
      "id": "page",
      "label": "Select page"
    }
  ]
}
{% endschema %}
