<div id="address">
  <div  :class="['address', isExpand ? 'is-active' : '']" >
    <div class="address-wrapper xo-container">
      <!-- Header  -->
      <header class="address__header">
        <a href="{{ routes.account_url }}">
          {% render 'icon' with 'select-arrow-left' %}
          {{ 'customer.other.back_to_account' | t }}
        </a>

        <div class="address__heading">
          <h3 class="address__title">{{ 'customer.addresses.title' | t }}</h3>

          {%- if customer.addresses_count == 0 -%}
            <p class="address__desc">{{ 'customer.other.no_address' | t }}</p>
          {%- endif -%}

          <div class="address__btn">
            <label @click="toggleExpand" for="formAdd" class="btn btn--is-fullwidth btn--is-rounded">
              {{ 'customer.addresses.add_new' | t }}
            </label>
          </div>
        </div>
      </header>

      <!-- List address  -->
      {%- if customer.addresses_count > 0 -%}

          <div class="address__list xo-row">
            {%- for address in customer.addresses -%}
              <div class="address__item xo-col-12 xo-col-md-6 xo-col-lg-4">
                <div>
                  {%- if address == customer.default_address -%}
                    <h4 class="address__item-heading">{{ 'customer.addresses.default' | t }} {{ 'customer.addresses.address1' | t }}</h4>
                  {%- else -%}
                    {%- assign position = paginate.current_page | times: forloop.index -%}
                    <h4 class="address__item-heading">{{ 'customer.addresses.address1' | t }}</h4>
                  {%- endif -%}

                  <div class="address__item-content">
                    {{ address | format_address | replace: '<p>', '<p class="AccountAddress"><span>' | replace_first: '<br>', '</span><br>' }}
                    <div>
                      <button class="address__item-btn btn-link address__item-edit" @click="toggleExpand">{{ 'customer.addresses.edit' | t }}</button>
                      <form
                        class="address-delete-form"
                        method="post"
                        action="/account/addresses/{{ address.id }}"
                        data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}"
                      >
                        <input type="hidden" name="_method" value="delete" />
                        <button class="address__item-btn btn-link" type="submit">
                          {{ 'customer.addresses.delete' | t }}
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            {%- endfor -%}
          </div>

      {%- endif -%}
    </div>
  </div>

  <template>
    <transition name="fade">
      <div class="address-overlay" v-show="isExpand" @click="toggleExpand"></div>
    </transition>
  </template>

  {% comment %}FORM FOR NEW ADDRESS{% endcomment %}

  <div class="modal-address modal-address-add" :class="[(isExpand ? 'active1' : '')]">
    {%- comment -%} Icon {%- endcomment -%}
    <span class="modal-address__icon" @click="toggleExpand">
      {%- render 'icon' with 'close' -%}
    </span>

    <header class="modal-address__header">
      <h3 class="modal-address__title">{{ 'customer.addresses.add_new' | t }}</h3>
      <p class="modal-address__desc">{{ 'customer.other.fill_information' | t }}:</p>
    </header>

    <div class="modal-address__content">
      {% form 'customer_address', customer.new_address %}
        <div class="modal-address-form__item">
          <label class="modal-address-form__title">{{ 'customer.addresses.first_name' | t }}</label>
          <input type="text" class="modal-address-form__input" name="address[first_name]" value="{{ form.first_name }}" placeholder="{{ 'customer.addresses.first_name' | t }}" aria-label="{{ 'customer.addresses.first_name' | t }}">
        </div>

        <div class="modal-address-form__item">
          <label class="modal-address-form__title">{{ 'customer.addresses.last_name' | t }}</label>
          <input type="text" class="modal-address-form__input" name="address[last_name]" value="{{ form.last_name }}" placeholder="{{ 'customer.addresses.last_name' | t }}" aria-label="{{ 'customer.addresses.last_name' | t }}">
        </div>

        <div class="modal-address-form__item">
          <label class="modal-address-form__title">{{ 'customer.addresses.company' | t }}</label>
          <input type="text" class="modal-address-form__input" name="address[company]" value="{{ form.company }}" placeholder="{{ 'customer.addresses.company' | t }}" aria-label="{{ 'customer.addresses.company' | t }}">
        </div>

        <div class="modal-address-form__item">
          <label class="modal-address-form__title">{{ 'customer.addresses.phone' | t }}</label>
          <input type="text" class="modal-address-form__input" name="address[phone]" value="{{ form.phone }}" placeholder="{{ 'customer.addresses.phone' | t }}" aria-label="{{ 'customer.addresses.phone' | t }}">
        </div>

        <div class="modal-address-form__item">
          <label class="modal-address-form__title">{{ 'customer.addresses.address1' | t }}</label>
          <input type="text" class="modal-address-form__input" name="address[address1]" value="{{ form.address1 }}" placeholder="{{ 'customer.addresses.address1' | t }}" aria-label="{{ 'customer.addresses.address1' | t }}">
        </div>

        <div class="modal-address-form__item">
          <label class="modal-address-form__title">{{ 'customer.addresses.address2' | t }}</label>
          <input type="text" class="modal-address-form__input" name="address[address2]" value="{{ form.address2 }}" placeholder="{{ 'customer.addresses.address2' | t }}" aria-label="{{ 'customer.addresses.address2' | t }}">
        </div>

        <div class="modal-address-form__item">
          <label class="modal-address-form__title">{{ 'customer.addresses.city' | t }}</label>
          <input type="text" class="modal-address-form__input" name="address[city]" value="{{ form.city }}" placeholder="{{ 'customer.addresses.city' | t }}" aria-label="{{ 'customer.addresses.city' | t }}">
        </div>

        <div class="modal-address-form-group">
          <div class="modal-address-form__item">
            <div class="modal-address-form__select">
              <label class="modal-address-form__title">{{ 'customer.addresses.country' | t }}</label>
              <select name="address[country]" title="{{ 'customer.addresses.country' | t }}">{{ all_country_option_tags }}</select>
            </div>
          </div>

          <div class="modal-address-form__item">
            <label class="modal-address-form__title">{{ 'customer.addresses.zip' | t }}</label>
            <input type="text" class="modal-address-form__input" name="address[zip]" value="{{ form.zip }}" placeholder="{{ 'customer.addresses.zip' | t }}" aria-label="{{ 'customer.addresses.zip' | t }}">
          </div>
        </div>

        <div class="modal-address-form__item">
          <div>
            <input type="checkbox" name="address[default]" id="address-new[default]" value="0">
            <label for="address-new[default]">{{ 'customer.addresses.set_default' | t }}</label>
          </div>
        </div>

        <button class="btn btn--is-rounded">{{ 'customer.addresses.add_new' | t }}</button>
      {% endform %}
    </div>
  </div>

  {% comment %}FORM FOR EXISTING ADDRESSES{% endcomment %}

  {%- for address in customer.addresses -%}
    <div :class="[(isExpand ? 'modal-address modal-address-edit' : 'modal-address modal-address-edit')]">

      <span class="modal-address__icon" @click="toggleExpand">
        {%- render 'icon' with 'close' -%}
      </span>

      <header class="modal-address__header">
        <h3 class="modal-address__title">{{ 'customer.addresses.edit_address' | t }}</h3>
        <p class="modal-address__desc">{{ 'customer.other.fill_information' | t }}:</p>
      </header>

      <div class="modal-address__content">
        {% form 'customer_address', address %}
          <div class="modal-address-form__item">
            <label class="modal-address-form__title">{{ 'customer.addresses.first_name' | t }}</label>
            <input type="text" class="modal-address-form__input" name="address[first_name]" value="{{ form.first_name }}" placeholder="{{ 'customer.addresses.first_name' | t }}" aria-label="{{ 'customer.addresses.first_name' | t }}" autofocus>
          </div>

          <div class="modal-address-form__item">
            <label class="modal-address-form__title">{{ 'customer.addresses.last_name' | t }}</label>
            <input type="text" class="modal-address-form__input" name="address[last_name]" value="{{ form.last_name }}" placeholder="{{ 'customer.addresses.last_name' | t }}" aria-label="{{ 'customer.addresses.last_name' | t }}">
          </div>

          <div class="modal-address-form__item">
            <label class="modal-address-form__title">{{ 'customer.addresses.company' | t }}</label>
            <input type="text" class="modal-address-form__input" name="address[company]" value="{{ form.company }}" placeholder="{{ 'customer.addresses.company' | t }}" aria-label="{{ 'customer.addresses.company' | t }}">
          </div>

          <div class="modal-address-form__item">
            <label class="modal-address-form__title">{{ 'customer.addresses.phone' | t }}</label>
            <input type="text" class="modal-address-form__input" name="address[phone]" value="{{ form.phone }}" placeholder="{{ 'customer.addresses.phone' | t }}" aria-label="{{ 'customer.addresses.phone' | t }}">
          </div>

          <div class="modal-address-form__item">
            <label class="modal-address-form__title">{{ 'customer.addresses.address1' | t }}</label>
            <input type="text" class="modal-address-form__input" name="address[address1]" value="{{ form.address1 }}" placeholder="{{ 'customer.addresses.address1' | t }}" aria-label="{{ 'customer.addresses.address1' | t }}">
          </div>

          <div class="modal-address-form__item">
            <label class="modal-address-form__title">{{ 'customer.addresses.address2' | t }}</label>
            <input type="text" class="modal-address-form__input" name="address[address2]" value="{{ form.address2 }}" placeholder="{{ 'customer.addresses.address2' | t }}" aria-label="{{ 'customer.addresses.address2' | t }}">
          </div>

          <div class="modal-address-form__item">
            <label class="modal-address-form__title">{{ 'customer.addresses.city' | t }}</label>
            <input type="text" class="modal-address-form__input" name="address[city]" value="{{ form.city }}" placeholder="{{ 'customer.addresses.city' | t }}" aria-label="{{ 'customer.addresses.city' | t }}">
          </div>

          <div class="modal-address-form-group">
            <div class="modal-address-form__item">
              <div class="modal-address-form__select">
                <label class="modal-address-form__title">{{ 'customer.addresses.country' | t }}</label>
                <select name="address[country]" title="{{ 'customer.addresses.country' | t }}" data-default="{{ form.country }}">{{ all_country_option_tags }}</select>
              </div>
            </div>

            <div class="modal-address-form__item">
              <label class="modal-address-form__title">{{ 'customer.addresses.zip' | t }}</label>
              <input type="text" class="modal-address-form__input" name="address[zip]" value="{{ form.zip }}" placeholder="Zip code" aria-label="Zip code">
            </div>
          </div>

          <div class="modal-address-form__item">
            <div>
              <input type="checkbox" id="address-{{ address.id }}[default]" name="address[default]" {% if address.id == customer.default_address.id %}value="1" checked{% endif %}>
              <label for="address-{{ address.id }}[default]">{{ 'customer.addresses.set_default' | t }}</label>
            </div>
          </div>

          <button class="btn btn--is-rounded">{{ 'customer.addresses.edit_address' | t }}</button>
        {% endform %}
      </div>
    </div>
  {%- endfor -%}

</div>
