{% comment %}
    Renders background image mobile and background image desktop

    Usage:
    {% render 'background-image', section: section %}
{% endcomment %}
<div class="db-image {% if apply_overlay %}db-image--overlay{% endif %} db-image-hidden-tablet-and-up">
  {%- if img_bg_mobile -%}
      <img src="{{ img_bg_mobile | img_url: '1x1' }}"
           data-src="{{ img_bg_mobile | img_url: 'master' }}"
           class="xo-img--lazyLoad"
           alt="{{ img_bg_mobile.alt }}">
  {% else %}
      {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
  {%- endif -%}
</div>

<div class="db-image {% if apply_overlay %}db-image--overlay{% endif %} db-image-hidden-phone">
  {%- if img_bg -%}
    <img src="{{ img_bg | img_url: '1x1'}}"
         data-src="{{ img_bg | img_url: 'master'}}"
         class="xo-img--lazyLoad"
         alt="{{ img_bg.alt }}">
  {%- else -%}
    {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
  {%- endif -%}
</div>
