<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="80" height="80"
  viewBox="0 0 80 80">
  <defs>
    <clipPath id="b">
      <rect width="80" height="80" />
    </clipPath>
  </defs>
  <g id="a" clip-path="url(#b)">
    <g transform="translate(-1.66 -1.499)">
      <path
        d="M20.927,23.56h43.32a7.44,7.44,0,0,0,4.124-1.255l3.675-2.465V58.88l-3.72-2.465A7.261,7.261,0,0,0,64.2,55.159H12.994A7.261,7.261,0,0,0,8.87,56.414L5.15,58.88V19.84l3.72,2.465a7.44,7.44,0,0,0,4.124,1.255h2.084"
        transform="translate(3.09 21.521)" fill="none" stroke="#414042" stroke-linecap="round" stroke-linejoin="round"
        stroke-width="1" />
      <path
        d="M37.824,58.88H35V19.84h2.779a2.757,2.757,0,0,1,2.779,2.779v1.21a2.622,2.622,0,0,1-.291,1.233l-.784,1.86a2.891,2.891,0,0,0,0,2.51l.627,1.21a2.891,2.891,0,0,1,0,2.51l-.627,1.21a2.846,2.846,0,0,0,0,2.488l.627,1.233a2.846,2.846,0,0,1,0,2.488L39.482,41.8a2.846,2.846,0,0,0,0,2.488l.627,1.233a2.846,2.846,0,0,1,0,2.488l-.627,1.322a2.846,2.846,0,0,0,0,2.488l.941,1.883a2.645,2.645,0,0,1,.291,1.255v1.1a2.779,2.779,0,0,1-2.891,2.824Z"
        transform="translate(40.136 21.521)" fill="none" stroke="#414042" stroke-linecap="round" stroke-linejoin="round"
        stroke-width="1" />
      <path
        d="M5.461,58.88H8.24V19.84H5.461a2.779,2.779,0,0,0-2.8,2.779v1.21a2.644,2.644,0,0,0,.314,1.233l.941,1.883a2.891,2.891,0,0,1,0,2.51l-.628,1.21a2.891,2.891,0,0,0,0,2.51l.628,1.21a2.846,2.846,0,0,1,0,2.488l-.628,1.255a2.846,2.846,0,0,0,0,2.488l.628,1.233a2.846,2.846,0,0,1,0,2.488l-.628,1.233a2.846,2.846,0,0,0,0,2.488l.628,1.233a2.846,2.846,0,0,1,0,2.488l-.941,1.883a2.667,2.667,0,0,0-.314,1.255v1.143a2.8,2.8,0,0,0,2.8,2.824Z"
        transform="translate(0 21.521)" fill="none" stroke="#414042" stroke-linecap="round" stroke-linejoin="round"
        stroke-width="1" />
      <path d="M11.294,44.441H8.47V23.98H60.53v2.779" transform="translate(7.211 26.66)" fill="none" stroke="#414042"
        stroke-linecap="round" stroke-linejoin="round" stroke-width="1" />
      <path d="M54.846,28.54V38.782H13.05" transform="translate(12.895 32.319)" fill="none" stroke="#414042"
        stroke-linecap="round" stroke-linejoin="round" stroke-width="1" />
      <rect width="20.125" height="4.505" rx="0.7" transform="translate(42.686 20.43)" fill="none" stroke="#414042"
        stroke-linecap="round" stroke-linejoin="round" stroke-width="1" />
      <path d="M18.69,28.861a13.962,13.962,0,0,1,6.253-10.735V12.86" transform="translate(19.894 12.859)" fill="none"
        stroke="#414042" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" />
      <path d="M28.5,12.51v6.051A14.3,14.3,0,0,1,34.753,29.3" transform="translate(32.069 12.424)" fill="none"
        stroke="#414042" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" />
      <line x2="15.71" transform="translate(44.904 36.162)" fill="none" stroke="#414042" stroke-linecap="round"
        stroke-linejoin="round" stroke-width="1" />
      <path d="M9.655,41.518,8.131,4.451a1.86,1.86,0,0,1,1.95-1.95H48.493a1.838,1.838,0,0,1,1.838,1.95l-.65,12.617"
        transform="translate(6.787 0)" fill="none" stroke="#414042" stroke-linecap="round" stroke-linejoin="round"
        stroke-width="1" />
      <line x2="8.292" transform="translate(48.176 9.224)" fill="none" stroke="#414042" stroke-linecap="round"
        stroke-miterlimit="10" stroke-width="1" />
      <line x2="26.758" transform="translate(15.882 9.224)" fill="none" stroke="#414042" stroke-linecap="round"
        stroke-miterlimit="10" stroke-width="1" />
      <line x1="4.617" transform="translate(15.882 13.707)" fill="none" stroke="#414042" stroke-linecap="round"
        stroke-miterlimit="10" stroke-width="1" />
      <line x1="27.677" transform="translate(27.872 13.707)" fill="none" stroke="#414042" stroke-linecap="round"
        stroke-miterlimit="10" stroke-width="1" />
    </g>
  </g>
</svg>
