<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="80" height="80"
  viewBox="0 0 80 80">
  <defs>
    <clipPath id="b">
      <rect width="80" height="80" />
    </clipPath>
  </defs>
  <g id="a" clip-path="url(#b)">
    <rect width="23.412" height="6.391" rx="1" transform="translate(34.939 1)" fill="none" stroke="#414042"
      stroke-linecap="round" stroke-linejoin="round" stroke-width="1" />
    <line x2="13.5" transform="translate(45.916 11.861)" fill="none" stroke="#414042" stroke-linecap="round"
      stroke-linejoin="round" stroke-width="1" />
    <path d="M18.79,8.046V5.73" transform="translate(18.28 2.75)" fill="none" stroke="#414042" stroke-linecap="round"
      stroke-linejoin="round" stroke-width="1" />
    <path d="M30.139,5.26v8.522A19.2,19.2,0,0,1,38.66,29.737V73.388A4.238,4.238,0,0,1,34.4,77.625H24.72"
      transform="translate(26.082 2.131)" fill="none" stroke="#414042" stroke-linecap="round" stroke-linejoin="round"
      stroke-width="1" />
    <line x2="11.37" transform="translate(45.916 24.412)" fill="none" stroke="#414042" stroke-linecap="round"
      stroke-linejoin="round" stroke-width="1" />
    <path d="M34.4,19.05V53.114a2.13,2.13,0,0,1-2.13,2.13H24.72" transform="translate(26.082 20.275)" fill="none"
      stroke="#414042" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" />
    <rect width="20.262" height="5.535" rx="0.69" transform="translate(20.536 11.073)" fill="none" stroke="#414042"
      stroke-linecap="round" stroke-linejoin="round" stroke-width="1" />
    <line x2="22.092" transform="translate(19.61 20.846)" fill="none" stroke="#414042" stroke-linecap="round"
      stroke-linejoin="round" stroke-width="1" />
    <path
      d="M33.205,9.24v7.92a16.742,16.742,0,0,1,7.364,13.894V68.707a3.682,3.682,0,0,1-3.682,3.682H14.24A4.979,4.979,0,0,1,9.261,67.41V30.984A16.4,16.4,0,0,1,16.625,17.09V10.143"
      transform="translate(5.741 7.368)" fill="none" stroke="#414042" stroke-linecap="round" stroke-linejoin="round"
      stroke-width="1" />
    <line x2="18.41" transform="translate(21.439 31.891)" fill="none" stroke="#414042" stroke-linecap="round"
      stroke-linejoin="round" stroke-width="1" />
    <path d="M34.1,21.65V50.04a1.76,1.76,0,0,1-1.783,1.783H12.8a1.76,1.76,0,0,1-1.76-1.783v-14.2"
      transform="translate(8.083 23.696)" fill="none" stroke="#414042" stroke-linecap="round" stroke-linejoin="round"
      stroke-width="1" />
  </g>
</svg>
