<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="80" height="80"
  viewBox="0 0 80 80">
  <defs>
    <clipPath id="b">
      <rect width="80" height="80" />
    </clipPath>
  </defs>
  <g id="a" clip-path="url(#b)">
    <g transform="translate(-1.817 3.882)">
      <path
        d="M19.154,28.284,55.74,13.447a6.775,6.775,0,0,0,3.049-2.462L61.047,7.62,74.439,40.592l-3.975-.813a6.775,6.775,0,0,0-3.884.316L23.242,57.711a6.775,6.775,0,0,0-3.049,2.462l-2.258,3.365L4.52,30.565l3.975.813a6.775,6.775,0,0,0,3.884-.316l1.762-.723"
        transform="translate(2.143 0.632)" fill="none" stroke="#414042" stroke-linecap="round" stroke-linejoin="round"
        stroke-width="1" />
      <path
        d="M45.291,40.275l-2.258.949L29.55,8.252,31.921,7.3a2.529,2.529,0,0,1,3.3,1.4l.407,1.016a2.258,2.258,0,0,1,.181,1.152l-.136,1.92a2.507,2.507,0,0,0,.858,2.1l.926.813a2.529,2.529,0,0,1,.858,2.123v1.242a2.529,2.529,0,0,0,.836,2.1l.949.813a2.665,2.665,0,0,1,.858,2.123l-.113,1.242a2.62,2.62,0,0,0,.858,2.1l.949.836a2.62,2.62,0,0,1,.858,2.1v1.242a2.484,2.484,0,0,0,.858,2.1l1.445,1.265a2.823,2.823,0,0,1,.678.949l.407,1.016a2.552,2.552,0,0,1-1.6,3.32Z"
        transform="translate(33.64 0)" fill="none" stroke="#414042" stroke-linecap="round" stroke-linejoin="round"
        stroke-width="1" />
      <path
        d="M17.684,51.7l2.258-.949L6.663,17.78,4.4,18.729A2.552,2.552,0,0,0,3,22.048l.407,1.016a2.823,2.823,0,0,0,.678.949l1.4,1.265a2.484,2.484,0,0,1,.858,2.1L6.234,28.62a2.62,2.62,0,0,0,.858,2.1l.949.836a2.62,2.62,0,0,1,.858,2.1V34.9a2.665,2.665,0,0,0,.858,2.123l.949.813a2.529,2.529,0,0,1,.836,2.1v1.242A2.529,2.529,0,0,0,12.4,43.3l.926.813a2.507,2.507,0,0,1,.858,2.1l-.136,1.92a2.258,2.258,0,0,0,.181,1.152l.407,1.016a2.529,2.529,0,0,0,3.049,1.4Z"
        transform="translate(0 13.417)" fill="none" stroke="#414042" stroke-linecap="round" stroke-linejoin="round"
        stroke-width="1" />
      <path d="M18.127,46.354l-2.394.971L8.71,30.071,52.68,12.23l.949,2.326" transform="translate(7.415 6.433)"
        fill="none" stroke="#414042" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" />
      <path d="M47.435,16.04l3.523,8.672-35.3,14.3" transform="translate(16.161 11.227)" fill="none" stroke="#414042"
        stroke-linecap="round" stroke-linejoin="round" stroke-width="1" />
    </g>
  </g>
</svg>
