<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="80" height="80"
  viewBox="0 0 80 80">
  <defs>
    <clipPath id="b">
      <rect width="80" height="80" />
    </clipPath>
  </defs>
  <g id="a" clip-path="url(#b)">
    <g transform="translate(10.5 -0.5)">
      <path
        d="M42.014,3.5h-25.3L13.744,6.662A4.633,4.633,0,0,0,12.5,9.846V71.154a4.635,4.635,0,0,0,1.223,3.162L16.716,77.5h25.3l2.994-3.184a4.635,4.635,0,0,0,1.223-3.162V9.846a4.633,4.633,0,0,0-1.244-3.184Z"
        transform="translate(0)" fill="none" stroke="#414042" stroke-linejoin="round" stroke-width="1" />
      <rect width="32.73" height="2" rx="1" transform="translate(13 1.5)" fill="none" stroke="#414042"
        stroke-linecap="round" stroke-miterlimit="10" stroke-width="1" />
      <rect width="32.73" height="2" rx="1" transform="translate(13 77.5)" fill="none" stroke="#414042"
        stroke-linecap="round" stroke-miterlimit="10" stroke-width="1" />
      <line x2="2" transform="translate(37.431 5.5)" fill="none" stroke="#414042" stroke-linecap="round"
        stroke-miterlimit="10" stroke-width="1" />
      <line x2="5" transform="translate(20.335 5.5)" fill="none" stroke="#414042" stroke-linecap="round"
        stroke-miterlimit="10" stroke-width="1" />
      <line x2="2" transform="translate(37.431 75.5)" fill="none" stroke="#414042" stroke-linecap="round"
        stroke-miterlimit="10" stroke-width="1" />
      <line x2="5" transform="translate(20.335 75.5)" fill="none" stroke="#414042" stroke-linecap="round"
        stroke-miterlimit="10" stroke-width="1" />
      <line y2="13.89" transform="translate(20.932 46.191)" fill="none" stroke="#414042" stroke-linecap="round"
        stroke-miterlimit="10" stroke-width="1" />
      <line y2="3.94" transform="translate(20.932 17.316)" fill="none" stroke="#414042" stroke-linecap="round"
        stroke-miterlimit="10" stroke-width="1" />
    </g>
  </g>
</svg>
