<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="80" height="80"
  viewBox="0 0 80 80">
  <defs>
    <clipPath id="b">
      <rect width="80" height="80" />
    </clipPath>
  </defs>
  <g id="a" clip-path="url(#b)">
    <path d="M73.649,14.13l-4.256,51.3a2.611,2.611,0,0,1-2.611,2.428H14.2a2.611,2.611,0,0,1-2.611-2.428L7.28,14.13"
      transform="translate(-0.562 10.95)" fill="none" stroke="#414042" stroke-linecap="round" stroke-width="1" />
    <path d="M21.532,57.92H15.867a2.611,2.611,0,0,1-2.611-2.4L10.1,18.966a2.611,2.611,0,0,1,2.611-2.846H39.678"
      transform="translate(3.958 14.156)" fill="none" stroke="#414042" stroke-linecap="round" stroke-width="1" />
    <path d="M31.325,16.13h6.4a2.611,2.611,0,0,1,2.611,2.846L37.173,55.528a2.611,2.611,0,0,1-2.611,2.4H23.44"
      transform="translate(25.47 14.172)" fill="none" stroke="#414042" stroke-linecap="round" stroke-width="1" />
    <g transform="translate(0 1)" fill="none" stroke="#414042" stroke-width="1">
      <rect width="80" height="19" rx="3" stroke="none" />
      <rect x="0.5" y="0.5" width="79" height="18" rx="2.5" fill="none" />
    </g>
  </g>
</svg>
