<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="80" height="80"
  viewBox="0 0 80 80">
  <defs>
    <clipPath id="b">
      <rect width="80" height="80" />
    </clipPath>
  </defs>
  <g id="a" clip-path="url(#b)">
    <g transform="translate(9.5 -1.5)">
      <line x1="3.867" y1="50.294" transform="translate(11.5 22.382)" fill="none" stroke="#414042"
        stroke-linecap="round" stroke-linejoin="round" stroke-width="1" />
      <path d="M42.955,35.65A4.46,4.46,0,0,1,38.5,39.785H17.793A4.46,4.46,0,0,1,13.34,35.65"
        transform="translate(2.273 40.715)" fill="none" stroke="#414042" stroke-linecap="round" stroke-linejoin="round"
        stroke-width="1" />
      <line x1="3.867" y2="50.294" transform="translate(45.519 22.382)" fill="none" stroke="#414042"
        stroke-linecap="round" stroke-linejoin="round" stroke-width="1" />
      <path d="M49.386,11.971h0A4.464,4.464,0,0,0,44.929,7.5H15.957A4.464,4.464,0,0,0,11.5,11.971h0"
        transform="translate(0 6.176)" fill="none" stroke="#414042" stroke-linecap="round" stroke-linejoin="round"
        stroke-width="1" />
      <line x2="29.886" transform="translate(15.5 20.446)" fill="none" stroke="#414042" stroke-linecap="round"
        stroke-linejoin="round" stroke-width="1" />
      <path d="M33.618,4.5H20.206A6.706,6.706,0,0,0,13.5,11.206h0" transform="translate(2.471 2.471)" fill="none"
        stroke="#414042" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" />
      <line y2="4" transform="translate(24.461 2.5)" fill="none" stroke="#414042" stroke-linecap="round"
        stroke-linejoin="round" stroke-width="1" />
      <line y1="10.327" transform="translate(16.038 2.5)" fill="none" stroke="#414042" stroke-linecap="round"
        stroke-linejoin="round" stroke-width="1" />
      <path d="M11.5,2.5H33.777A11.157,11.157,0,0,1,44.915,13.676h0" transform="translate(0)" fill="none"
        stroke="#414042" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" />
    </g>
  </g>
</svg>
