<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="80" height="80"
  viewBox="0 0 80 80">
  <defs>
    <clipPath id="b">
      <rect width="80" height="80" />
    </clipPath>
  </defs>
  <g id="a" clip-path="url(#b)">
    <g transform="translate(7.442 -0.49)">
      <path
        d="M53.76,77.382,47.436,79.49H17.922L11.6,77.382,8.562,3.725A2.108,2.108,0,0,1,10.67,1.49H54.687A2.108,2.108,0,0,1,56.8,3.725Z"
        transform="translate(0 0)" fill="none" stroke="#414042" stroke-linejoin="round" stroke-width="1" />
      <line x2="4.5" transform="translate(51.938 5.49)" fill="none" stroke="#414042" stroke-linecap="round"
        stroke-miterlimit="10" stroke-width="1" />
      <line x2="14.5" transform="translate(9.08 5.49)" fill="none" stroke="#414042" stroke-linecap="round"
        stroke-miterlimit="10" stroke-width="1" />
      <line x1="2.5" transform="translate(9.08 7.49)" fill="none" stroke="#414042" stroke-linecap="round"
        stroke-miterlimit="10" stroke-width="1" />
      <line x1="15" transform="translate(40.938 7.49)" fill="none" stroke="#414042" stroke-linecap="round"
        stroke-miterlimit="10" stroke-width="1" />
      <line y1="3" transform="translate(13 76.49)" fill="none" stroke="#414042" stroke-linecap="round"
        stroke-linejoin="round" stroke-width="1" />
      <line y1="4" transform="translate(13 70.49)" fill="none" stroke="#414042" stroke-linecap="round"
        stroke-linejoin="round" stroke-width="1" />
      <line y1="2" transform="translate(52.358 77.49)" fill="none" stroke="#414042" stroke-linecap="round"
        stroke-linejoin="round" stroke-width="1" />
      <line y1="2" transform="translate(52.358 73.49)" fill="none" stroke="#414042" stroke-linecap="round"
        stroke-linejoin="round" stroke-width="1" />
    </g>
  </g>
</svg>
