.about-infor-container {
  padding-bottom: 25px;

  * {
    color: #faf9f7;
    text-align: center;
  }
}

.about-infor__title {
  padding: 30px;
  font-size: 24px;
  letter-spacing: 1px;
  font-family: font(stack-header);
}

.about-accordion__item {
    margin-bottom: 9px;

    border-radius: 10px;
    background-color: #242424;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .about-accordion__title {
      cursor: pointer;
      letter-spacing: 1px;
      line-height: 1.3;

      display: flex;
      justify-content: center;
      align-items: center;

      height: var(--height-title);
      width: 100%;
      padding: 20px;

      font-family: font(stack-header);
      font-size: 18px;
    }

    .about-accordion__desc {
      transition: max-height 0.3s ease-in-out;
      max-height: 0;
      overflow: hidden;

      div {
        margin: 0 16px 25px;
        display: inline-block;
        font-size: 17px;
        line-height: 1.3;
        font-family: font(stack-body);
      }
  }

  &.is-expand {
    .about-accordion__desc {
      max-height: var(--max-height-desc);
    }
  }
}


