<div class="about-infor-container xo-container">
  <h2 class="about-infor__title">{{ section.settings.heading | upcase }}</h2>
  <div class="about-infor__content" id='aboutInforContainer1'>
    {% for block in section.blocks %}
      <div class='about-accordion__item'>
        <h3 class="about-accordion__title">{{ block.settings.title | upcase }}</h3>
        <div class="about-accordion__desc">
          <div>{{ block.settings.desc }}</div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<style>
  #shopify-section-{{ section.id }} {
    background-color: #000;
  }
</style>

{% schema %}
{
  "name": "About accordion",
  "settings": [
    {
      "id": "heading",
      "type": "text",
      "label": "Heading",
      "default": "upfront ethos"
    }
  ],
  "blocks": [
      {
      "type": "About",
      "name": "About block",
      "settings": [
        {
          "id": "title",
          "type": "text",
          "label": "Accordion title",
          "default": "1. we define where we want to go"
        },
        {
          "id": "desc",
          "type": "textarea",
          "label": "Accordion desc",
          "default": "Lorem ipsum dolor sit amet consectetur adipisicing elit."
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "About",
      "name": "About accordion",
      "blocks": [
        {
          "type": "About",
          "settings": {
            "title": "1. we define where we want to go"
          }
        },
        {
          "type": "About",
          "settings": {
            "title": "2. We apply relentless pressure"
          }
        }
      ]
    }
  ]
}
{% endschema %}
