/**
 * ----------------------------------------------------------------------------
 * CSS Snippet
 * ----------------------------------------------------------------------------
 */
.db-image-hidden-tablet-and-up {
  display: block;

  @include responsive(MD) {
    display: none ;
  }
}

.db-image-hidden-phone {
  display: none;

  @include responsive(MD) {
    display: block;
  }
}

/**
 * Image overlay
 */
 .db-image, .db-image--overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 0;

  img, svg {
    width: 100%;
    height: 100%;

    object-fit: cover;
  }

  svg {
    fill: #f5efe8;
    background-color: #333;
  }
}

.db-image--overlay::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: linear-gradient(to top, rgba(4, 4, 4, 0.849), rgba(54, 54, 54, 0.404));
}
