$colorText: rgb(124, 124, 124);

.breadcrumbs {
  font-size: .85em;
  margin: 0 0 2em;
}

.breadcrumbs ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs li {
  display: inline-block;
}

.breadcrumbs a {
  text-decoration: underline;
}

.breadcrumbs li:not(:last-child):after {
  content: "›\00a0";
  display: inline-block;
  padding-left: .75ch;
  font-size: 22px;
  transform: translateY(1px);
  speak: none;
  color: $colorText;
}

.breadcrumbs [aria-current="page"] {
  color: inherit;
  font-weight: normal;
  text-decoration: none;
}

.breadcrumbs [aria-current="page"]:hover,
.breadcrumbs [aria-current="page"]:focus {
  text-decoration: underline;
}

.breadcrumbs-collection-id {
  display: none !important;
  &.show {
    display: inline-block !important;
  }
}

.breadcrumbs {
  padding: 20px 0 0 15px;
  @include responsive(MD) {
    padding: 0;
  }
  a {
    font-family: var(--font-stack-body);
    color: $colorText !important;
    text-decoration: none;
  }
}