<div class="Container">
  <header class="PageHeader">
    <div class="SectionHeader SectionHeader--center">
      {%- comment -%}
      <h1 class="SectionHeader__Heading Heading u-h1">{{ page.title }}</h1>
      {%- endcomment -%}
    </div>
  </header>

  <div class="PageContent PageContent--narrow Rte">
    {% section 'about-store' %}
    {% section 'about-accordion' %}
    {% section 'about-accordion2' %}
  </div>
</div>
