<div class="page-width" class="all-collection" id="page-alles-container">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="rte">
        {%- comment -%} Menu {%- endcomment -%}
        {% section 'collection-menu' %}

        {%- comment -%} Loading UI {%- endcomment -%}
        <div class="loading-ui-wrapper" id="loading-ui-alles" v-show="isCollectionLoading">
          <div class="xo-container">
            <div class="loading-ui-wrapper__head">
              <div class="loading-ui is-rectangle"></div>
              <div class="loading-ui is-rectangle is-rounded"></div>
            </div>

            <div class="loading-ui-wrapper__content">
              <div class="loading-ui is-title"></div>
              <div class="xo-row">
                <div class="item xo-col-6 xo-col-md-4 xo-col-lg-3">
                  <div class="item loading-ui is-card"></div>
                </div>
                <div class="item xo-col-6 xo-col-md-4 xo-col-lg-3">
                  <div class="loading-ui is-card"></div>
                </div>
                <div class="item xo-col-6 xo-col-md-4 xo-col-lg-3">
                  <div class="loading-ui is-card"></div>
                </div>
                <div class="item xo-col-6 xo-col-md-4 xo-col-lg-3">
                  <div class="loading-ui is-card"></div>
                </div>
              </div>

              <div class="loading-ui is-title"></div>
              <div class="xo-row">
                <div class="item xo-col-6 xo-col-md-4 xo-col-lg-3">
                  <div class="item loading-ui is-card"></div>
                </div>
                <div class="item xo-col-6 xo-col-md-4 xo-col-lg-3">
                  <div class="loading-ui is-card"></div>
                </div>
                <div class="item xo-col-6 xo-col-md-4 xo-col-lg-3">
                  <div class="loading-ui is-card"></div>
                </div>
                <div class="item xo-col-6 xo-col-md-4 xo-col-lg-3">
                  <div class="loading-ui is-card"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        {%- comment -%} Items render {%- endcomment -%}
        {% section 'collection-alles' %}
      </div>
    </div>
  </div>
</div>
