{% if page.url != "/pages/privacy-policy" and page.url != "/pages/algemene-voorwaarden" %}
  {% section 'banner-page' %}
{% endif %}

<div class="page-container page__color">
  <div class="xo-container xo-page-width">
    <div class="page__title">
      <h1>{{ page.title }}</h1>
    </div>
    <div class="page__content">
      {{ page.content }}
    </div>
  </div>
</div>
