{% comment %}
  The contents of the product.liquid template can be found in /sections/product-template.liquid
{% endcomment %}
{% section 'collection-menu' %}
{% section 'product-page' %}
{% section 'product-review' %}
{% section 'product-faq' %}
{% section 'product-slide' %}

<script type="text/javascript">
  var productId = {{product.id}};
  var product ={{ product | json }};
</script>

<script type="application/javascript">
  theme.productStrings = {
    addToCart: {{ 'products.product.add_to_cart' | t | json }},
    soldOut: {{ 'products.product.sold_out' | t | json }},
    unavailable: {{ 'products.product.unavailable' | t | json }}
  }
</script>
