.template-password {
  height: 100vh;
  width: 100%;

  .db-image {
    z-index: -1;
  }
 

  .errors {
    color: rgb(255, 0, 0);
    padding-bottom: 15px;
  }
}

// password-wrapper
.password-page__wrapper {
  height: 100%;
}

#shopify-section-password-template {
  height: 100%;
}

.password-page {
  width: 100%;
  height: 100%;
  position: relative;
}

.password-page__container {
  width: 100%;
  height: 100%;
  padding: 40px 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  
  @include responsive(MD) {
    padding: 70px 30px;
  }
}

// password-page__header
.password-page__header {
  align-self: flex-end;

  .password-login {
    text-align: right;
    color: #fff;
  }
  
  span {
    // color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 15px 20px;
    border: 1px solid #fff;
    font-size: font(h4-mobile);

    @include responsive(MD) {
      font-size: font(h4-desktop);
    }
  }

  .password-page__logo {
    padding: 50px 0 80px;
  }
}

// password-page__content
.password-page__main{
  width: 100%;
  background-color: #fff;
  padding: 20px;

  @include responsive(MD) {
    width: 540px;
    margin: 0 auto;
  }
}

.password-page__signup-form {
  padding: 20px 0;
 
  .form-success {
    color: #2ecc71;
    padding-bottom: 15px;
  }

  .password-form__heading {
    padding-bottom: 15px;
    font-size: 17px;
  }

  .password-form__subheading {
    padding-bottom: 15px;
  }
}

.input-group {
  display: flex;
  align-items: center;
}

.input-group-field {
  outline: none;
  border: none;
  flex-basis: 75%;
  background-color: #f5efe8;
  padding: 15px 10px;
}

.input-group-btn {
 flex-basis: 25%;
 padding: 15px 10px;

 background-color: #000;
 color: #fff;
 border: none;
 outline: none;
 text-transform: uppercase;
 font-weight: bold;
}

.password-page__social-sharing {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;

  @include responsive(MD) {
    flex-direction: row;
  }

  .password-page__signup-form__heading {
    letter-spacing: 1px;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: normal;
  }

  .social-sharing {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px 0;

    .share-title {
      color: #fff;
      font-size: 14px;
    }
  }

  svg {
    fill: #242424;
  }
}

.btn-share {
  transition: all .3s linear;

  display: inline-block;
  padding: 8px 13px;
  border: 1px solid #e0e0e0;

  background: #fff;

  &.share-facebook:hover {
    background: #4469af;
    color: #fff;
    border-color: #4469af;
    outline: 1.5px solid #4469af;

    svg {
      fill: #fff;
    }
  }

  &.share-twitter:hover {
    background: #00aced;
    color: #fff;
    border-color: #00aced;
    outline: 1.5px solid #00aced;

    svg {
      fill: #fff;
    }
  }

  &.share-pinterest:hover {
    background: #c8232c;
    color: #fff;
    border-color: #c8232c;
    outline: 1.5px solid #c8232c;

    svg {
      fill: #fff;
    }
  }
}

// password-footer
.password-page__footer {
  padding-top: 50px;
  color: #fff;

  .password-page__footer_inner {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .shopify-link {
    margin-left: 5px;
  }

  svg {
    width: 82.28571px;
    height: 24px;
  }
}

// password-login__modal
.password-page__login-form {
  position: absolute;
  top: 0;
  left: 0;
  
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  transition: opacity .3s, visibility .3s;
  background-color: #fff;
  visibility: hidden;
  opacity: 0;

  &.is-active {
    opacity: 1;
    visibility: visible;
    transition: opacity .3s, visibility 0;
  }

  .icon-close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 50px;
  }

  .form-login {
    padding: 20px 0;
    width: 100%;

    @include responsive(MD) {
      width: 500px;
      margin: 0 auto;
    }

    input {
      background-color: #f5efe8;
    }
  }

  .text-link {
    transition: all .3s linear;
    &:hover {
      color: #000;
    }
  }
}
