<template>
  <div
    :class="'btn'
      + (isSmall ? ' btn--is-small': '')
      + (isMedium ? ' btn--is-medium': '')
      + (isLarge ? ' btn--is-large': '')
      + (isRounded ? ' btn--is-rounded' : '')
      + (isLoading ? ' btn--is-loading' : '')
      + (isFullwidth ? ' btn--is-fullwidth': '')
      + (!isAvailable ? ' btn--is-soldout': '')"
    ref="btn"
    @click="addToCart">
    <slot></slot>
  </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue';
import { Prop, Component } from 'vue-property-decorator';
import store from 'Vue/store/index';
import * as Cart from 'Helpers/cart/cart';
import { mapActions, mapGetters } from 'vuex';
import { IToastMessage } from 'Types/alles';
import { qs } from 'Helpers/dom/dom';
import CartStore from 'Vue/store/modules/cart';
import { ICart } from 'Types/shopify/cart.type';

@Component({
  store,
  computed: {
    ...mapGetters('CartStore', {
      cartItemCount: 'getCartItemCount',
      cartState: 'getCartState',
    })
  },
  methods: {
    ...mapActions('CartStore', [
      'fetchCartState',
      'toggleExpand'
    ]),
    ...mapActions('ToastStore', [
      'toggleToast',
    ])
  }
})
export default class AddToCartBtn extends Vue{
  @Prop({type: Boolean}) isLarge: boolean;

  @Prop({type: Boolean}) isSmall: boolean;

  @Prop({type: Boolean}) isMedium: boolean;

  @Prop({type: Boolean}) isRounded: boolean;

  @Prop({type: Boolean}) isFullwidth: boolean;

  @Prop({type: Boolean}) isAvailable: boolean;

  @Prop({type: Boolean}) isProductPage: boolean;

  @Prop({type: Number}) variantId: number;

  @Prop({type: Object as PropType<IToastMessage>}) contentToast: IToastMessage;

  @Prop({type: String}) cartPopupType: string;

  @Prop({type: Number, default: 1}) quantity: number;

  /**
   * Store
   */
  cartState!: ICart;

  cartItemCount!: number;

  fetchCartState!: () => Promise<void>;

  toggleExpand!: () => void;

  toggleToast!: (contentToast: IToastMessage) => void;

  /**
   * Local state
   */
  isLoading = false;

  async addToCart(): Promise<void> {
    this.addLoadingIcon();
    Cart.addItem({
      id: this.variantId,
      quantity: this.quantity,
      properties: {},
      onSuccess:  () => {
        this.fetchCartState();
        this.removeLoadingIcon();
        // COMMENT: Đổi theo y/c của khách, cart chưa có sản phẩm hiện drawer, có rồi thì hiện toast
        // if (this.cartPopupType === 'drawer') {
        //    this.toggleExpand();
        // } else {
        //   this.toggleToast(this.contentToast);
        //   qs('.xo-toast-msg--cart')?.addEventListener('click', () => {
        //     this.toggleExpand();
        //   })
        // }

        if (this.cartItemCount < 1) {
          this.toggleExpand();
        } else {
          this.toggleToast(this.contentToast);
          qs('.xo-toast-msg--cart')?.addEventListener('click', () => {
            this.toggleExpand();
          })
        }
      },
      onError: (err) => {
        this.removeLoadingIcon();
        alert("Not enough quantity");
      }
    })
  }

  private addLoadingIcon(): void {
    this.isLoading = true;
  }

  private removeLoadingIcon(): void {
    this.isLoading = false;
  }
}
</script>

<style lang="scss">
  .btn {
    .product-slot-add {
      font-family: var(--font-stack-header);
    }

    .product-slot-price {
      font-family: var(--font-stack-body);
      font-weight: 100;
      margin-left: 5px;
    }
  }
</style>
