<template>
  <div
    :class="
      'infor__item' +
      (percent !== undefined ? ' infor__item-percent' : '') +
      (isExpand ? ' is--expand' : '') +
      (imageIngredient ? ' is-ingredient': '')
    "
    :style="percentStyle"
  >
    <div class="image-ingredient" v-if="imageIngredient">
      <img :src="createThumbnail(imageIngredient, '150x150')" alt="Image ingredient">
    </div>
    <div class="item__label" @click="expand">
      <span>
        <template v-if="percent > 0"> {{ percent }}% </template>
        <slot></slot>
      </span>
      <div class="item__icon">
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="item__expand" ref="item_expand">
      <div v-html="value"></div>
      <div class="item__image" v-if="image">
        <img :src="image" alt="" />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import { Prop } from "vue-property-decorator";

@Component
export default class ItemInfoProduct extends Vue {
  @Prop({type: String}) readonly value: string;

  @Prop({type: String}) readonly image: string;

  @Prop({type: Number, required: false}) readonly percent: string;

  @Prop({type: String, required: false}) readonly imageIngredient: string;

  isExpand: boolean = false;

  expand(): void {
    this.isExpand = !this.isExpand;
    const el = this.$refs.item_expand as HTMLElement;
    const maxHeight = el.scrollHeight;
    el.style.setProperty("--max-height", maxHeight + "px");
  }

  get percentStyle() {
    return {
      "--width-percent": `${this.percent}%`,
    };
  }

  createThumbnail = (url: string, thumbSize: string): string => {
    console.log(url)
    let newURL = url || '';
    if (url.includes('cdn.shopify.com')) {
      /** Nếu giá trị truyền vào là url thay vì object ảnh */
      newURL = url
        .replace('.jpg', `_${thumbSize}_crop_center.jpg`)
        .replace('.JPG', `_${thumbSize}_crop_center.JPG`)
        .replace('.png', `_${thumbSize}_crop_center.png`)
        .replace('.PNG', `_${thumbSize}_crop_center.PNG`)
        .replace('.jpeg', `_${thumbSize}_crop_center.jpeg`)
        .replace('.JPEG', `_${thumbSize}_crop_center.JPEG`);
    }
    return newURL;
  };
}
</script>

<style lang="scss">
.infor__item {
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #f8f5f2;
  // overflow: hidden;

  position: relative;

  .image-ingredient {
    position: absolute;
    top: -3px;
    left: -20px;

    // transform: translate(50%, 50%);
    width: 60px;
    height: 60px;

    border: 2px solid #000;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
    }
  }

  &.is-ingredient {
    margin-left: 20px;
    padding-left: 25px;
  }

  &.infor__item-percent {
    .item__label {
      background: -webkit-linear-gradient(
        left,
        #f0e7de var(--width-percent),
        #f8f5f2 var(--width-percent)
      );
      background: -moz-linear-gradient(
        left,
        #f0e7de var(--width-percent),
        #f8f5f2 var(--width-percent)
      );
      background: -ms-linear-gradient(
        left,
        #f0e7de var(--width-percent),
        #f8f5f2 var(--width-percent)
      );
      background: -o-linear-gradient(
        left,
        #f0e7de var(--width-percent),
        #f8f5f2 var(--width-percent)
      );
      background: linear-gradient(
        to right,
        #f0e7de var(--width-percent),
        #f8f5f2 var(--width-percent)
      );
    }
  }
  > * {
    color: #000;
  }

  .item__label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    cursor: pointer;
    border-radius: 10px;
  }

  .item__expand {
    transition: max-height 0.3s ease-in-out;
    max-height: 0;
    overflow: hidden;

    > div,
    .item__image {
      margin: 5px 25px 25px;
      display: inline-block;
    }

    p:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  .item__icon {
    width: 10px;
    height: 10px;

    position: relative;
    transition: all .3s;

    span {
      display: inline-block;
      width: 10px;
      height: 2px;
      background-color: #000;

      position: absolute;
      top: 50%;

      transition: all .3s;
    }

    span:last-child {
      transform: rotate(90deg);
    }
  }

  &.is--expand {
    .item__expand {
      max-height: var(--max-height);
    }
    .item__icon {
      transform: rotate(90deg);
      span:first-child {
        opacity: 0;
      }
    }

  }

  .item__image {
    width: 70%;
    margin-top: 40px;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}
</style>
