<template>
  <transition name="modal" appear>
    <div class="modal-container" @click="closeModal" v-show="isPopup">
        <div class="modal-wrapper" @click.stop>
          <slot></slot>
        </div>
    </div>
  </transition>
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch } from 'vue-property-decorator';

@Component
export default class Modal extends Vue {
  @Prop({type: Boolean, default: false}) readonly isPopup!: boolean;

  mounted() {
    /** Press ESC to collapsed modal */
    document.addEventListener('keydown', (e) => {
      if (this.isPopup && e.keyCode === 27) {
        this.closeModal();
        document.body.classList.remove("remove-scrolling");
      }
    })
  }

  @Watch('isPopup')
  handlePopup(isPopup: boolean) {
    if (isPopup) {
      document.body.classList.add('remove-scrolling');
    } else document.body.classList.remove('remove-scrolling');
  }

  closeModal() {
    this.$emit('update:isPopup', false);
  }
}
</script>

<style lang="scss">
  .modal-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1001;

    transition: transform .25s cubic-bezier(0.5, 0, 0.5, 1), opacity .25s linear;
  }

</style>
