<template>
  <div class="product-item__wrapper" :id="handle">
    <a
      @mousemove="onHoverImageItem"
      :href="'/products/' + handle + (variantSelectedId && `?variant=${variantSelectedId}`)"
      :class="'product-item__image' + (isVideo && isDesktopScreen ? ' product-item--hover' : '')"
    >
      <img
        :src="(firstImageOrMedia ? firstImageOrMedia : 'https://via.placeholder.com/1080x1350')"
        class="product-item__img"
      >
      <video
        v-if="isVideo && isDesktopScreen"
        preload="none"
        :poster="(firstImageOrMedia ? firstImageOrMedia : 'https://via.placeholder.com/1080x1350')"
        loop playsinline muted
        class="product-item-media product-item__video 1"
        ref="video"
        style=" width: 100%; height: 100%; object-fit: contain;display: inline-block;"
      >
        <source :src="secondImg.src" type="video/mp4">
      </video>
      <div class="product-item__rating">
        <star-voting :current="Number(ratingValue)"/>
        <span>{{ ratingCount }} reviews</span>
      </div>
    </a>
    <div class="product-item__infomation">
      <div :class="'product-item__description' + (isOnlyVariant ? ' is-space-bottom': '')">
        <div class="product-item__title">
          <a :href="'/products/' + handle + (variantSelectedId && `?variant=${variantSelectedId}`)" class="product-item__heading">
            <span>{{ title | hugUppercase }}</span>&nbsp;
            <span v-if="quantityVariant">({{quantityVariant}})</span>
          </a>
        </div>
        <!-- Variant  -->
        <div :class="'product-item__variants' + (isOnlyVariant ? ' is-hide': '')">
          <template v-for="variant in variantsSort">
            <div
              v-if="variant.is_render && !variant.is_hide"
              :class="
                'product-item__variant'
                + (selectedVariant.id === variant.id ? ' variant--selected' : '')
                + (variant.available ? '' : ' variant--not-available')"
              :key="variant.id"
            >
              <div
                class="product-item__variant-icon"
                @click="onChangeSelectedVariant(variant.id)"
                @mousemove="onMouseMoveVariant(variant.id)"
                @mouseleave="onMouseLeaveVariant(variant.id)"
                :style="{ background: `url(${variant.variant_image}) center center` }"
              >
                <template v-if="variant.variant_image">
                  <img :src="variant.variant_image">
                </template>
                <template v-else>
                  <span>&#10005;</span>
                </template>
              </div>
            </div>
          </template>
        </div>
        <div
          v-if="!isHideAllVariant"
          :class="'product-item-shortmeta' + (isOnlyVariant ? ' is-hide': '')"
        >
          {{metaVariant}}
        </div>
      </div>
      <!-- Add to cart  -->
      <div class="product-item__addtocart">
        <template v-if="isExistButton">
          <add-to-cart-btn
            is-rounded
            is-fullwidth
            cart-popup-type="toast"
            :variant-id="selectedVariant.id"
            :is-available="hoverVariant.available"
            :content-toast="{title, quantity: quantityVariant, decscription: metaVariant}"
          >
            <template v-if="hoverVariant.available">
                <span class="product-slot-add">TOEVOEGEN</span>
                <span class="product-slot-price">{{ hoverVariant.price | hugMoneyFormat }}</span>
            </template>
            <span v-else class="product-slot-add">UITVERKOCHT</span>
          </add-to-cart-btn>
        </template>
        <template v-else>
          <slot></slot>
        </template>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { PropType } from 'vue';
import { Vue, Component, Prop } from 'vue-property-decorator';
import StarVoting from 'Vue/components/globals/StarVoting.vue';
import SplitingVariant from 'Vue/mixins/SplitingVariant';
import AddToCartBtn from 'Vue/components/globals/AddToCartBtn.vue';
import initLazyload from 'Helpers/lazyload';
import { IVariant } from 'Types/shopify/common.type';
import imgURL from 'Vue/filters/imgURL';
import { IVariantCustom } from 'Types/alles';
import { getUriWithParam, setParam } from 'Helpers/url/url';

interface ISecondImg {
  hasMedia: boolean;
  src: string;
  type: 'video' | 'video'
}

@Component({
  components: {
    AddToCartBtn,
    StarVoting
  },
  mixins: [SplitingVariant],
})

export default class ProductItem extends Vue{
  // Props
  @Prop({type: Boolean}) readonly isExistButton: boolean;

  @Prop({type: Boolean}) readonly hasLazyload: boolean;

  @Prop({required: true, type: Array as PropType<IVariantCustom[]>}) readonly variants: IVariantCustom[];

  @Prop({type: Number}) readonly price: number;

  @Prop({type: String}) readonly handle: string;

  @Prop({type: String}) readonly originalSrc: string;

  @Prop({type: String}) readonly ratingValue: string;

  @Prop({type: String}) readonly ratingCount : string;

  @Prop({type: Object as PropType<ISecondImg>}) readonly secondImg: ISecondImg;

  @Prop() readonly title: string;

  private variantSelectedId: number | string = '';

  // Mixin property
  metaVariant!: () => string;

  quantityVariant!: () => string;

  // Data
  variantsLiquid = [];

  selectedVariant: IVariantCustom = {} as IVariantCustom;

  hoverVariant: IVariantCustom = {} as IVariantCustom; // for liquid | json

  isCursorOnVariant = false;

  get isVideo(): boolean {
    return (this.secondImg.type === 'video' && this.secondImg.hasMedia)
  }

  /*
   * Nếu có 1 variant thì isOnlyVariant = true
   * Nếu có 2 nhiều variant nhưng nhóm vào 1 group, isOnlyVariant = true
   */
  get isOnlyVariant(): boolean {
    const renderVariantLength = this.variants.filter((variant) => {
      return variant.is_render;
    }).length;

    return renderVariantLength === 1;
  }

  get isDesktopScreen(): boolean {
    let screenWidth = window.innerWidth;
    const MOBILE_SCREEN_WIDTH = 576;

    if (screenWidth > MOBILE_SCREEN_WIDTH) return true;
    return false;
  }

  get isHideAllVariant(): boolean {
    return this.variants.every((variant: IVariant) => variant.is_hide);
  }

  get lazyPlaceholderImage(): string {
    if (this.originalSrc) return '';
    return imgURL(this.originalSrc, '1x1', 'center');
  }

  /**
   * @return link img của ảnh đầu tiên trong product item, phụ thuộc vào việc con trỏ có nằm trên variant hay không
   * Nếu con trỏ không nằm trên variant, ảnh là originalSrc (props)
   * Nếu con trỏ nằm trên varaint, ảnh là media của variant đó.
   */
  get firstImageOrMedia(): string {
    if (this.isCursorOnVariant) {
      return imgURL(this.hoverVariant.media, '540x', 'center');
    }
    return imgURL(this.selectedVariant.media || this.originalSrc || '', '540x', 'center');
  }

  get variantsSort(): IVariant[] {
    // const variants = this.variants.sort((x: any, y: any) => Number(x.available) - Number(y.available)).reverse() as IVariant[];
    return this.variants;
  }

  mounted(): void {
    initLazyload();

    this.hoverVariant = this.getInitSelectedVariant();
    this.selectedVariant = this.getInitSelectedVariant();
  }

  onHoverImageItem(): void {
    const videoEl = this.$refs.video as HTMLVideoElement;

    if (this.isDesktopScreen && videoEl) {
      videoEl.play();
    }
  }

  onMouseMoveVariant(idSelected: Number): void {
    this.isCursorOnVariant = true;
    this.hoverVariant = this.variants.find((variant: any) => variant.id === idSelected) as IVariantCustom;
  }

  onMouseLeaveVariant(): void {
    this.isCursorOnVariant = false;
    this.hoverVariant = this.selectedVariant;
  }

  onChangeSelectedVariant(idSelected: number): void {
    this.selectedVariant = this.variants.find((variant: any) => variant.id === idSelected) as IVariantCustom;
    // setParam('product', this.handle);
    this.variantSelectedId = idSelected;
    // setParam('variant', idSelected);
  }

  /**
   * Chọn variant đầu tiên có is_render = true trong mảng Variants[]
   */
  getInitSelectedVariant(): IVariantCustom {
    const urlParams = new URLSearchParams(window.location.search);
    const pathVariant = urlParams.get('variant');

    if (pathVariant) {
      return this.variants.find((variant) => variant.id === Number(pathVariant) ) || this.variants[0];
    }
    return this.variants.find((variant) => variant.is_render === true ) || this.variants[0];
  }

}
</script>
<style lang="scss">
@import './src/styles/utils/mixins/responsive';

.product-item__wrapper {
  border-radius: 7px;
  background-color: #f5efe8;
  padding: 6px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  @include responsive(MD) {
    border-radius: 10px;
  }

  .product-item__infomation {
    width: 95%;
    padding-top: 12px;

    @include responsive(MD) {
      padding-top: 20px;
      width: 90%;
    }
  }

  .product-item__description {
    &.is-space-bottom {
      margin-bottom: 10px;
    }
  }

  .product-item__image {
    overflow: hidden;
    margin: -6px;
    width: calc(100% + 12px);
    position: relative;

    &:before {
      content: '';
      position: absolute;
      inset: 0; z-index: 10;
    }

    > img {
      width: 100%;
      height: auto;
      object-fit: cover;
      transition: all ease .4s;
    }

    &.product-item--hover {
      display: flex;
      justify-content: center;
      align-items: center;

      .product-item__video {
        position: absolute;
        opacity: 0;
      }
    }

    &.product-item--hover:hover  {
      .product-item__img {
        opacity: 0;
      }

      .product-item__video {
        opacity: 1;
      }
    }

    .product-item__rating {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 10px;
      left: calc(6px + 5%);
      @include responsive(LG) {
        left: calc(8px + 5%);
      }

      > span {
        font-size: 12px;
        color: #000;
        margin-top: 3px;
      }

      svg {
        width: 12px !important;
        height: 12px !important;
        fill: #000 !important;

        path:last-child {
          stroke: #000 !important;
        }
      }

      .star-rating__current {
        path:last-child {
          stroke: #000 !important;
          fill: #000 !important;
        }
      }
    }
  }

  .product-item__variants {
    margin: 6px 0 0;
  }
  .product-item-shortmeta {
    margin: 6px 0;
  }

  .product-item__title a.product-item__heading {
    display: flex;
    font-weight: 600;
    color: #242424;
    display: flex;
    align-items: center;
  }

  a.product-item__heading {
    > span {
      font-family: var(--font-stack-header);
    }
  }

  .product-item__title span:first-child {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .product-item__title span:first-child,
  .product-item__title span:last-child {
    font-size: 13px;
    @include responsive(SM) {
      font-size: 18px;
    }
  }

  .product-item__addtocart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;

    @include responsive(SM) {
      margin-bottom: 10px;
    }
  }
}

.product-item__wrapper {
  .btn {
    font-size: 11px;
    padding: 16px 20px;

    @include responsive(SM) {
      font-size: 16px;
      padding: 24px 20px;
    }
  }
}

.product-item__variants {
  display: flex;
  flex-wrap: wrap;
  &.is-hide {
    display: none;
  }

  .product-item__variant {
    margin-right: 5px;
    margin-bottom: 6px;
    background: white;
    border-radius: 999px;
    overflow: hidden;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform .1s;

    position: relative;

    &.variant--not-available::before {
      top: 7px;

      @include responsive(SM) {
        top: 11px;
      }
    }

    @include responsive(SM) {
      width: 30px;
      height: 30px;
    }
  }

  .product-item__variant-icon {
    span {
      font-weight: 600;
    }
  }
}

// .product-item__variant.is-selected {
//   border: 1px solid #242424;
//   @include responsive(MD) {
//     border: 2px solid #242424;
//   }
//   transform: scale(1.15);
// }

.product-item-shortmeta {
  font-size: 12px;
  @include responsive(SM) {
    font-size: inherit;
  }

  &.is-hide {
    display: none;
  }
}
</style>
