<template>
  <div :class="['star-rating', voting ? 'star-voting' : '']" dir="rlt">
    <svg
      v-for="index in 5"
      :key="index"
      version="1.1"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
      style="width: 20px; height: 20px"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      @click="handleVoting($event, index)"
    >
      <g fill="none">
        <path d="M0 0h24v24h-24Z"></path>
        <path
          stroke="#FFA41C"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1.5"
          d="M12 2.896l2.935 5.993 6.565.967 -4.75 4.662 1.121 6.586 -5.871-3.111 -5.871 3.111 1.121-6.586 -4.75-4.662 6.564-.967Z"
        ></path>
      </g>
    </svg>
    <template v-if="!voting">
      <div class="star-rating__current" :style="{ width: getRating + '%' }">
        <svg
          v-for="index in 5"
          :key="index"
          version="1.1"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          style="width: 20px; height: 20px"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <g fill="none">
            <path d="M0 0h24v24h-24Z"></path>
            <path
              style="fill: #FFA41C"
              stroke="#DD8A0D"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              d="M12 2.896l2.935 5.993 6.565.967 -4.75 4.662 1.121 6.586 -5.871-3.111 -5.871 3.111 1.121-6.586 -4.75-4.662 6.564-.967Z"
            ></path>
          </g>
        </svg>
      </div>
    </template>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import { Prop } from "vue-property-decorator";

@Component
export default class StarVoting extends Vue {
  @Prop({type: Number}) readonly current: number;

  @Prop({type: Boolean, required: false}) readonly voting: boolean;
  handleVoting(e: Event, num: number): void {
    const starEl = <HTMLElement>e.target;
    let numberScore = 5 - num + 1;

    this.$el
      .querySelectorAll("svg")
      .forEach((item) => item.classList.remove("star-selected"));
    starEl.classList.add("star-selected");

    this.$emit("starVoted", numberScore);
  }

  get getRating(): number {
    return +((this.current / 5) * 100).toFixed(2);
  }
}
</script>

<style lang="scss">
.star-rating {
  color: #FFA41C;
  display: inline-block;
  position: relative;
  transform: translate(-6px);

  @media (min-width: 768px) {
    svg {
      width: 30px !important;
      height: 30px !important;
    }
  }
}

.star-voting {
  direction: rtl;
  svg:hover,
  svg.star-selected,
  svg.star-selected ~ svg,
  svg:hover ~ svg {
    path:last-child {
      fill: #FFA41C;
      pointer-events: none;
    }
  }
}

.star-rating__max,
.star-rating__current {
  position: absolute;
  top: 0;
}

.star-rating__current {
  overflow: hidden;
  white-space: nowrap;
}
</style>
