.cart-container {
  .cart-link {
    text-align: center;
    margin-bottom: 2em;
  }

  .xo-btn--link {
    text-decoration: none;
    display: inline-block;
    line-height: 27.2px;
    font-size: 16px;
    position: relative;
    color: #242424;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -1px;
      background-color: #000;
      width: 100%;
      height: 1px;
      transition: all .2s ease-in-out;
    }

    &:hover::before {
      width: 0;
    }
  }

  .cart-header {
    text-align: center;
  
    h1 {
      margin: 50px 0 30px;
      
      @include responsive(MD) {
        margin: 100px 0 30px;
      }
    }
  }
}

.cart-container--empty {
  height: calc(75vh - 85px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .cart-header {
    text-align: center;
  
    h1 {
      margin: 0 0 30px;
    }
  }
}



.cart-form {
  padding: 30px 0 60px;

  @include responsive(MD) {
    padding: 70px 0 100px;
  }

  .cart-item__title {
    color: #242424;
    display: inline-block;
    padding: 5px 0;
    font-family: font(stack-body);

    @include responsive(MD) {
      padding: 10px 0;
    }
  }
  .js-input-number {
    border: 1px solid #b1b1b1;
    display: flex;
    justify-content: space-around;
    padding: 2px 10px;
    width: 100px;

    span {
      font-size: 20px;
      cursor: pointer;
    }

    input[type="text"] {
      width: 20px;
      font-weight: 600;
      text-align: center;
    }

    .input-decreasement,
    .input-increasement {
      font-weight: 600;
    }
  }

  .cart-item {
    display: flex;

    .cart-item__image {
      margin-right: 30px;

      @include responsive(MD) {
        width: 115px;
        height: 115px;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .cart-item__info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .js-input-number {
      margin-top: 10px;

      @include responsive(MD) {
        display: none;
      }
    }
  }

  table {
    margin-bottom: 20px;
  }
  tr,
  th,
  td {
    border: none;
    text-align: left;
  }

  th, td {
    vertical-align: middle;
    padding: 15px 0;
    padding-left: 15px;
  }

  td.body-remove-icon {
    svg {
      cursor: pointer;
    }
  }

  thead {
    border-bottom: 1px solid rgba(121, 121, 121, 0.6);
    opacity: 0;
    max-height: 0;
    overflow: hidden;

    transition: all .3s;

    @include responsive(MD) {
      opacity: 1;
      max-height: 1;
    }
    tr th {
      height: 50px;
      color: #979797;
      text-transform: uppercase;
      font-family: font(stack-body);
      font-size: 13px;
    }
  }

  table .cart-quantity{
    display: none;

    @include responsive(MD) {
      display: table-cell;
    }
  }

  tbody > tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    > td {
      vertical-align: middle;
    }
  }
}

.cart-checkout {
  display: flex;
  flex-direction: column;
  padding: 40px 30px;
  background-color: #f5efe8;
  max-height: 600px;

  .cart-checkout__input {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .cart-checkout__shipping-text {
    text-align: right;
  }

  .btn--apply {
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;

    span {
      font-family: font(stack-header);
      font-weight: 600;
      @include three-dots(100%, 1);
      display: inline-block !important;
    }
  }

  .cart-checkout__summary {
    border-bottom: 1px solid #dbdbdb;
    padding-bottom: 20px;
  }
  .cart-checkout__subtotal,
  .cart-checkout__shipping,
  .cart-checkout__total{
    display: flex;
    justify-content: space-between;

    margin: 0.5em 0;
  }

  .cart-checkout__shipping {
    padding-bottom: 20px;
    border-bottom: 1px solid #dbdbdb;
  }

  .cart-checkout__discount {
    display: flex;
    padding: 18px 0;

    border-bottom: 1px solid #5d5d5d;
    input[type="text"] {
      border: 1px solid #d2bcb2;
      background-color: #f0ece3;
      padding: 15px;
      width: 62%;
    }

    .btn {
      width: 38%;
    }
  }

  .cart-checkout__total {
    margin-bottom: 30px;
    margin-top: 15px;
    span {
      font-weight: 600;
    }
  }

  .cart-checkout__checkout {
    margin-top: 20px;

    a {
      margin-top: 10px;
    }
  }
}
