<div :class="['cart-container xo-container', cartState.items.length === 0 ? 'cart-container--empty' : '']" id="cartContainer" data-vue-dom>
  <div class="cart-header">
    <h1 v-cloak>${ titleStr }</h1>
  </div>
  <template v-if="cartState.items.length === 0">
    <div class="cart-link">
      <a href="/" class="xo-btn--link">${ continueShoppingStr }</a>
    </div>
  </template>

  <template v-else>
    <form action="/cart" method="post" class="cart-form xo-row">
      <div class="table-container  xo-col-12 xo-col-lg-8">
        <table class="">
          <!-- Header table -->
          <thead>
            <tr>
              <th style="width: 70%">${ productStr }</th>
              <th class="cart-quantity" style="width: 28%">${ quantityStr }</th>
              <th style="width: 20%">${ totalStr }</th>
              <th class="head-remove-icon" style="width: 2%"></th>
            </tr>
          </thead>

          <!-- Body table -->
          <tbody>
            <tr v-for="(item, index) in cartState.items" :key='index'>
              <td class="cart-item">
                <a :href="item.url" class="cart-item__image">
                  <img :src="item.featured_image.url | imgURL('100x100', 'center')" :alt="item.featured_image.alt">
                </a>

                <div class="cart-item__info">
                  <a :href="item.url" class="cart-item__title">${ item.product_title }</a>
                  <div class="cart-item__variant">${ item.variant_title }</div>
                  <div class="js-input-number">
                    <button type="button" class="input-decreasement" @click="updateQuantity(Number(item.quantity-=1), item.key)" v-bind:disabled="item.quantity<=1">-</button>
                    <input type="text" :value="item.quantity" min="1" max="10">
                    <button type="button" class="input-increasement" @click="updateQuantity(Number(item.quantity+=1), item.key)">+</button>
                  </div>
                </div>
              </td>
              <td class="cart-quantity">
                <div class="js-input-number">
                  <button type="button" class="input-decreasement" @click="updateQuantity(Number(item.quantity-=1), item.key)" v-bind:disabled="item.quantity<=1">-</button>
                  <input type="text" :value="item.quantity" min="1" max="10">
                  <button type="button" class="input-increasement" @click="updateQuantity(Number(item.quantity+=1), item.key)">+</button>
                </div>
              </td>
              <td class="cart-item__price">${ item.price * item.quantity | hugMoneyFormat }</td>
              <td class="body-remove-icon">
                <svg @click="removeItem($event, 0)" :data-key="item.key" width="15" height="15" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0.736328 1.62598L23.7363 24.626" stroke="#A86D54" stroke-width="2"/>
                  <path d="M23.6445 1.70801L0.817893 24.5346" stroke="#A86D54" stroke-width="2"/>
                </svg>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="cart-checkout xo-col-12 xo-col-lg-4">
        <h3 class="cart-checkout__summary">{{ 'cart.other.summary' | t }}</h3>
        <div class="cart-checkout__subtotal">
          <span>${ subTotalStr }:&nbsp;</span>
          <span>${ cartState.total_price | hugMoneyFormat}</span>
        </div>
        <div class="cart-checkout__shipping">
          <span>Verzending:</span>
          <span class="cart-checkout__shipping-text">${ taxesAndShippingAtCheckoutStr }</span>
        </div>
        <form class="cart-checkout__discount" action="">
          <input type="text" placeholder="{{ 'cart.other.discount_code' | t }}" class="cart-checkout__input">
          <button class="btn btn--apply">
            <span>{{ 'cart.other.apply' | t }}</span>
          </button>
        </form>
        <div class="cart-checkout__total">
          <span>${ totalStr }</span>
          <span>${ cartState.total_price | hugMoneyFormat}</span>
        </div>
        <div class="cart-checkout__checkout">
          <button class="btn btn--is-fullwidth" type="submit" name="checkout">
            ${ checkoutStr | hugUppercase }
          </button>
          <a href="/" class="btn btn--is-fullwidth">${ continueShoppingStr | hugUppercase }</a>
        </div>
      </div>
    </form>
  </template>
</div>
