$spacing-slide: 6px;

/* Contain overrid general component */
.product-slide-container {
  overflow: hidden;
  margin-bottom: 15px;

  .xo-container {
    position: relative;
  }

  .product-item {
    margin-right: 15px;
    width: 250px;
  }

  .product-item:last-child { margin-right: 0 }

  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    color: #242424;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 1px 1px 7px #a2a2a2;
    user-select: none;

    &::after {
      display: none;
    }
  }

  .swiper-button-next { right: 5px }
  .swiper-button-prev { left: 5px }
  .swiper-button-disabled { opacity: 0 }

  .swiper-scrollbar {
    bottom: 0;
    position: absolute;
  }

  .swiper-scrollbar {
    background-color: #f5efe8;
    height: 8px;
    width: 100%;
  }

  .swiper-scrollbar-drag {
    background-color: #242424;
  }

  /* Override <product-item/> component for home page*/
  .product-item__wrapper {
    .product-item__heading > span{
      font-size: 18px !important;
    }

    .product-item__variants {
      padding-left: 4px;
      margin: 8px 0;
      margin-top: 12px;
    }

    .product-item__variant {
      width: 30px !important;
      height: 30px !important;
      margin-right: 6px;
    }

    .product-item-shortmeta {
      font-size: inherit !important;
      margin: 7px 0;
    }
  }

  /* Modify <add-to-cart-btn /> for home page  */
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px !important;
    padding: 24px 20px !important;
  }
}

.product-slide-heading {
  font-family: font(stack-header);
  font-weight: 600;
  margin: 30px 0 20px;

  display: flex;
  align-items: center;

  @include responsive(LG) {
    padding-left: 15px;
  }

  svg {
    margin-left: 6px;
    @include box(14px, 14px);
  }
  path,
  line,
  rect {
    stroke-width: 4;
  }
}

.product-slide-wrapper {
  display: flex;
  justify-items: center;
  align-items: center;

  padding-bottom: 30px;
  position: relative;
}

