{% if collections[section.settings.collection] != blank %}
<div class="product-slide-container" id="productSlideContainer">
  <div class="xo-container">
    <div class="product-slide-heading">
      <a href="{{ section.settings.heading_link }}">
        <h3>{{ section.settings.heading | upcase }}</h3>
      </a>
      {% render 'icon' with 'select-arrow-right' %}
    </div>
    <div class="product-slide-wrapper">
      <div class="swiper-button-prev">&#10094;</div>
      <div class="product-slide-body swiper-container">
        <div class="swiper-wrapper">
          <template v-for="(product, index) in allProducts">
            <div class="swiper-slide product-item" :key="index">
              <product-item
                is-exist-button
                :variants="product.variants"
                :handle="product.handle"
                :original-src="product.featured_image"
                :second-img="product.secondMedia"
                :title="product.title"
                :rating-value="product.rating_value"
                :rating-count="product.rating_count"
              >
              </product-item>
            </div>
          </template>
        </div>
      </div>
      <div class="swiper-button-next">&#x276F;</div>
      <div class="swiper-scrollbar"></div>
    </div>
  </div>
</div>
{% endif %}

<script type="text/javascript">
  var collectionId = '{{collections[section.settings.collection].id}}' || 'NO_CHOOSEN_COLLECTION'
  var allProducts = [];

  var allProducts = [];
  {% for product in collections[section.settings.collection].products %}
      var productsInCollection = {{product | json}};
      // fix err reverse variants[] after convert to json global Product variable Shopify
      productsInCollection.variants.reverse();

      // Add rating
      productsInCollection.rating_value = "{{ product.metafields.upfront.yotpo.average_score }}";
      productsInCollection.rating_count = "{{ product.metafields.upfront.yotpo.total_reviews }}";

      // Add variant image
      productsInCollection.variants.forEach((variant, index) => {
        const xoVariants = {{product.metafields.upfront.variants | json}}
        const xoMedia = {{product.metafields.upfront.media | json}}
        const xoHide = {{product.metafields.upfront.hide | json}}


        if (Boolean(xoMedia)) {
          // Những variant nhỏ hơn, or khoogn được chọn sẽ không được trả về
          // => undefined | is_render = false
          if (xoVariants[variant.id] !== undefined && xoVariants[variant.id] !== null) {
            variant.variant_image = xoVariants[variant.id]
            variant.is_render = true
          } else {
            variant.variant_image = ""
            variant.is_render = false
          }

          if (xoMedia[variant.id] !== undefined && xoMedia[variant.id] !== null) {
            variant.media = xoMedia[variant.id];
          } else {
            variant.media = "";
          }
        }

        if (Boolean(xoHide)) {
          if (xoHide[variant.id] !== undefined && xoHide[variant.id] !== null) {
            variant.is_hide = xoHide[variant.id]
          } else {
            variant.is_hide = false;
          }
        } else {
          variant.is_hide = false;
        }
      })

      // Add video | image to secondMedia props
      var hasVideo = false;
      productsInCollection.media.forEach((media) => {
        if (media.media_type == 'video') {
          hasVideo = true;
        }
      })

      if (!hasVideo) {
        productsInCollection.secondMedia = {
          type: 'image',
          src: productsInCollection.images[1] || '',
          hasMedia: Boolean(productsInCollection.images[1])
        };
      } else {
        productsInCollection.media.forEach((media) => {
          if (media.media_type == 'video') {
            productsInCollection.secondMedia = {
              type: media.media_type,
              src: media.sources[2].url || '',
              hasMedia: Boolean(media.sources[2].url)
            };
          }
        })
      }


      allProducts.push(productsInCollection);
     {% endfor %}
</script>

{% schema %}
{
  "name": "Product slide",
  "class": "product-slide-vue",
  "settings": [
      {
        "type": "url",
        "id": "heading_link",
        "label": "Heading link"
      },
      {
        "type": "text",
        "id": "heading",
        "default": "Populaire Producten",
        "label": "Heading"
      },
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      }
	],
	"presets": [
		{
			"category": "Sliders",
      "name": "Sliders Product"
		}
	]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}
