@mixin box-icon {
  width: 20px;
  height: 20px;
}

.cart-drawer {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vw;
  height: var(--screen-height); // if brower have menu ( safari)
  z-index: 9999;

  transform: translateX(100%);
  transition: transform 0.7s ease-in-out;
}

.cart-drawer.is-expand {
  transform: translateX(0);
}

.cart-drawer__overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.cart-drawer__empty {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > h3 {
    text-align: center;
    margin: 15px 0;
  }
}

.cart-drawer__body {
  width: 90vw;
  height: 100vw;
  height: var(--screen-height);
  background-color: #faf9f7;
  overflow: hidden;
  margin-left: auto;
  z-index: 99999;
  transform: translateX(100%);
  transition: transform 0.7s ease-in-out;

  @include responsive(SM) {
    width: 400px;
  }
}

.cart-drawer__body.is-expand {
  transform: translateX(0);
  box-shadow: -7px -1px 5px -4px rgba(0,0,0,0.1);
}

.cart-drawer__header {
  min-height: 6%;
  // display: flex;
  // align-items: center;
  // padding: 15px 20px;
  // min-height: 6%; // header: 6% | body: 55% | footer: 39%
  // background-color: $primary-theme-color;
  .cart-drawer__headinfo {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    background-color: $primary-theme-color;
  }

  .cart-drawer__headshipping {
    padding: 0 20px;
    margin-top: 20px;
  }

  .cart-drawer__progress {
    margin-top: 10px;
    width: 100%;
    height: 10px;
    border-radius: 999px;
    overflow: hidden;
    background-color: #f5efe8;

    .cart-drawer__percent {
      width: 10%;
      height: 10px;
      background-color: #ebdac7;
    }
  }

  .cart-drawer--icon-cart {
    svg {
      @include box-icon();
    }
  }

  .cart-drawer__heading {
    font-size: 15px;
    margin-left: 10px;
    margin-right: auto;
    font-weight: 600;
    font-family: var(--font-stack-header);
  }

  .cart-drawer--close {
    @include box-icon();
    svg {
      @include box-icon();
    }
    svg > image {
      @include box-icon();
    }
  }
}

.cart-drawer__items {
  padding: 20px;
  overflow: scroll;
  height: calc(55% - 50px); // header: 6% + 50px | body: 55% | footer: 39% || 50px height .cart-drawer__headshipping

  &::-webkit-scrollbar {
    display: none;
  }
}

.cart-drawer__item {
  display: flex;
  border-radius: 10px;
  margin: 10px 0;
  overflow: hidden;

  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }

  .cart-item__image {
    min-width: 35%;
    max-width: 35%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .cart-item__info {
    width: 65%;
    flex: 1;
    padding: 18px;
    background-color: $primary-theme-color;

    .cart-item__variant {
      margin-right: 5px;
      background: #fff;
      border-radius: 999px;
      overflow: hidden;
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: transform .1s;
      position: relative;
    }
  }

  .cart-item__title {
    white-space: nowrap;
    overflow: hidden;
    max-width: 90%;
    text-overflow: ellipsis;
    text-transform: uppercase;
    color: #242424;

    span {
      font-size: var(--font-h4-desktop);
      font-family: var(--font-stack-header);
    }

    span:first-child {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: 700;
    }
  }

  .cart-item__desc {
    display: flex;
    margin-top: 10px;
  }

  .cart-item__desc.is-hide {
    opacity: 0;
  }
}

.cart-item__input {
  display: flex;
  align-items: center;
  margin-top: 14px;
  width: 100%;

  .js-input-number {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 12px;
    font-size: font(stack-body);
    background: #fff;
    width: 50%;
    box-sizing: content-box;

    @include responsive(SM) {
      width: fit-content;
    }

    > input {
      width: 25px;
      min-width: 25px;
      text-align: center;
    }

  }

  .cart-item__price {
    margin-left: 16px;
    width: 50%;
  }
}

.cart-drawer__subtotal {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  padding: 20px;
  text-align: end;
  background-color: $primary-theme-color;
  height: calc(39% + 50px); // header: 6% | body: 55 % | footer: 39%

  .btn {
    padding: 20px 10px;
    border-radius: 10px;

    > span {
      font-size: 15px;
      font-family: font(stack-body);
    }
  }
}

.cart-drawer-checkout {
  margin-top: 15px;
  width: 100%;
  span {
    padding-left: 20px;
  }
}

.cart-drawer__total-price,
.cart-drawer__shiping,
.cart-drawer__final-price,
.cart-drawer__more {
  font-weight: 100;
  font-size: var(--font-stack-body);
  display: flex;

  >span:first-child {
    margin-right: auto;
  }
}

.cart-drawer__shiping {
  margin-top: 4px;
}

.cart-drawer__final-price {
  border-top: 1px solid #000;
  width: 100%;
  margin-left: auto;
  padding: 10px 0;
  margin-top: 10px;
}

.cart-drawer__more {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
