<div class="cart-drawer" id="cart-drawer" data-vue-dom></div>
<script type="text/javascript">
  var cartDrawerStr = {
      'cartEmpty': '{{section.settings.cart_empty}}',
      'cartContinueShoping': '{{section.settings.cart_continue}}',
      'cartTitle': '{{section.settings.cart_title}}',
      'cartPreTotalPrice': '{{section.settings.cart_pre_total}}',
      'cartShipping': '{{section.settings.cart_shipping}}',
      'cartShipingPrice': Number({{section.settings.cart_shipping_price}})
    }
</script>
{% schema %}
{
  "name": "Cart Drawer",
  "class": "product-slide-vue",
  "settings": [
      {
      "type": "header",
      "content": "Cart is empty"
      },
      {
        "type": "text",
        "id": "cart_empty",
        "default": "EMPTY CART",
        "label": "Empty cart"
      },
      {
        "type": "text",
        "id": "cart_continue",
        "default": "CONTINUE SHOPING",
        "label": "Continue Shopping"
      },
      {
      "type": "header",
      "content": "Cart is in stock"
      },
      {
        "type": "text",
        "id": "cart_title",
        "default": "WINKELMANDJE",
        "label": "Cart Title"
      },
      {
        "type": "text",
        "id": "cart_pre_total",
        "default": "Totaalprijs bestelling:",
        "label": "Cart pre total price"
      },
      {
        "type": "text",
        "id": "cart_shipping",
        "default": "*gratis verzending vanaf &euro50,-",
        "label": "Shipping Info"
      },
      {
        "type": "text",
        "id": "cart_shipping_price",
        "default": "20",
        "label": "Free shipping price"
      }
	],
	"presets": [
		{
			"category": "Cart",
      "name": "Cart Drawer"
		}
	]
}
{% endschema %}
