.about-store-image {
  &.xo-col-12 { padding: 0 }
}

.about-store__img{
  @include box(100%, 380px);
}

/*
* Content
*/
.about-store-main {
  display: flex;
}

.about-store__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 45px 15px 103px;

  .about-store__title {
    margin-bottom: 15px;
  }

  .about-store__desc {
    color: #1e1e1e;
    text-align: center;
    font-size: 17px;
    line-height: 1.27;

    @include responsive(LG) { max-width: 70% }
  }
}
