<section class="about-store xo-container-fluid">
  <div class="xo-row about-store-wrapper">

    <div class="about-store-image xo-col-12">
      <div class="about-store__img">
        {% assign overlay = section.settings.apply_overlay %}
        {% assign img_bg_mobile = section.settings.img_bg_mobile %}
        {% assign img_bg = section.settings.img_bg %}

        {% render 'background-image', apply_overlay: overlay, img_bg_mobile: img_bg_mobile, img_bg: img_bg %}
      </div>
    </div>

    <div class="xo-col-12 about-store-main xo-container">
      <div class="about-store__content">

        <h2 class="about-store__title">
          {% if section.settings.store_title != blank %}
            {{ section.settings.store_title | upcase }}
          {% else %}
            {{ 'homepage.general.title' | t | upcase }}
          {% endif %}
        </h2>

        <div class="about-store__desc">
          {% if section.settings.store_desc != blank %}
            {{ section.settings.store_desc }}
          {% else %}
            {{ 'homepage.onboarding.no_content' | t }}
          {% endif %}
        </div>
      </div>
    </div>

  </div>
</section>
<style>
  /* #shopify-section-{{ section.id }} {
    background-color: {{ section.settings.home_bg }};
  } */

  .about-store__title {
    color: {{ section.settings.color_title }};
  }

  .about-store__desc {
    color: {{ section.settings.color_desc }};
  }
</style>

{% schema %}
{
  "name": "About store 2",
  "class": "page__color",
  "settings": [
    {
      "type": "image_picker",
      "id": "img_bg",
      "label": "Image desktop",
      "info": "1800 x 800px .jpg recommended"
    },
    {
      "type": "image_picker",
      "id": "img_bg_mobile",
      "label": "Image mobile",
      "info": "750 x 1100px .jpg recommended. If none is set, desktop image will be cropped"
    },
    {
      "type": "text",
      "id": "store_title",
      "label": "Title",
      "default": "over ons"
    },
    {
      "type": "richtext",
      "id": "store_desc",
      "label": "Description",
      "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>"
    },
    {
      "type": "color",
      "id": "color_title",
      "label": "Title color",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "color_desc",
      "label": "Description color",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "home_bg",
      "label": "Background",
      "default": "#f5efe8"
    },
    {
      "type": "image_picker",
      "id": "signature_img",
      "label": "Signature image"
    }
  ],
  "presets": [
    {
      "category": "About",
      "name": "About store 2"
    }
  ]
}
{% endschema %}
