.xo-container.xo-page-width {
  @media (min-width: 1200px) {
      max-width: 970px;
  }
}

.xo-page-width {
  padding-top: 50px;
  padding-bottom: 50px;

  p:not(:last-child) {
    margin-bottom: 1.6em
  }

  .page__title {
    text-align: center;
    margin-bottom: 2.5em;
  }
}

.page__color {
  background-color: #f5efe8;
}

.page-banner {
  position: relative;
  height: 300px;
}
