// Code SCSS chung
* {
  font-family: font(stack-body);
  font-size: font(size-base-mobile);

  @include responsive(MD) {
    font-size: font(size-base);
  }
}

*,
::after,
::before {
    box-sizing: border-box;
}

*:focus {
  outline: 0;
}

.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  fill: currentColor;
}

button, input, select, textarea {
  background-color: transparent;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

body {
  line-height: 1.2;
}

html {
  overflow-x: hidden;
}
