<template>
  <div id="selectWrapper" class="faq__content-select">
    <button class="select-btn" @click="isPopup = true">
      <template v-if="optionSelected">
        {{ optionSelected }}
      </template>
      <template v-else>
        {{ all }}
      </template>
    </button>

    <modal :is-popup.sync="isPopup" @closeModal="isPopup = $event">
      <transition name="modal" appear>
        <div class="modal-review is-popup" v-show="isPopup">
          <div class="modal__overlay" @click="isPopup = false"></div>
          <div class="modal__wrapper">
            <div class="modal__title">
              <h2>FILTER OP</h2>
              <button class="modal__close" @click="onFilter">
                &#10005;
              </button>
            </div>
            <div class="modal__items">
              <div
                  :class="[
                    'modal__item',
                    (option.value === valueSelected) ? 'is-selected' : '',
                  ]"
                  v-for="(option, index) in category"
                  :key="index"
                  @click="selectOption(option.item, option.value)"
                >
                  <span>{{ option.item }}</span>
                  <span></span>
                </div>
            </div>

            <div class="modal__buttons" @click="onFilter">
              <button class="review__btn">
                <h3>TOEPASSEN</h3>
              </button>
            </div>
          </div>
        </div>
      </transition>
    </modal>
  </div>
</template>

<script lang="ts">
import { qsa } from 'Helpers/dom/dom';
import Vue from 'vue'
import Component from 'vue-class-component';
import { Prop } from 'vue-property-decorator';
import Modal from 'Vue/components/globals/Modal.vue';


@Component({
  components: {
    Modal,
  }
})
export default class ModalFaq extends Vue {
  @Prop() private category!: string[];
  @Prop() private all!: string;
  
  private optionSelected: string = "";
  private valueSelected: string = "category-0";
  private isPopup: boolean = false;

  selectOption(option: string, value: string) {
    this.optionSelected = option;
    this.valueSelected = value;
  }

  onFilter() {
    this.$emit('filter', this.valueSelected);
    this.isPopup = false;
  }
}
</script>

<style lang="scss" scope>
.select-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-left: 15px;
  cursor: pointer;
}

.filter-modal {
  .modal__wrapper {
    overflow: auto;
    max-height: 100vh;

    @media screen and (min-width: 768px) {
      overflow: auto;
      max-height: calc(100vh - 100px);
    }
  }
}
</style>
