{% comment %}
  This is used to create CSS custom variables with Liquid references
  The file variables.scss is referring these CSS custom variables as Sass variables
  to use throughout the stylesheet
{% endcomment %}
{% style %}
  {%- assign header_font = settings.type_header_font -%}
  {%- assign base_font = settings.type_base_font -%}
  {%- assign base_font_bolder = base_font | font_modify: 'weight', 'bolder' -%}
  {%- assign base_font_bold = base_font | font_modify: 'weight', 'bold' -%}
  {%- assign base_font_italic = base_font | font_modify: 'style', 'italic' -%}
  {%- assign base_font_bold_italic = base_font_bold | font_modify: 'style', 'italic' -%}

  :root {
    --color-heading-text: {{ settings.color_text }};
    --color-sale-text: {{ settings.color_sale_text }};

    --color-btn-primary: {{ settings.color_button }};
    --color-btn-primary-text: {{ settings.color_button_text }};

    --color-body: {{ settings.color_body_bg }};

    --font-weight-body--bold: {{ base_font_bold.weight | default: 700 }};
    --font-weight-body--bolder: {{ base_font_bolder.weight | default: 700 }};

    --font-stack-header: {{ header_font.family }}, {{ header_font.fallback_families }};
    --font-style-header: {{ header_font.style }};
    --font-weight-header: {{ header_font.weight }};

    --font-stack-body: {{ base_font.family }}, {{ base_font.fallback_families }};
    --font-style-body: {{ base_font.style }};
    --font-weight-body: {{ base_font.weight }};

    --font-size-header: {{ settings.type_header_base_size }}px;
    --font-size-base: {{ settings.type_base_size }}px;
    --font-size-base-mobile: {{ settings.type_base_size | times: 0.9 | floor }}px;
    --font-size-small: {{ settings.type_base_size | times: 0.7 }}px;

    --font-h1-desktop: {{ settings.type_header_base_size | times: 1.923 | floor }}px;
    --font-h1-mobile: {{ settings.type_header_base_size | times: 1.923 | floor }}px;
    --font-h2-desktop: {{ settings.type_header_base_size | times: 1.5 | floor }}px;
    --font-h2-mobile: {{ settings.type_header_base_size | times: 1.25 | floor }}px;
    --font-h3-desktop: {{ settings.type_header_base_size | times: 1.0 | floor }}px;
    --font-h3-mobile: {{ settings.type_header_base_size | times: 0.9 | floor }}px;
    --font-h4-desktop: {{ settings.type_header_base_size | times: 0.77 | floor }}px;
    --font-h4-mobile: {{ settings.type_header_base_size | times: 0.77 | times: 0.9 | floor }}px;
    --font-h5-desktop: {{ settings.type_header_base_size | times: 0.692 | floor }}px;
    --font-h5-mobile: {{ settings.type_header_base_size | times: 0.692 | times: 0.9 | floor }}px;
    --font-h6-desktop: {{ settings.type_header_base_size | times: 0.615 | floor }}px;
    --font-h6-mobile: {{ settings.type_header_base_size | times: 0.615 | times: 0.9 | floor }}px;
{% endstyle %}
