.btn {
  background-color: #242424;
  color: white;
  text-align: center;
  font-family: font(stack-header);
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 24px 20px;
  display: inline-block;
  transition: all linear 0.15s;
  border: none;
  cursor: pointer;
  outline: 0;
  user-select: none;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;

  > * {
    color: #fff;
  }

  &:hover {
    background-color: #222;
    box-shadow: 0 0 11px rgba(33,33,33,.3);
  }
}

.btn:hover, .btn:focus {
  text-decoration: none;
}

.btn:focus, .btn.focus {
  outline: 0;
}

.btn.disabled, .btn:disabled {
  opacity: 0.65;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn:not(:disabled):not(.disabled):active, .btn:not(:disabled):not(.disabled).active {
  background-image: none;
}

a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}

/**
* ------- btn--is-small --------
*/
.btn--is-small {
  padding: 14px 24px;
  font-size: 10px;
}

.btn--is-large {
  padding: 18px 36px;
  font-size: font(size-small);
}

/**
* ------- btn--is-rounded --------
*/
.btn--is-rounded {
  border-radius: 10px;
  overflow: hidden;
}

/**
* ------- btn--is-loading --------
*/
.btn--is-loading {
  position: relative;
  pointer-events: none;

  color: transparent !important;
  background: #333;

  &::after {
    content: '';

    width: 1em;
    height: 1em;

    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 8px);

    border-radius: 50%;
    border: 2px solid #fff;
    border-right-color: transparent;
    border-top-color: transparent;

    animation: rotateAround .5s infinite linear;
  }

  * {
    opacity: 0;
  }
}

/**
* ------- btn--is-fullwidth --------
*/
.btn--is-fullwidth {
  width: 100%;
}

.btn--is-soldout {
  pointer-events: none !important;
  color: #fff;
  background-color: #ddd1c3;

  &::before {
    background-color: #d1c5b7;
    transform: none;
    transition: none;
  }
}

/**
* ------- btn-link --------
*/

.btn-link{
  color: #000;
  cursor: pointer;

  position: relative;

  &::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #000;
    transition: width .2s ease-in-out;
    position: absolute;
    bottom: -3px;
    left: 0;
  }
  &:hover::before {
    width: 0;
  }
}

/**-----------------------------
* ------------ KEYFRAMES--------
*-------------------------------
*/
@keyframes rotateAround {
  from {
    transform: rotate(0deg);
    opacity: 1;
  }
  to {
    transform: rotate(359deg);
    opacity: .75;
  }
}
