.testimonial-container {
  padding: 30px 0 40px;
  @include responsive(MD) {padding: 40px 0 100px }
  @include responsive(LG) {padding: 50px 0 222px }
}

.testimonial__box {
  position: relative;
  padding-bottom: 30px;

  @include responsive(MD) { padding-bottom: 0 }
}

.testimonial__content {
  position: relative;
  padding: 0 30px 0 15px;
  z-index: 999;
  @include responsive(MD) { display: none }
}

.testimonial__subtitle { font-size: 15px }

.testimonial__title {
  font-size: 19px;

  @include three-dots(100%, 3);
}

.testimonial__img {
  width: 100%;
  display: flex;

  @include responsive(MD) { width: 50% }

  & > img, svg {
    width: 100%;
    height: auto;
  }
}

.testimonial__img--reverse { margin-left: auto }
