<div class="testimonial-container">
  {% for block in section.blocks %}
    {% capture placeholder_image %}{% cycle 'lifestyle-1', 'lifestyle-2' %}{% endcapture %}

    <div class="testimonial__box">
      <!-- Content -->
      <div class="testimonial__content">
        <div class="testimonial__subtitle">{{ block.settings.sub_title }}</div>
        <h3 class="testimonial__title">{{ block.settings.title }}</h3>
      </div>

      <!-- Image -->
      <div class="testimonial__img {% if block.settings.reverse_img %}testimonial__img--reverse{% endif %}"
          style="margin-top: {{ block.settings.position_img }}px">
        {% if block.settings.image == blank %}
          {{ placeholder_image | placeholder_svg_tag: 'placeholder-svg' }}
        {% else %}
          <img
            src="{{ block.settings.image | img_url: '1x1' }}"
            data-src="{{ block.settings.image | img_url: 'original' }}"
            alt="{{ block.settings.image.alt }}"
            class="xo-img--lazyLoad xo-img--lazyLoaded"
          >
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>

{% style %}
  .testimonial-container {
    background-color: {{ section.settings.bg_color }};
    color: {{ section.settings.text_color }};
  }

  @media only screen and (min-width: 768px) {
    .testimonial-container {
      background-color: white;
    }
  }
{% endstyle %}

{% schema %}
{
  "name": "Testimonial",
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background color",
      "default": "#f5efe8"
    },
    {
      "id": "text_color",
      "type": "color",
      "label": "Text color",
      "default": "#000"
    }
  ],
  "blocks": [
    {
      "type": "testimonial",
      "name": "Testimonial",
      "settings": [
        {
          "type": "header",
          "content": "Text"
        },
        {
          "id": "sub_title",
          "type": "text",
          "label": "Sub title",
          "default": "Lorem Ipsum"
        },
        {
          "id": "title",
          "type": "text",
          "label": "Title",
          "default": "Lorem ipsum dolor sit amet consectetur adipisicing elit."
        },
        {
          "type": "header",
          "content": "Image"
        },
        {
          "id": "image",
          "type": "image_picker",
          "label": "Image"
        },
        {
          "id": "position_img",
          "type": "range",
          "min": -50,
          "max": 50,
          "step": 2,
          "unit": "px",
          "label": "Position image",
          "default": -10
        },
        {
          "id": "reverse_img",
          "type": "checkbox",
          "label": "Reverse image",
          "default": false
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Testimonial",
      "category": "Testimonial",
      "blocks": [
        {
          "type": "testimonial",
          "settings": {
            "sub_title": "Het probleem:",
            "title": "\"gezond eten is moeilijk omdat veel voedselmerken consumenten misleiden.\"",
            "reverse_img": false
          }
        },
        {
          "type": "testimonial",
          "settings": {
            "sub_title": "Onze oplossing:",
            "title": "\"een volledig transparant voedselmerk.\"",
            "reverse_img": true
          }
        },
        {
          "type": "testimonial",
          "settings": {
            "sub_title": "Deel 1:",
            "title": "\"deidelojkheid over je eten met upfront label.\"",
            "reverse_img": false
          }
        }
      ]
    }
  ]
}
{% endschema %}
