<div class="error-template">
  <div class="error-template-content">
    <div class="error-template__noti">404</div>
    <h3 class="text-center">{{ 'general.404.title' | t }}</h3>
    <p class="error-template__subtext text-center">{{ 'general.404.subtext' | t }}</p>
    <span class="text-center"></span>
    <div class="error-template__btn">
      <a href="{{ routes.root_url }}" class="btn btn--is-fullwidth btn--is-rounded">{{ 'general.404.link' | t }}</a>
    </div>
  </div>
</div>
