.error-template {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5efe8;

  padding: 70px 0;

  @include responsive(MD) {
    height: calc(100vh - 85px);
  }

  span {
    display: block;

    padding: 0 10px;
    margin-top: 20px !important;
    margin-bottom: 30px !important;

    background-color: #bfbfbf;

    @include box(100%, 1px);

    @include responsive(MD) {
      width: 500px;

      margin-top: 33px !important;
      margin-bottom: 40px !important;
    }

    @include responsive(LG) { width: 710px }
  }
}

.error-template-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0 20px;
}

.error-template__noti {
  color: rgba(168, 109, 84, 0.5);
  font-size: 100px;
  font-weight: 500;
  margin-top: -23px;

  @include responsive(MD) {
    font-size: 150px;
    margin-top: -55px;
  }

  @include responsive(LG) { font-size: 190px }
}

.error-template-content h3 {
  margin-bottom: 8px;
  margin-top: 18px;

  font-style: normal;
  font-weight: 500;

  font-size: 20px;
  line-height: 142%;

  color: #1d1d1d;

  @include responsive(MD) { font-size: 24px }

  @include responsive(LG) {
    font-size: 26px;
    line-height: 140%;
    letter-spacing: -0.2px;

    margin-bottom: 4px;
    margin-top: 0;

    color: #2e3434;
  }
}

.error-template__subtext {
  font-size: 15px;
  line-height: 150%;

  color: #5d5d5d;

  @include responsive(LG) {
    font-size: 16px;
    line-height: 160%;

    color: #797979;
  }
}

.error-template__btn {
  width: 100%;

  @include responsive(MD) {
    width: 250px;
  }
}
