<div class="password-page">
  {% assign overlay = section.settings.apply_overlay %}
  {% assign img_bg_mobile = section.settings.img_bg_mobile %}
  {% assign img_bg = section.settings.img_bg %}

  <div class="db-image {% if overlay %}db-image--overlay{% endif %} db-image-hidden-tablet-and-up">
    {% if img_bg_mobile %}
        <img src="{{ img_bg_mobile | img_url: 'master' }}"
             class="xo-img--lazyLoad"
             alt="{{ img_bg_mobile.alt }}">
    {% else %}
        {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
    {% endif %}
  </div>

  <div class="db-image {% if overlay %}db-image--overlay{% endif %} db-image-hidden-phone">
    {% if img_bg %}
      <img src="{{ img_bg | img_url: 'master'}}"
           class="xo-img--lazyLoad"
           alt="{{ img_bg.alt }}">
    {% else %}
      {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
    {% endif %}
  </div>

  <div class="password-page__container">
    <!-- Header -->
    <header class="password-page__header" data-section-id="{{ section.id }}" data-section-type="password-header">
      {% comment %}
        Link to password modal
      {% endcomment %}
      <p class="password-login">
        <span class="js-toggle-login-modal">
          {{ 'general.password_page.password_link' | t | escape}}
        </span>
      </p>
    </header>

    <!-- Content -->
    <div class="password-page__main text-center" data-section-id="{{ section.id }}" data-section-type="password-content">

      {% comment %}
        Opening soon text
      {% endcomment %}
      {% unless section.settings.title == blank %}
        <h1 class="password-page__hero">{{ section.settings.title | escape }}</h1>
      {% endunless %}

      {% comment %}
        Password message which you can edit on http://www.shopify.com/admin/online_store/preferences
      {% endcomment %}
      {% unless shop.password_message == blank %}
        <div class="password-page__message">
          {{ shop.password_message }}
        </div>
      {% endunless %}

      {% comment %}
        Signup form
      {% endcomment %}
      {% if section.settings.newsletter_enable %}
        <div class="password-page__signup-form">
          {% form 'customer' %}
            {{ form.errors | default_errors }}

            {% if form.posted_successfully? %}
              <p class="form-success">{{ 'general.password_page.signup_form_success' | t }}</p>
            {% else %}
              <h5 class="password-form__heading">{{ section.settings.newsletter_form_heading | escape }}</h5>

              {% unless section.settings.newsletter_form_subheading == blank %}
                <div class="password-form__subheading">{{ section.settings.newsletter_form_subheading }}</div>
              {% endunless %}

              <input type="hidden" name="contact[tags]" value="prospect, password page">
              <div class="input-group">
                <input type="text" name="contact[email]" id="email" class="input-group-field" placeholder="{{ section.settings.newsletter_placeholder }}">
                <button class="input-group-btn">
                  {{ section.settings.newsletter_button_text | escape }}
                </button>
              </div>
            {% endif %}
          {% endform %}
        </div>
      {% endif %}

      {% comment %}
        Share homepage URL
        Shared text is from the store meta description
      {% endcomment %}
      {% if section.settings.show_share_buttons %}
        <div class="password-page__social-sharing">
          <div class="password-page__signup-form__heading">{{ section.settings.social_message | escape }}</div>
          {% render 'social-sharing' %}
        </div>
      {% endif %}
    </div>

    <!-- Footer -->
    <footer class="password-page__footer text-center">
      <div class="password-page__footer_inner">

        {% capture shopify %}
          <a class="shopify-link" href="//www.shopify.com" target="_blank" title="Create your own online store with Shopify">
            {% render 'shopify-svg' %}
          </a>
        {% endcapture %}

        {{ 'general.password_page.powered_by_shopify_html' | t: shopify: shopify }}
      </div>
    </footer>
  </div>
</div>

{% schema %}
{
  "name": "Password Section",
  "settings": [
    {
      "type": "header",
      "content": "Background image"
    },
    {
      "type": "image_picker",
      "id": "img_bg",
      "label": "Image desktop",
      "info": "1800 x 800px .jpg recommended"
    },
    {
      "type": "image_picker",
      "id": "img_bg_mobile",
      "label": "Image mobile",
      "info": "750 x 1100px .jpg recommended. If none is set, desktop image will be cropped"
    },
    {
      "type": "checkbox",
      "id": "apply_overlay",
      "label": "Enable overlay image",
      "default": true
    },
    {
      "type": "header",
      "content": "Newsletter"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Opening Soon"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "label": "Show newsletter signup",
      "default": true
    },
    {
      "type": "text",
      "id": "newsletter_form_heading",
      "label": "Newsletter form heading",
      "default": "Be the first to know when we launch."
    },
    {
      "type": "richtext",
      "id": "newsletter_form_subheading",
      "label": "Newsletter form subheading",
      "default": "<p>Promotions, new products and sales. Directly to your inbox.</p>"
    },
    {
      "type": "text",
      "id": "newsletter_placeholder",
      "label": "Newsletter placeholder text",
      "default": "Email address"
    },
    {
      "type": "text",
      "id": "newsletter_button_text",
      "label": "Newsletter button text",
      "default": "Submit"
    },
    {
      "type": "header",
      "content": "Social sharing"
    },
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": "Social sharing buttons heading",
      "default": true
    },
    {
      "type": "text",
      "id": "social_message",
      "label": "Social sharing buttons heading",
      "default": "Spread the word"
    }
  ]
}
{% endschema %}
