.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}


.modal-enter, 
.modal-leave-active {
  .modal__wrapper, 
  .review-create__wrapper, 
  .modal-comment-image {
    transform: translateY(50px);
  }
}

.modal-review {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  visibility: hidden;
  transition: transform .3s cubic-bezier(0.5, 0, 0.5, 1) ,opacity .3s linear;

  @media (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.is-popup {
    visibility: visible;
  }

  .modal__wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 30px;
    z-index: 1001;

    background-color: #f5efe8;
    transition: transform .3s cubic-bezier(0.5, 0, 0.5, 1) ,opacity .3s linear;

    box-shadow: rgba($color: #000000, $alpha: 0.2) 0px 0px 12px,
      rgba($color: #000000, $alpha: 0.5) 0px 0px 0.5px;

    @media (min-width: 768px) {
      position: initial;
      width: 500px;
      border-radius: 15px;
    }

    .modal__title {
      display: flex;
      justify-content: space-between;
      align-items: center;

      padding: 30px 30px 0;
    }

    .modal__buttons {
      margin-top: 20px;
      padding: 0 30px;
      cursor: pointer;
    }
  }
}

  .modal__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    background-color: rgba($color: #000000, $alpha: .3);
    transition: transform .3s cubic-bezier(0.5, 0, 0.5, 1), opacity .3s linear;

    z-index: 999;
  }

.modal__close {
  padding: 0;
  font-size: 27px !important;
}

.modal__items {
  margin-top: 20px;
}

.modal__item {
  padding: 15px 30px;

  display: flex;
  justify-content: space-between;
  cursor: pointer;

  &.is-selected {
    background-color: #f8e3cb;

    span:last-child::before {
      position: absolute;
      top: 1px;
      left: 1px;
      content: "";

      width: 14px;
      height: 14px;
      background-color: #000;

      border-radius: 50%;
    }
  }

  &:hover {
    background-color: #f8e3cb;
  }

  span:last-child {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid #000;
    position: relative;
    margin-right: 2px;
  }
}
