<template>
  <div class="customer-comment">
    <div class="xo-row">
      <div class="customer-info xo-col-12 xo-col-md-2">
        <div class="customer-info--first">
          <div
            class="customer-name"
            :data-user-id="comment.user.user_id"
            v-cloak
          >
            {{ comment.user.display_name }}
          </div>
          <div
            class="customer-address"
            v-for="(value, key) in comment.custom_fields"
            :key="key"
          >
            <template v-if="value.title == 'Locatie'" v-cloak>
              {{ value.value }}
            </template>
          </div>
        </div>
        <div class="customer-info--second">
          <div
            class="customer-sex"
            v-for="(value, key) in comment.custom_fields"
            :key="key"
          >
            <template v-if="value.title != 'Locatie'">
              <span v-cloak>{{ value.title }}</span>
              <span v-cloak>{{ value.value }}</span>
            </template>
          </div>
        </div>
      </div>
      <div class="customer-comment__content xo-col-12 xo-col-md-10">
        <star-voting :current="comment.score" style="margin-left: 4px"></star-voting>
        <div class="comment-title" v-cloak>{{ comment.title }}</div>
        <div class="comment-content" v-html="comment.content" v-cloak></div>
        <div class="comment-images" v-if="comment.images_data">
          <template v-for="(image, index) in comment.images_data">
            <img :key="image.id" :src="image.thumb_url" alt="" @click="handlePopUpImage($event)" :data-index="index">
          </template>
        </div>
        <div class="comment-vote">
          <div class="comment-vote__info" :class="isReviewed ? 'is-voted' : ''">
            <button
              type="button"
              class="comment-vote--up"
              @click.once="voteReview(comment.id, 'up');"
            >
              <svg version="1.1" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><!--Generated by IJSVG (https://github.com/iconjar/IJSVG)--><g fill="none"><path d="M0,0h24v24h-24Z"></path><path stroke="#323232" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M6.944,19h-1.888c-0.583,0 -1.056,-0.473 -1.056,-1.056v-7.388c0,-0.583 0.473,-1.056 1.056,-1.056h1.888c0.583,0 1.056,0.473 1.056,1.056v7.388c0,0.583 -0.473,1.056 -1.056,1.056Z"></path><path stroke="#323232" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M8,10.572l3.649,-4.751c0.679,-0.885 2.005,-0.907 2.714,-0.046v0c0.265,0.321 0.409,0.725 0.409,1.141v3.271h3.096c0.601,0 1.162,0.3 1.496,0.799l0.329,0.491c0.295,0.441 0.381,0.99 0.234,1.499l-1.359,4.722c-0.222,0.771 -0.927,1.302 -1.729,1.302h-6.289c-0.5,0 -0.978,-0.208 -1.318,-0.574l-1.232,-1.326"></path></g></svg>
              <span v-cloak>{{ comment.votes_up }}</span>
            </button>
            <button
              type="button"
              class="comment-vote--down"
              @click.once="voteReview(comment.id, 'down');"
            >
              <svg version="1.1" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><!--Generated by IJSVG (https://github.com/iconjar/IJSVG)--><g fill="none"><path d="M0,0h24v24h-24Z"></path><path stroke="#323232" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M6.944,19h-1.888c-0.583,0 -1.056,-0.473 -1.056,-1.056v-7.388c0,-0.583 0.473,-1.056 1.056,-1.056h1.888c0.583,0 1.056,0.473 1.056,1.056v7.388c0,0.583 -0.473,1.056 -1.056,1.056Z"></path><path stroke="#323232" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M8,10.572l3.649,-4.751c0.679,-0.885 2.005,-0.907 2.714,-0.046v0c0.265,0.321 0.409,0.725 0.409,1.141v3.271h3.096c0.601,0 1.162,0.3 1.496,0.799l0.329,0.491c0.295,0.441 0.381,0.99 0.234,1.499l-1.359,4.722c-0.222,0.771 -0.927,1.302 -1.729,1.302h-6.289c-0.5,0 -0.978,-0.208 -1.318,-0.574l-1.232,-1.326"></path></g></svg>
              <span v-cloak>{{ comment.votes_down }}</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <template v-if="comment.comment">
      <div class="xo-row">
        <div class="xo-col-md-2"></div>
        <div class="comment-reply xo-col-md-10">
          <div class="shop-info">
            <div class="shop__image">
              <img :src="comment.comment.comments_avatar" alt="" />
            </div>
            <div class="shop__name">{{ comment.comment.display_name }}</div>
          </div>
          <div class="reply__content" v-html="comment.comment.content"></div>
        </div>
      </div>
    </template>
  </div>
</template>

<script lang="ts">
import { getCookie, setCookie } from "Helpers/utils";
import Vue from "vue";
import { Component, Prop } from "vue-property-decorator";
import StarVoting from "Vue/components/globals/StarVoting.vue";

@Component({
  components: {
    StarVoting
  }
})
export default class Comment extends Vue {
  @Prop() readonly comment: any;

  private isReviewed = false;

  mounted() {
    const listReviewed = getCookie("listCookie");
    if (listReviewed?.includes(`${this.comment.id}`)) {
      this.isReviewed = true;
    }
  }

  async voteReview(reviewID: number, typeVote: string) {
    if (!this.isReviewed) {
      try {
        if (typeVote === 'up') this.comment.votes_up++;
        else this.comment.votes_down++;
        this.isReviewed = true;
        const res = await fetch(`https://api.yotpo.com/reviews/${reviewID}/vote/${typeVote}`);
        if (res.status === 200) {
          let listReviewed = getCookie("listCookie");
          setCookie("listCookie", listReviewed += ` ${reviewID}`, 60);
        } else throw new Error();
      } catch (error) {
        console.log(error);
      }
    }
  }

  handlePopUpImage(e: MouseEvent) {
    this.$emit('popup-image', e);
  }
}
</script>

<style lang="scss">
.customer-comment__content  {
  .star-rating {
    margin-top: 13px;
    @media (min-width: 768px) {
      margin-top: 0;
    }
  }
}
.comment-title {
  margin: 5px 0;
  font-weight: 700;
}

.comment-content {
  margin: 10px 0;
}

.comment-images {
  margin: 20px 0;
  img {
    width: 100px;
    height: auto;
    @media (min-width: 768px) {
      width: auto;
    }

    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
  }
}

.comment-vote {
  margin-top: 20px;

  .comment-vote__info {
    margin-top: 10px;
    display: flex;

    button {
      display: flex;
      align-items: center;

      padding: 0;
      margin-right: 20px;
    }

    svg {
      margin-right: 5px;
      width: 28px;
      height: 28px;
    }
  }

  .comment-vote--down svg {
    transform: rotate(180deg);
    margin-top: 5px;
  }
}
.comment-vote__info.is-voted {
  button {
    cursor: not-allowed;
  }
}

.comment-reply {
  margin-top: 20px;
  padding: 10px 20px;

  display: flex;

  .shop-info {
    margin-right: 20px;
    .shop__name {
      font-weight: 700;
      text-align: center;
    }
  }

  .shop__image {
    img {
      border-radius: 50%;
      width: 60px;
      height: 60px;
    }
  }
}
</style>
