<template>
  <div class="filter-container">
    <button class="filter-btn review__btn" type="button" @click="isPopup = true">
      <span>
        <template v-if="optionApplied != '' || sortSelected.label">
          {{ optionApplied || sortSelected.label }}
        </template>
        <slot v-else></slot>
      </span>
      <svg
        version="1.1"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        style="width: 30px; height: 30px"
      >
        <path
          d="M8,10l4,4l4,-4"
          stroke-linecap="round"
          stroke-width="1.5"
          stroke="#323232"
          fill="none"
          stroke-linejoin="round"
        ></path>
        <path fill="none" d="M0,0h24v24h-24Z"></path>
      </svg>
    </button>

    <modal :is-popup.sync="isPopup" @closeModal="isPopup = $event">
      <transition name="modal" appear>
        <div class="modal-review is-popup" v-show="isPopup">
          <div class="modal__overlay" @click="isPopup = false"></div>
          <div class="modal__wrapper">
            <div class="modal__title">
              <h3>Filter op <slot></slot></h3>
              <button class="modal__close" type="button" @click="isPopup = false">
                &#10005;
              </button>
            </div>
            <div class="modal__items">
              <template v-if="!isSort">
                <div
                  :class="[
                    'modal__item',
                    option === optionSelected ? 'is-selected' : '',
                  ]"
                  v-for="(option, index) in listOption"
                  :key="index"
                  @click="selectOption(option)"
                >
                  <span>{{ option }}</span>
                  <span></span>
                </div>
              </template>
              <template v-else>
                <div
                  :class="[
                    'modal__item',
                    option === sortSelected ? 'is-selected' : '',
                  ]"
                  v-for="(option, index) in listSort"
                  :key="index"
                  @click="selectSort(option)"
                >
                  <span>{{ option.label }}</span>
                  <span></span>
                </div>
              </template>
            </div>

            <div class="modal__button" style="margin: 20px 30px 0;">
              <button
                type="button"
                :class="['review__btn', isFilterLoading ? 'btn--is-loading' : '']"
                @click="filter"
              >
                <h3>TOEPASSEN</h3>
              </button>
            </div>
          </div>
        </div>
      </transition>
    </modal>
  </div>
</template>

<script lang="ts">
import { Vue, Watch, Component, Prop } from "vue-property-decorator";
import { mapActions, mapGetters } from "vuex";
import Modal from 'Vue/components/globals/Modal.vue';
import store from "Vue/store/index";
import { CRFS } from "Types/review";

interface Sort {
  sort_by: string;
  ascending: boolean;
  label?: string;
}

@Component({
  store,
  components: {
    Modal
  },
  computed: {
    ...mapGetters("ReviewStore", {
      crfs: "getCrfs",
      isFilterLoading: "getIsFilterLoading",
      dataFilter: "getDataFilter",
    }),
  },
  methods: {
    ...mapActions("ReviewStore", [
      "updateCRFS",
      "updateDataFilter",
    ]),
  },
})
export default class ModalReview extends Vue {
  @Prop() private listOption!: string[];
  @Prop() private id!: number;
  @Prop() private isSort!: boolean;

  private readonly crfs!: CRFS[];

  private readonly isFilterLoading!: boolean;

  private readonly dataFilter!: any;

  private optionSelected: string = "";

  private optionApplied: string = "";

  private modalEl: HTMLElement;

  private isPopup: boolean = false;

  private listSort = [
    { sort_by: "score", ascending: false, label: "Meeste sterren" },
    { sort_by: "score", ascending: true, label: "Minste sterren" },
    { sort_by: "date", ascending: false, label: "Nieuwste" },
    { sort_by: "votes_up", ascending: false, label: "Meeste stemmen" },
    { sort_by: "votes_down", ascending: false, label: "Minste stemmen" },
    { sort_by: "image_count", ascending: false, label: "Afbeelding" }
  ] as Sort[];

  private sortSelected: Sort = {} as Sort;

  updateCRFS!: (crf: CRFS) => void;

  updateDataFilter!: (newData: any) => void;

  selectOption(option: string) {
    if (option === this.optionSelected) {
      this.optionSelected = '';
    } else {
      this.optionSelected = option;
    }
  }

  selectSort(sort: Sort) {
    if (sort === this.sortSelected) {
      this.sortSelected = {} as Sort;
    } else {
      this.sortSelected = sort;
    }
  }

  mounted() {
    // Default sort vote up
    if (this.isSort) {
      const { label, ...sort } = this.listSort[3]
      const sortings = [sort]
      this.updateDataFilter({ sortings, page: 1 })
    }
  }

  filter() {
    if (this.isSort) {
      const { label, ...sort } = this.sortSelected;
      const sortings = [sort];
      this.updateDataFilter({ sortings, page: 1 });
    } else {
      if (this.optionSelected || this.optionApplied || this.optionApplied !== this.optionSelected) {
        const { id, optionSelected } = this;
          const dataCRF = {
            question_id: id,
            answers: [optionSelected],
          };
          this.updateCRFS(dataCRF);
          this.optionApplied = this.optionSelected;
      } else this.isPopup = false
    }
  }

  @Watch("isFilterLoading")
  onLoading(newValue: boolean, oldValue: boolean) {
    if (oldValue && !newValue) {
      this.isPopup = false;
      document.body.classList.remove("remove-scrolling");
    }
  }
}
</script>

<style lang="scss">
.filter-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-left: 15px;
  cursor: pointer;
}
</style>
