<div class="login-wrapper general-wrapper" id='loginWrapper'>
  <div class="login-container">
    <div class="login-form-container form-item">
      <h2 class="customer-form__title h2">INLOGGEN</h2>

      <!-- Login form main  -->
      {%- form 'customer_login', class: 'customer-login-form' -%}

        {%- comment -%} Error form {%- endcomment -%}
        {%- if form.errors -%}
          <p class="customer-form__error">
            {{- form.errors.messages['form'] -}}
          </p>
        {%- endif -%}

        <div class="customer-form__item">
          <label for="customerEmail">{{ 'customer.login.email' | t }}</label>
          <input
              type="email"
              name="customer[email]"
              required
              placeholder="Email"
              class="review__btn"
          >
        </div>

        <div class="customer-form__item">
          <label for="customerPassword">{{ 'customer.login.password' | t }}</label>
          <input
              type="password"
              name="customer[password]"
              required
              class="review__btn"
              placeholder="Wachtwoord"
          >
        </div>

        <button type="submit" class="btn btn--is-fullwidth review__btn">
          <h3>INLOGGEN</h3>
        </button>
      {%- endform -%}

      <div class="xo-recover-form text-center">Wachtwoord vergeten?</div>

      <div class="login-container-create text-center">
        Nog geen account?
        <a href="/account/register" class="customer-form__link">Maak hier een account</a>.
      </div>

    </div>

    <div class="recover-form-container form-item">
      <div class="customer-form__title h2">WACHTWOORD VERGETEN</div>
      {% form 'recover_customer_password', class: 'recover-form' %}

       {%- comment -%} Error form {%- endcomment -%}
       {%- if form.errors -%}
          <p class="customer-form__error">
            {{- form.errors.messages['form'] -}}
          </p>
        {%- endif -%}

        {% if form.posted_successfully? %}
          <span class="reset-password-success">{{ 'customer.other.reset_password_success' | t }}</span>
        {% endif %}

        <div class="customer-form__item">
          <label for="RecoverEmail">{{ 'customer.recover_password.email' | t }}</label>
          <input
            type="email"
            value=""
            name="email"
            id="RecoverEmail"
            class="review__btn"
          >
        </div>

        <button type="submit" class="btn btn--is-fullwidth review__btn">
          <h3>Versturen</h3>
        </button>
      {% endform %}

      <div class="xo-login-form text-center">Wachtwoord onthouden?
        <span>Terug naar login</span>
      </div>
    </div>
  </div>
</div>
