<div class="account">
  <div class="xo-container account-wrapper">
    <div class="xo-row">

      <header class="account__header xo-col-12">
        <h3 class="h3">{{ 'customer.account.title' | t }}</h3>
        <p>{{ 'customer.account.subtext' | t }} !</p>
        <a href="/account/logout" class="btn-link" >
          {{ 'layout.customer.log_out' | t }}
        </a>
      </header>

      <div class="account__container xo-container">

        <div class="xo-row">
          <div class="account__content xo-col-12">
            {%- if customer.orders.size == 0 -%}
              <div class="account__content-empty">
                <h2 class="account__content-empty__title">{{ 'customer.orders.title' | t }}</h2>

                <div class="account__content-empty__noti">
                  <p>{{ 'customer.other.no_order' | t }}</p>
                </div>
              </div>
            {%- else -%}
              <div class="account__info">
                <table class="account__table">
                  <thead>
                    <tr>
                      <th>{{ 'customer.orders.order_number' | t }}</th>
                      <th>{{ 'customer.orders.date' | t }}</th>
                      <th>{{ 'customer.orders.payment_status' | t }}</th>
                      <th>{{ 'customer.other.tracking_title' | t }}</th>
                      <th>{{ 'customer.orders.fulfillment_status' | t }}</th>
                      <th>{{ 'customer.orders.total' | t }}</th>
                    </tr>
                  </thead>

                  <tbody>
                    {%- for order in customer.orders -%}
                      <tr>
                        <td><a class="btn-link" href="{{ order.customer_url }}">{{ order.name }}</a></td>
                        <td>{{ order.created_at | time_tag: format: 'date' }}</td>
                        <td>{{ order.financial_status_label }}</td>
                        <td>
                          {%- for line_item in order.line_items -%}
                          {% if forloop.first == true %}
                            {% if line_item.fulfillment.tracking_numbers != blank %}
                              <a href="{{ line_item.fulfillment.tracking_url }}" class="btn-link" target="_blank">{{line_item.fulfillment.tracking_number}}</a>
                            {% else %}
                              <span>{{ 'customer.other.empty_tracking' | t }}</span>
                            {% endif %}
                          {% endif %}
                          {%- endfor -%}
                        </td>
                        <td>{{ order.fulfillment_status_label }}</td>
                        <td>{{ order.total_price | money_without_trailing_zeros }}</td>
                      </tr>
                    {%- endfor -%}
                  </tbody>
                </table>
              </div>
            {%- endif -%}
          </div>

          <div class="account__address xo-col-12">

            <div class="account__address-main">
              {%- if customer.addresses_count == 0 -%}
                <p class="account__address-header">{{ 'customer.addresses.no_address' | t }}</p>

                <div class="">
                  <p>{{ 'customer.other.no_addresses' | t }}</p>

                  <div class="">
                    <a href="{{ routes.account_addresses_url }}">
                      {{ 'customer.addresses.manage' | t }}
                    </a>
                  </div>
                </div>
              {%- else -%}
                <p class="account__address-header">{{ 'customer.addresses.primary' | t }}</p>

                <div class="account__address-content">
                  {{ customer.default_address | format_address | replace: '<p>', '<p class="AccountAddress"><span>' | replace_first: '<br>', '</span><br>' }}
                  <div class="account__address-link">
                    <a href="{{ routes.account_addresses_url }}" class="btn">{{ 'customer.addresses.title' | t }}</a>
                  </div>
                </div>
              {%- endif -%}
            </div>

          </div>
        </div>

      </div>

    </div>
  </div>

</div>
