<div class="order">
  <div class="order-wraper xo-container">
    <header class="order__top">
      <a href="{{ routes.account_url }}" class="order__back">
        {% render 'icon' with 'select-arrow-left' %}
        <span>Terug naar account</span>
      </a>

      <div class="order__header">
        {%- assign placed_at = order.created_at | date: format: 'month_day_year_time' -%}

        <div class="order__title h3">{{ 'customer.order.title' | t: name: order.name | upcase }}</div>

        {%- assign order_date = order.created_at | time_tag: format: "date_at_time" -%}
        <p class="order__time">{{ 'customer.order.date_html' | t: date: order_date }}</p>

      </div>
    </header>

    <div class="order__content xo-row">
      <div class="xo-col-12 xo-col-lg-8 order__product">
        <div>
          <table class="order-table">
            <thead>
              <tr>
                <th style="text-align: left;">{{ 'customer.order.product' | t }}</th>
                <th>{{ 'customer.order.quantity' | t }}</th>
                <th>{{ 'customer.order.total' | t }}</th>
                <th>{{ 'customer.other.tracking_title' | t }}</th>
              </tr>
            </thead>

            <tbody>
              {%- for line_item in order.line_items -%}
                <tr class="order__item">
                  <td class="order__item-product">
                    <div class="order__img">
                      <img src="{{ line_item.image | img_url: '240x' }}" alt="{{ line_item.image.alt | escape }}">
                    </div>

                    <div class="order__item-info">
                      <p class="order__brand">
                        <a href="{{ line_item.url }}">{{ line_item.product.title }}</a>
                      </p>

                      <div class="order__desc">
                        {%- unless line_item.product.has_only_default_variant -%}
                          <p class="order__name">{{ line_item.variant.title }}</p>
                        {%- endunless -%}

                        <span class="order__price">{{ line_item.final_price | money_without_trailing_zeros }}</span>

                      </div>
                    </div>
                  </td>

                  <td class="order__quantity">{{ line_item.quantity }}</td>

                  <td class="order__pricce-main">
                    <span>{{ line_item.final_line_price | money_without_trailing_zeros }}</span>
                  </td>
                  <td class="order__tracking-url">
                    {% if line_item.fulfillment.tracking_numbers != blank %}
                      <a href="{{ line_item.fulfillment.tracking_url }}" class="btn-link" target="_blank">{{line_item.fulfillment.tracking_number}}</a>
                    {% else %}
                      <span>{{ 'customer.other.empty_tracking' | t }}</span>
                    {% endif %}

                  </td>
                </tr>

              {%- endfor -%}
            </tbody>

            <tfoot>
              <tr>
                <td class="hidden-phone"></td>
                <td class="hidden-phone"></td>
                <td class="order__total-text">{{ 'customer.order.subtotal' | t }}</td>
                <td class="order__total-num">{{ order.line_items_subtotal_price | money_without_trailing_zeros }}</td>
              </tr>

              <tr>
                <td class="hidden-phone"></td>
                <td class="hidden-phone"></td>
                <td class="order__total-text">{{ 'customer.order.total' | t }}</td>
                <td class="order__total-num">{{ order.total_price | money_without_trailing_zeros }}</td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>

      <div class="xo-col-12 xo-col-lg-4">
        <div class="order-address">

          <div class="order-address__item">
            <div>
              <p class="order-address__heading">{{ 'customer.order.shipping_address' | t }}</p>

              <div class="order-address__content">
                {%- if order.shipping_address -%}
                  {{ order.shipping_address | format_address | replace: '<p>', '<p class="AccountAddress"><span>' | replace_first: '<br>', '</span><br>' }}
                {%- else -%}
                  <p>{{ 'customer.order.no_shipping_address' | t }}</p>
                {%- endif -%}
              </div>
            </div>
          </div>

          <div class="order-address__item">
            <div class="order-address__billing">
              <p class="order-address__heading">{{ 'customer.order.billing_address' | t }}</p>

              <div class="order-address__content">
                {{ order.billing_address | format_address | replace: '<p>', '<p class="AccountAddress"><span>' | replace_first: '<br>', '</span><br>' }}
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
