<div class="register-wrapper general-wrapper">
  <div class="register-container form-item">
    <h2 class="customer-form__title h2">REGISTEREREN</h2>
    <div class="customer-form__subtitle">Onderstaande informatie invullen</div>

    <!-- Register form  -->
    <div class="register-form-container">
      {% form 'create_customer', class: 'register-form' %}
        {%- comment -%} Error form {%- endcomment -%}
        {%- if form.errors -%}
          <p class="customer-form__error">
            {{- form.errors.messages['form'] -}}
          </p>
        {%- endif -%}

        <div class="customer-form__item">
          <input
              type="text"
              placeholder="Voornaam"
              value=""
              class="review__btn"
              name="customer[first_name]"
              required />
          <label for="first_name">Voornaam</label>
        </div>

        <div class="customer-form__item">
          <input
              type="text"
              placeholder="Achternaam"
              value=""
              name="customer[last_name]"
              required
              class="review__btn"
          />
          <label for="first_name">Achternaam</label>
        </div>

        <div class="customer-form__item">
          <input
              type="email"
              placeholder="Email"
              name="customer[email]"
              required
              class="review__btn"
              placeholder="Email"
          >
          <label for="customerEmail">Email</label>
        </div>

        <div class="customer-form__item">
          <input
              type="password"
              placeholder="Wachtwoord"
              name="customer[password]"
              required
              class="review__btn"
              placeholder="Watchwoord"
          >
          <label for="customerPassword">Wachtwoord</label>
        </div>

        <button type="submit" class="btn btn--is-fullwidth review__btn">
          <h3>Account aanmaken</h3>
        </button>
      {% endform %}
    </div>
  </div>
</div>
