<div class="reset-pass-wrapper general-wrapper">
  <div class="reset-pass-container form-item">
   <div class="reset-form-container">
    <h2 class="customer-form__title h2">{{ 'customer.reset_password.title' | t | upcase }}</h2>
    <p class="customer-form__subtitle">{{ 'customer.reset_password.subtext' | t: email: email }}</p>

    {% form 'reset_customer_password', class: 'customer-reset-password' %}
      {%- if form.errors -%}
        <ul>
          {%- for field in form.errors -%}
            {%- if field == 'form' -%}
              <li class="customer-form__error">{{ form.errors.messages[field] }}</li>
            {%- else -%}
              <li class="customer-form__error"><strong>{{ form.errors.translated_fields[field] }}</strong> {{ form.errors.messages[field] }}</li>
            {%- endif -%}
          {%- endfor -%}
        </ul>
      {%- endif -%}

      {% if form.posted_successfully? %}
        <span class="reset-password-success">{{ 'customer.other.reset_password_success' | t }}</span>
      {% endif %}

      <div class="customer-form__item">
        <label for="reset-password">{{ 'customer.reset_password.password' | t }}</label>
        <input
            type="password"
            value=""
            name="customer[password]"
            id="reset-password"
            class="review__btn"
            required
        >
      </div>

      <div class="customer-form__item">
        <label for="password-confirmation">{{ 'customer.reset_password.password_confirm' | t }}</label>
        <input
            type="password"
            value=""
            name="customer[password_confirmation]"
            id="password-confirmation"
            required
            class="review__btn"
        >
      </div>

      <button type="submit" class="btn btn--is-fullwidth review__btn">
        <h3>{{ 'customer.reset_password.submit' | t }}</h3>
      </button>
    {% endform %}
   </div>
  </div>
</div>
