<div class="page-banner">
  {% assign overlay = section.settings.apply_overlay %}
  {% assign img_bg_mobile = section.settings.img_bg_mobile %}
  {% assign img_bg = section.settings.img_bg %}

  {% render 'background-image', apply_overlay: overlay, img_bg_mobile: img_bg_mobile, img_bg: img_bg %}
</div>

{% schema %}
{
  "name": "Banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "img_bg",
      "label": "Image Desktop",
      "info": "1800 x 800px .jpg recommended"
    },
    {
      "type": "image_picker",
      "id": "img_bg_mobile",
      "label": "Image Mobile",
      "info": "750 x 1100px .jpg recommended. If none is set, desktop image will be cropped"
    }
  ]
}
{% endschema %}
