<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button }}">
  <link rel="canonical" href="{{ canonical_url }}">

  <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
  <link rel="preconnect" href="https://fonts.shopify.com" crossorigin>
  <link rel="preconnect" href="https://monorail-edge.shopifysvc.com">

  {%- assign header_font = settings.type_header_font -%}
  {%- assign base_font = settings.type_base_font -%}
  {%- assign base_font_bolder = base_font | font_modify: 'weight', 'bolder' -%}
  {%- assign base_font_bold = base_font | font_modify: 'weight', 'bold' -%}
  {%- assign base_font_italic = base_font | font_modify: 'style', 'italic' -%}
  {%- assign base_font_bold_italic = base_font_bold | font_modify: 'style', 'italic' -%}

  <link rel="preload" as="font" href="{{ header_font | font_url }}" type="font/woff2" crossorigin>
  <link rel="preload" as="font" href="{{ base_font | font_url }}" type="font/woff2" crossorigin>
  <link rel="preload" as="font" href="{{ base_font_bold | font_url }}" type="font/woff2" crossorigin>

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  <title>
    {{ shop.name }} &ndash; {{ 'general.password_page.opening_soon' | t }}
  </title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% include 'social-meta-tags' %}

  {% include 'css-variables' %}

  <style>
    {{ header_font | font_face: font_display: 'swap' }}
    {{ base_font | font_face: font_display: 'swap' }}
    {{ base_font_bold | font_face: font_display: 'swap' }}
    {{ base_font_bolder | font_face: font_display: 'swap' }}
    {{ base_font_italic | font_face: font_display: 'swap' }}
    {{ base_font_bold_italic | font_face: font_display: 'swap' }}
  </style>

  {{ 'main.css' | asset_url | stylesheet_tag }}

  <script type="text/javascript">
    if (window.MSInputMethodContext && document.documentMode) {
      var scripts = document.getElementsByTagName('script')[0];
      var polyfill = document.createElement("script");
      polyfill.defer = true;
      polyfill.src = "{{ 'ie11CustomProperties.min.js' | asset_url }}";
      scripts.parentNode.insertBefore(polyfill, scripts);
    }

    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  </script>

  {{ content_for_header }}
</head>

<body class="template-password">
  <div class="password-page__wrapper">
    {{ content_for_layout }}
  </div>

  <div class="password-page__login-form text-center" id="loginModal">
    <div class="password-page__login-content">
      <button class="icon-close">×</button>
      <h3>{{ 'general.password_page.login_form_heading' | t }}</h3>
      <div class="form-login">
        {% form 'storefront_password' %}
          {{ form.errors | default_errors }}

          <div class="input-group">
            <input type="password" name="password" id="password" class="input-group-field" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}" autofocus>
            <button class="input-group-btn">
              {{ 'general.password_page.login_form_submit' | t }}
            </button>
          </div>
        {% endform %}
      </div>
      <p class="admin-login">{{ 'general.password_page.admin_link_html' | t }}</p>
    </div>
  </div>

  <script>
    var theme = {
      strings: {
        addressError: {{ 'sections.map.address_error' | t | json }},
        addressNoResults: {{ 'sections.map.address_no_results' | t | json }},
        addressQueryLimit: {{ 'sections.map.address_query_limit_html' | t | json }},
        authError: {{ 'sections.map.auth_error_html' | t | json }}
      },
      breakpoints: {
        medium: 750,
        large: 990,
        widescreen: 1400
      }
    }
  </script>

  <script type='text/javascript'>
    (function() {
      const loginModal = document.querySelector('#loginModal');
      const openLoginEle = document.querySelector('.password-login');
      const closeLoginEle = document.querySelector('.icon-close');

      openLoginEle.addEventListener('click', () => {
        loginModal.classList.add('is-active');
      })

      closeLoginEle.addEventListener('click', () => {
        loginModal.classList.remove('is-active');
      })
    })();
  </script>

</body>
</html>
