<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
<head>
  <meta charset="utf-8">
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button }}">
  <!-- Additional custom -->
  <meta name="facebook-domain-verification" content="vq2u54jr07rwu32b4ykris1hy51cla" />

  <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
  <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
  <link rel="preconnect" href="https://monorail-edge.shopifysvc.com">

  {%- assign header_font = settings.type_header_font -%}
  {%- assign base_font = settings.type_base_font -%}
  {%- assign base_font_bolder = base_font | font_modify: 'weight', 'bolder' -%}
  {%- assign base_font_bold = base_font | font_modify: 'weight', 'bold' -%}
  {%- assign base_font_italic = base_font | font_modify: 'style', 'italic' -%}
  {%- assign base_font_bold_italic = base_font_bold | font_modify: 'style', 'italic' -%}

  <link rel="preload" as="font" href="{{ header_font | font_url }}" type="font/woff2" crossorigin>
  <link rel="preload" as="font" href="{{ base_font | font_url }}" type="font/woff2" crossorigin>
  <link rel="preload" as="font" href="{{ base_font_bold | font_url }}" type="font/woff2" crossorigin>

  {%- if canonical_url != blank  -%}
    <link rel="canonical" href="{{ canonical_url }}">
  {%- endif -%}

  {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {%- endif -%}

  {%- capture seo_title -%}
    {%- if request.page_type == 'search' and search.performed == true -%}
      {{ 'general.search.heading' | t: count: search.results_count }}: {{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
    {%- else -%}
      {{ page_title }}
    {%- endif -%}
    {%- if current_tags -%}
      {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%}
    {%- if current_page != 1 -%}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
    {%- assign escaped_page_title = page_title | escape -%}
    {%- unless escaped_page_title contains shop.name -%}
      &ndash; {{ shop.name }}
    {%- endunless -%}
  {%- endcapture -%}
  <title>{{ seo_title | strip }}</title>

  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  {% include 'social-meta-tags' %}
  {% include 'css-variables' %}

  <link rel="stylesheet" href="{{ 'toastify.min.css' | asset_url }}">
  <link rel="stylesheet" href="{{ 'vendors-style.css' | asset_url }}">
  <link rel="stylesheet" href="{{ 'main.css' | asset_url }}">
  <link rel="stylesheet" href="{{ 'settings-upfront.css' | asset_url }}">
  <style>
    {{ header_font | font_face: font_display: 'swap' }}
    {{ base_font | font_face: font_display: 'swap' }}
    {{ base_font_bold | font_face: font_display: 'swap' }}
    {{ base_font_bolder | font_face: font_display: 'swap' }}
    {{ base_font_italic | font_face: font_display: 'swap' }}
    {{ base_font_bold_italic | font_face: font_display: 'swap' }}
  </style>

  <script>
    var theme = {
    xobreakpoints: {
      sm: 576,
      md: 768,
      lg: 992,
      xl: 1200
    },
    cartStr: {
      continueShopping: {{ 'cart.general.continue_shopping' | t | json }},
      title: {{ 'cart.general.title' | t | json }},
      empty: {{ 'cart.general.empty' | t | json }},
      product: {{ 'cart.label.product' | t | json }},
      price: {{ 'cart.label.price' | t | json }},
      quantity: {{ 'cart.label.quantity' | t | json }},
      total: {{ 'cart.label.total' | t | json }},
      checkout: {{ 'cart.general.checkout' | t | json }},
      savings: {{ 'cart.general.savings' | t | json }},
      update: {{ 'cart.general.update' | t | json }},
      cartError: {{ 'cart.general.cart_error' | t | json }},
      subTotal: {{ 'cart.general.subtotal' | t | json }},
      taxesAndShippingAtCheckout: {{ 'cart.general.taxes_and_shipping_at_checkout' | t | json }},
      cartError: {{'cart.general.cart_error' | t | json }},
      unavailable: {{'products.product.unavailable' | t | json }},
      cartError: {{ 'cart.general.cart_error' | t | json }},
    },
    strings: {
      addToCart: {{ 'products.product.add_to_cart' | t | json }},
      soldOut: {{ 'products.product.sold_out' | t | json }},
      unavailable: {{ 'products.product.unavailable' | t | json }},
      regularPrice: {{ 'products.product.regular_price' | t | json }},
      salePrice: {{ 'products.product.sale_price' | t | json }},
      sale: {{ 'products.product.on_sale' | t | json }},
      fromLowestPrice: {{ 'products.product.from_lowest_price_html' | t: lowest_price: '[price]' | json }},
      vendor: {{'products.product.vendor' | t | json }},
      showMore: {{ 'general.filters.show_more' | t | json }},
      showLess: {{ 'general.filters.show_less' | t | json }},
      searchFor: {{ 'general.search.search_for' | t | json }},
      addressError: {{ 'sections.map.address_error' | t | json }},
      addressNoResults: {{ 'sections.map.address_no_results' | t | json }},
      addressQueryLimit: {{ 'sections.map.address_query_limit_html' | t | json }},
      authError: {{ 'sections.map.auth_error_html' | t | json }},
      newWindow: {{ 'general.accessibility.link_messages.new_window' | t | json }},
      external: {{ 'general.accessibility.link_messages.external' | t | json }},
      newWindowExternal: {{ 'general.accessibility.link_messages.new_window_and_external' | t | json }},
      removeLabel: {{ 'cart.label.remove' | t: product: '[product]' | json }},
      update: {{ 'cart.label.update' | t | json }},
      quantity: {{ 'cart.label.quantity' | t | json }},
      discountedTotal: {{ 'cart.label.discounted_total' | t | json }},
      regularTotal: {{ 'cart.label.regular_total' | t | json }},
      priceColumn: {{ 'cart.label.price_column' | t | json }},
      quantityMinimumMessage: {{ 'products.product.quantity_minimum_message' | t | json }},
      cartError: {{ 'cart.general.cart_error' | t | json }},
      removedItemMessage: {{ 'cart.general.removed_item_html' | t: quantity: '[quantity]', link: '[link]' | json }},
      unitPrice: {{ 'products.product.unit_price_label' | t | json }},
      unitPriceSeparator: {{ 'general.accessibility.unit_price_separator' | t | json }},
      oneCartCount: {{ 'cart.popup.cart_count' | t: count: 1 | json }},
      otherCartCount: {{ 'cart.popup.cart_count' | t: count: '[count]' | json }},
      quantityLabel: {{ 'cart.popup.quantity_label' | t: quantity_count: '[count]' | json }},
      products: {{ 'general.search.products' | t | json }},
      loading: {{ 'general.search.loading' | t | json }},
      number_of_results: {{ 'general.search.number_of_results' | t: result_number: '[result_number]', results_count: '[results_count]' | json }},
      number_of_results_found: {{ 'general.search.number_of_results_found' | t: results_count: '[results_count]' | json }},
      one_result_found: {{ 'general.search.one_result_found' | t | json }}
    },
    moneyFormat: {{ shop.money_format | json }},
    moneyFormatWithCurrency: {{ shop.money_with_currency_format | json }},
    settings: {
      predictiveSearchEnabled: {{ settings.predictive_search_enabled | json }},
      predictiveSearchShowPrice: {{ settings.predictive_search_show_price | json }},
      predictiveSearchShowVendor: {{ settings.predictive_search_show_vendor | json }}
    },
    stylesheet: "{{ 'theme.css' | asset_url }}"
    }

    var cartInitial = {{ cart | json }};
    var cartItemCountInitial = {{ cart.item_count}}

    var shopUrl = '{{shop.url}}';

    var lazyGlobalConfig = {
      lazyClass: 'xo-img--lazyLoad',
      lazyBgClass: 'xo-bg--lazyLoad',
      loadingClass: 'xo-img--lazyLoading',
      loadedClass: 'xo-img--lazyLoaded'
    };

    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  </script>

  <script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:1987116,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
  </script>

  <script src="{{ 'toastify-js.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'vendors-script.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'app.js' | asset_url }}" defer="defer"></script>

  {{ content_for_header }}

  {% render 'seo-home' %}
  {% comment %} SEO for Page Alles below 'collection-alles.liquid' {% endcomment %}
  {% comment %} {%- if page.url contains 'page-alles' -%} {% render 'seo-collection-page' %} {%- endif -%} {% endcomment %}
  {% if request.page_type == 'collection' %} {% render 'seo-collection-page' %} {% endif %}
  {% if request.page_type == 'product' %} {% render 'seo-product-page' %} {% endif %}

</head>

<body class="template-{{ request.page_type | handle }}">
  {% section 'cart-drawer' %}
  {% section 'header-slider-bar' %}
  {% section 'header' %}

  <div class="page-container drawer-page-content" id="PageContainer">

    <main class="main-content js-focus-hidden" id="MainContent" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>

  </div>

  {% section 'footer' %}

  <script type="application/json" data-cart-routes>
    {
      "cartUrl": "{{ routes.cart_url }}",
      "cartAddUrl": "{{ routes.cart_add_url }}",
      "cartChangeUrl": "{{ routes.cart_change_url }}"
    }
  </script>

  <ul hidden>
    <li id="a11y-refresh-page-message">{{ 'general.accessibility.refresh_page' | t }}</li>
    <li id="a11y-selection-message">{{ 'general.accessibility.selection_help' | t }}</li>
  </ul>
</body>
</html>
