
<div class="collection-template-container" id="collectionTemplate">
  {%- comment -%} Loading UI {%- endcomment -%}
  <div class="loading-ui-wrapper" v-show="isCollectionLoading">
    <div class="xo-container">
      <div class="loading-ui-wrapper__content">
        <div class="xo-row">
          <div class="item xo-col-6 xo-col-md-4 xo-col-lg-3">
            <div class="item loading-ui is-card"></div>
          </div>
          <div class="item xo-col-6 xo-col-md-4 xo-col-lg-3">
            <div class="loading-ui is-card"></div>
          </div>
          <div class="item xo-col-6 xo-col-md-4 xo-col-lg-3">
            <div class="loading-ui is-card"></div>
          </div>
          <div class="item xo-col-6 xo-col-md-4 xo-col-lg-3">
            <div class="loading-ui is-card"></div>
          </div>
          <div class="item xo-col-6 xo-col-md-4 xo-col-lg-3">
            <div class="item loading-ui is-card"></div>
          </div>
          <div class="item xo-col-6 xo-col-md-4 xo-col-lg-3">
            <div class="loading-ui is-card"></div>
          </div>
          <div class="item xo-col-6 xo-col-md-4 xo-col-lg-3">
            <div class="loading-ui is-card"></div>
          </div>
          <div class="item xo-col-6 xo-col-md-4 xo-col-lg-3">
            <div class="loading-ui is-card"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {%- comment -%} Items render {%- endcomment -%}
  <div class="collection-product-wrapper xo-container">
    <div class="xo-row">
      <template v-for="(product, index) in allProducts">
        <div class="alles-collection__item xo-col-6 xo-col-md-4 xo-col-lg-3" :key="index">
          <product-item
            is-exist-button
            has-lazyload
            :variants="product.variants"
            :handle="product.handle"
            :original-src="product.featured_image"
            :second-img="product.secondMedia"
            :title="product.title"
            :rating-value="product.rating_value"
            :rating-count="product.rating_count"
          >
          </product-item>
        </div>
      </template>
    </div>
  </div>
</div>

<script type="text/javascript">
  var collectionId = {{collection.id}}
  var allProducts = [];

  {% for product in collection.products %}
    var productsInCollection = {{product | json}};
    // fix err reverse variants[] after convert to json global Product variable Shopify
    productsInCollection.variants.reverse();

    // Add rating
    productsInCollection.rating_value = "{{ product.metafields.upfront.yotpo.average_score }}";
    productsInCollection.rating_count = "{{ product.metafields.upfront.yotpo.total_reviews }}";

    // Add variant image
    var xoVariants = {{product.metafields.upfront.variants | json}}
    var xoMedia = {{product.metafields.upfront.media | json}}
    var xoHide = {{product.metafields.upfront.hide | json}}
    productsInCollection.variants.forEach((variant, index) => {

      if (Boolean(xoMedia)) {
        // Những variant nhỏ hơn, or khoogn được chọn sẽ không được trả về
        // => undefined | is_render = false
        if (xoVariants[variant.id] !== undefined && xoVariants[variant.id] !== null) {
          variant.variant_image = xoVariants[variant.id]
          variant.is_render = true
        } else {
          variant.variant_image = ""
          variant.is_render = false
        }

        if (xoMedia[variant.id] !== undefined && xoMedia[variant.id] !== null) {
          variant.media = xoMedia[variant.id];
        } else {
          variant.media = "";
        }
      }

      if (Boolean(xoHide)) {
        if (xoHide[variant.id] !== undefined && xoHide[variant.id] !== null) {
          variant.is_hide = xoHide[variant.id]
        } else {
          variant.is_hide = false;
        }
      } else {
        variant.is_hide = false;
      }

    })

    var hasVideo = false;
    productsInCollection.media.forEach((media) => {
      if (media.media_type == 'video') {
        hasVideo = true;
      }
    })

    if (!hasVideo) {
      productsInCollection.secondMedia = {
        type: 'image',
        src: productsInCollection.images[1] || '',
        hasMedia: Boolean(productsInCollection.images[1])
      };
    } else {
      productsInCollection.media.forEach((media) => {
        if (media.media_type == 'video') {
          productsInCollection.secondMedia = {
            type: media.media_type,
            src: media.sources[2].url || '',
            hasMedia: Boolean(media.sources[2].url)
          };
        }
      })
    }

    Object.entries(xoVariants).forEach(([key, value], index) => {
      productsInCollection.variants.forEach((variant, i) => {
        if(variant.id == key && index !== i) {
          let temp = productsInCollection.variants[index];
          productsInCollection.variants[index] = productsInCollection.variants[i];
          productsInCollection.variants[i] = temp;
        }
      })
    });

    allProducts.push(productsInCollection);
  {% endfor %}
</script>

