<div id="page-alles" data-vue-dom></div>

{% schema %}
{
    "name": "Collection Alles",
    "class": "xo-shopify-section",
    "settings": [
      {
        "type": "text",
        "id": "heading_title",
        "label": "Collection title",
        "default": "ALLES"
      }
    ],
    "blocks": [
      {
        "type": "collection",
        "name": "Collection",
        "settings": [
          {
            "type": "text",
            "id": "collection_title",
            "label": "Collection title"
          },
          {
            "type": "collection",
            "id": "collection",
            "label": "Select collection"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "Collection",
        "name": "Collection Alles"
      }
    ]
  }
{% endschema %}

<script type="text/javascript">
  var allCollectionsAllesTitle = "{{section.settings.heading_title}}";
  var allCollections = [];
  var allProducts = [];
  {% for block in section.blocks %}
     var productTempCollection = [];
     {% for product in collections[block.settings.collection].products %}
        var productsInCollection = {{product | json}};
        // fix err reverse variants[] after convert to json global Product variable Shopify
        productsInCollection.variants.reverse();

        // Add rating
        productsInCollection.rating_value = "{{ product.metafields.upfront.yotpo.average_score }}";
        productsInCollection.rating_count = "{{ product.metafields.upfront.yotpo.total_reviews }}";
        // Add variant image
        var xoVariants = {{product.metafields.upfront.variants | json}}
        var xoMedia = {{product.metafields.upfront.media | json}}
        var xoHide = {{product.metafields.upfront.hide | json}}
        productsInCollection.variants.forEach((variant, index) => {
          if (Boolean(xoMedia)) {
            // Những variant nhỏ hơn, or khoogn được chọn sẽ không được trả về
            // => undefined | is_render = false
            if (xoVariants[variant.id] !== undefined && xoVariants[variant.id] !== null) {
              variant.variant_image = xoVariants[variant.id]
              variant.is_render = true
            } else {
              variant.variant_image = ""
              variant.is_render = false
            }

            if (xoMedia[variant.id] !== undefined && xoMedia[variant.id] !== null) {
              variant.media = xoMedia[variant.id];
            } else {
              variant.media = "";
            }
          }

          if (Boolean(xoHide)) {
            if (xoHide[variant.id] !== undefined && xoHide[variant.id] !== null) {
              variant.is_hide = xoHide[variant.id]
            } else {
              variant.is_hide = false;
            }
          } else {
            variant.is_hide = false;
          }
        })

        // Add video | image to secondMedia props
        var hasVideo = false;
        productsInCollection.media.forEach((media) => {
          if (media.media_type == 'video') {
            hasVideo = true;
          }
        })

        if (!hasVideo) {
          productsInCollection.secondMedia = {
            type: 'image',
            src: productsInCollection.images[1] || '',
            hasMedia: Boolean(productsInCollection.images[1])
          };
        } else {
          productsInCollection.media.forEach((media) => {
            if (media.media_type == 'video') {
              productsInCollection.secondMedia = {
                type: media.media_type,
                src: media.sources[2].url || '',
                hasMedia: Boolean(media.sources[2].url)
              };
            }
          })
        }

        Object.entries(xoVariants).forEach(([key, value], index) => {
          productsInCollection.variants.forEach((variant, i) => {
            if(variant.id == key && index !== i) {
              let temp = productsInCollection.variants[index];
              productsInCollection.variants[index] = productsInCollection.variants[i];
              productsInCollection.variants[i] = temp;
            }
          })
        });

        allProducts.push(productsInCollection);
        productTempCollection.push(productsInCollection);
     {% endfor %}

     allCollections.push({
       title: "{{block.settings.collection_title}}",
       products: productTempCollection
     });
  {% endfor %}
</script>

<!-- JSON-LD data generate by XO
Render from 'collection-alles.liquid'-->
{% capture listProductJsonLD %}
  {%- for block in section.blocks -%}
  {%- for product in collections[block.settings.collection].products -%}
    {
      "@context": "http://schema.org/",
      "@type": "Product",
      "name": {{ product.title | json }},
      "url": {{ shop.url | append: product.url | json }},
      {%- if product.featured_media -%}
        {%- assign media_size = product.featured_media.preview_image.width | append: 'x' -%}
        "image": [
          {{ product.featured_media | img_url: media_size | prepend: "https:" | json }}
        ],
      {%- endif -%}
      "description": {{ product.description | strip_html | json }},
      "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "{{ product.metafields.yotpo.reviews_average }}",
        "ratingCount": "{{ product.metafields.yotpo.reviews_count }}"
      },
      {%- if current_variant.sku != blank -%}
        "sku": {{ current_variant.sku | json }},
      {%- endif -%}
      "brand": {
        "@type": "Thing",
        "name": {{ product.vendor | json }}
      },
      "offers": [
        {%- for variant in product.variants -%}
          {
            "@type" : "Offer",
            {%- if variant.sku != blank -%}
              "sku": {{ variant.sku | json }},
            {%- endif -%}
            "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
            "price" : {{ variant.price | divided_by: 100.00 | json }},
            "priceCurrency" : {{ cart.currency.iso_code | json }},
            "url" : {{ shop.url | append: variant.url | json }}
          }{% unless forloop.last %},{% endunless %}
        {%- endfor -%}
      ]
    } {% unless forloop.last %},{% endunless %}
  {%- endfor -%}
  {% unless forloop.last %},{% endunless %}
  {%- endfor -%}
{% endcapture %}

<script type="application/ld+json">
  [
    {{listProductJsonLD}}
  ]
</script>

