.noti {}

/*
* Image
*/

.noti-image {}

.noti__img{
  @include box(100%, 100%);

  svg,
  img {
    object-fit: cover;
    @include box(100%, 100%);
  }

  svg {
    fill: #f5efe8;
    background-color: #242424;
  }

  .noti__img-mobile {
    @include responsive(LG) { display: none }
  }

  .noti__img-desktop {
    display: none;
    @include responsive(LG) { display: block }

    svg { height: 500px }
  }
}

/*
* Content
*/
.noti__content {
  padding: 15px 25px 70px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include responsive(LG) {
    padding: 70px 0;
  }
}

.noti__title {
  padding-bottom: 19px;
  text-align: center;
  max-width: 300px;
  line-height: 1.35;
}

.noti__desc{
  text-align: center;
  max-width: 600px;
}

.noti__btn {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include responsive(MD) {
    flex-direction: row;
  }

  a {
    display: inline-block;
  }

  a:nth-child(2) {
    margin: 0 0 15px;

    @include responsive(MD) {
      margin: 0 0 0 30px;
    }
  }
}
