<section class="noti">
  <div class="noti-image">
    <a href="{{ section.settings.button_link }}" class="noti__img">

      <div class="noti__img-mobile">
        {% if section.settings.img_bg_mobile == blank %}
          {{ 'image' | placeholder_svg_tag }}
        {% else %}
          <img src="{{ section.settings.img_bg_mobile | img_url: '1x1'}}"
              data-src="{{ section.settings.img_bg_mobile | img_url: 'master'}}"
              class="xo-img--lazyLoad"
              alt="{{ section.settings.img_bg_mobile.alt }}">
        {% endif %}
      </div>

      <div class="noti__img-desktop">
        {% if section.settings.img_bg == blank %}
          {{ 'image' | placeholder_svg_tag }}
        {% else %}
          <img src="{{ section.settings.img_bg | img_url: '1x1'}}"
              data-src="{{ section.settings.img_bg | img_url: 'master'}}"
              class="xo-img--lazyLoad"
              alt="{{ section.settings.img_bg.alt }}">
        {% endif %}
      </div>

    </a>
  </div>

  <div class="noti__content">
    <h3 class="noti__title">
      {% if section.settings.noti_title != blank %}
        {{ section.settings.noti_title | upcase }}
      {% else %}
        {{ 'homepage.general.title' | t | upcase }}
      {% endif %}
    </h3>

    <p class="noti__desc">
      {% if section.settings.noti_desc != blank %}
        {{ section.settings.noti_desc }}
      {% else %}
        {{ 'homepage.onboarding.no_content' | t }}
      {% endif %}
    </p>

    <div class="noti__btn">
      {% if section.settings.button_text != blank %}
        <a class="btn btn--is-large btn--is-rounded" href="{{ section.settings.button_link }}">
          {{ section.settings.button_text | upcase }}
        </a>
      {% endif %}
      {% if section.settings.button2_text != blank %}
        <a class="btn btn--is-large btn--is-rounded" href="{{ section.settings.button_link }}#aboutInforContainer2">
          {{ section.settings.button2_text | upcase }}
        </a>
      {% endif %}
    </div>

  </div>
</section>

<style>
  #shopify-section-{{ section.id }} {
    background-color: {{ section.settings.home_bg }};
  }

  .noti__title {
    color: {{ section.settings.color_title_mobile }};
  }

  .noti__desc {
    color: {{ section.settings.color_desc_mobile }};
  }
</style>

{% schema %}
  {
  "name": "Testimonial 2",
  "class": "page__color",
  "settings": [
    {
      "type": "image_picker",
      "id": "img_bg",
      "label": "Image Desktop",
      "info": "1800 x 800px .jpg recommended"
    },
    {
      "type": "image_picker",
      "id": "img_bg_mobile",
      "label": "Image Mobile",
      "info": "750 x 1100px .jpg recommended. If none is set, desktop image will be cropped"
    },
    {
      "type": "text",
      "id": "noti_title",
      "label": "Title",
      "default": "we vechten voor een transparante toekomst."
    },
    {
      "type": "textarea",
      "id": "noti_desc",
      "label": "Description",
      "default": "De wereld van voeding zit vol met misleiding, maar we hebben een geheim wapen: transpareantie. Geen bullshit gezondheidsclaims, gewoon duidelijke informatie zodat jij je eigen keuzes kunt maken."
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button label 1",
      "default": "over ons"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link 1"
    },
    {
      "type": "text",
      "id": "button2_text",
      "label": "Button label 2",
      "default": "KOM BIJ ONS WERKEN"
    },
    {
      "type": "header",
      "content": "Text"
    },
    {
      "type": "color",
      "id": "color_title_mobile",
      "label": "Title color",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "color_desc_mobile",
      "label": "Description color",
      "default": "#000"
    },
    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "color",
      "id": "home_bg",
      "label": "Background",
      "default": "#f5efe8"
    }
  ],
  "presets": [
    {
      "category": "Home page",
      "name": "Testimonial 2"
    }
  ]
}
{% endschema %}
