<div class="collection-sorting" id="collectonSorting">
  <span class="collection-sorting__title">{{ 'collections.sorting.title' | t }}</span>

  {% assign sort_by = collection.sort_by | default: collection.default_sort_by %}

  <div class="=collection-sorting__wrapper">
    <ul class="collection-sorting__list" data-shop-url={{ shop.url }}>
      {% for option in collection.sort_options %}
        <li
          class="collection-sorting__option"
          value="{{  option.value }}"
          {% if option.value == sort_by %}selected="selected"{% endif %}
          @click="changeSort($event)"
        >
          {{ option.name }}
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
