.address {
  background-color: #f5efe8;
}

.address-wrapper { position: relative }

/*
* Header
*/
.address__header {
  padding: 35px 0;

  a {
    color: black;
    text-transform: uppercase;
    display: inline-block;

    margin-bottom: 25px;

    font-size: 14px;

    svg {
      margin-right: 10px;
      @include box(10px, 10px);
    }
  }

  .address__heading {
    .address__title, .address__desc { margin-bottom: 30px }
  }

  .address__btn {
    display: inline-block;
    width: 100%;
    @include responsive(MD) {  width: 300px }
  }
}

/*
* List address
*/
.address__list {
  .address__item {
    padding-bottom: 40px;
    @include responsive(MD) {
      padding-bottom: 60px;
    }
  }
  .address__item-heading {
    margin-bottom: 24px;
    padding-bottom: 10px;

    border-bottom: 1px solid #ddd;
  }
}

.address__item-content {
  p { margin-bottom: 24px }
  span {
    display: block;
    margin-bottom: -10px;
  }

  div { display: flex }

  .address__item-btn{
    margin-right: 10px;
  }
}

/*
* Modal
*/
.modal-address {
  background-color: #f5efe8;

  position: fixed;
  top: calc(50% + 50px);
  left: 50%;

  display: flex;
  flex-direction: column;

  visibility: hidden;

  padding: 15px 20px 20px 20px;
  @include box(100%, 100%);

  z-index: 20;

  opacity: 0;
  overflow: auto;

  transform: translate(-50%,-50%);
  transition: all .25s cubic-bezier(0.5, 0, 0.5, 1) ,opacity .25s linear;
  // transition: all .15s ease-in-out;

  @include responsive(MD) {
    max-width: 750px;
    max-height: calc(100vh - 100px);
  }

  button {
    width: 100%;
    @include responsive(MD) {
      width: 80%;
      margin: 0 auto;
    }
  }
}

.modal-address__header {
  margin: 30px 0;

  .modal-address__title {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: font(size-small);
    @include responsive(MD) {
      font-size: font(size-base);
    }
  }
  .modal-address__desc {
    font-size: 14px;
  }
}

.modal-address-form__item {
  margin-top: 10px;

  .modal-address-form__title {
    &::after {
      content: " *";
      color: #f00;
    }
    display: block;
    font-size: font(size-small);
    font-weight: 700;
    margin-bottom: 3px;

    @include responsive(MD) {
      font-size: font(size-base);
    }
  }

  input[type="text"] {
    padding: 12px 14px;

    height: 49px;
    width: 100%;
  }

  select {
    @include box(100%, 49px);

    padding-left: 14px;
    padding-right: 28px;
  }

  select,
  input[type="text"] {
    border: 2px solid #000;
    border-radius: 10px;

    margin-bottom: 10px;

    @include responsive(MD) {
      margin-bottom: 0;
    }
  }
}

/*
* Overlay
*/
.address-overlay {
  position: fixed;
  top: 0;
  left: 0;

  background: rgba($color: #000000, $alpha: 0.5);
  height: 100vh;
  width: 100vw;
  z-index: 1000;
  transition: all .4s ease-in-out;
  cursor: pointer;
}

.address.is-active {
  z-index: -1;
}

.address.is-active ~ .modal-address.active1,
.address.is-active ~ .modal-address-edit--is-active {
  top: 50%;
  visibility: visible;
  opacity: 1;
  z-index: 11111;
}

.modal-address__icon {
  display: inline-block;
  position: absolute;

  cursor: pointer;

  top: 40px;
  right: 16px;

  @include responsive(MD) {
    top: 20px;
    right: 20px;
  }

  svg { @include box(22px, 22px) }

  path { stroke-width: 4 }
}
