.general-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #f5efe8;

  padding: 70px 15px;

  @include responsive(MD) {
    padding: 0;
    height: calc(100vh - 85px);
  }

  > * {
    font-size: 16px;

    @include responsive(MD) {
      font-size: font(size-base);
    }
  }

  .btn {
    text-transform: uppercase;
  }

  .form-item {
    width: 100%;

    form {
      width: 100%;
    }

    @include responsive(MD) {
      width: 500px;
    }
  }
}

.customer-form__title {
  margin-bottom: 28px;
  letter-spacing: 0.1em;
  text-align: center;
}

.customer-form__subtitle {
  text-align: center;
  font-size: 16px;
  margin-bottom: 22px;
}

.customer-form__item {
  width: 100%;
  margin-bottom: 20px;

  label {
    display: inline-block;
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 16px;

    @include responsive(MD) {
      font-size: font(size-base);
    }

    &::after {
      content: " *";
      color: #f00;
    }
  }

  input {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;

    @include responsive(MD) {
      font-size: font(size-base);
    }
  }

  ::placeholder {
    color: #000;
    font-size: 16px;

    @include responsive(MD) {
      font-size: font(size-base);
    }
  }
}

.customer-form__error {
  color: #dc143c;
}

.text-center {
  text-align: center;
}

.shopify-challenge__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 100% !important;
  height: calc(100vh - 235px);
  background-color: #f5efe8;

  @include responsive(MD) {
    height: calc(100vh - 85px);
  }

  .shopify-challenge__button {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
  }
}

