.login-wrapper {
  width: 100%;
}

.login-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  .login-form-container {
    position: relative;
    transform: translateY(0);
    opacity: 1;
    transition: all .4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    z-index: 0;
  }

  .recover-form-container {
    position: absolute;
    transform: translateY(60px);
    opacity: 0;
    transition: all .4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    z-index: -1;
  }
}

.login-form-container, .recover-form-container {
  width: 400px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.xo-recover-form{
  margin: 24px 0 0;
  cursor: pointer;
}

.xo-login-form {
  margin: 24px 0 0;
  font-size: 16px;
  @include responsive(MD) {
    font-size: font(size-base);
  }

  span {
    cursor: pointer;
  }
}

/*
* Login-form
*/
.customer-login-form, .recover-form{
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-container-create {
  margin-top: 15px;
  font-size: 16px;
  @include responsive(MD) {
    font-size: font(size-base);
  }
}

.customer-form__link {
  color: #5f5d5d;
  font-size: 16px;
  @include responsive(MD) {
    font-size: font(size-base);
  }

  &:hover {
    color: #000;
  }
}

.is-active {
  .login-form-container {
    transform: translateY(60px);
    opacity: 0;
    transition: all .4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    z-index: -1;
  }

  .recover-form-container {
    transform: translateY(0);
    opacity: 1;
    transition: all .4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    z-index: 0;
    height: 100%;
  }
}

