.order {
  background-color: #f5efe8;
}

.order-wraper {
  padding-bottom: 80px;
  svg {
    @include box(12px, 12px);
  }
}

/*
* Order top
*/
.order__top {
  position: relative;
  padding: 35px 0;

  a {
    color: black;
    text-transform: uppercase;
    display: inline-block;

    margin-bottom: 25px;

    font-size: 14px;

    svg {
      margin-right: 10px;
      @include box(10px, 10px);
    }
  }
}

.order__header {
  .order__title {
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  .order__time {}
}

/*
* table
*/
.order__product { margin-bottom: 60px }
.order-table {
  width: 100%;

  tr {
    border-bottom: 1px solid #959595;
    th {
      font-family: font(stack-header);
    }
  }

  th, td {
    &:not(:first-child) { text-align: center }
    padding: 18px 10px;
  }
}

/*
* Product item
*/

.order__img {
  @include box(90px, 90px);
  @include responsive(MD) { @include box(120px, 120px) }
  img {
    @include box(100%, 100%);
    object-fit: cover;
  }
}

.order__item-product {
  @include responsive(MD) {
    display: flex;
    align-items: center;
  }
}

/*
* info products
*/
.order__item-info {
  padding-top: 8px;

  @include responsive(MD) { padding-left: 10px }
  @include responsive(LG) { padding-left: 18px }

  .order__brand a {
    font-family: font(stack-header);
    font-size: 13px;
    color: black;
    text-transform: uppercase;
    @include responsive(MD) { font-size: 16px }
  }
}
.order__desc {
  padding-top: 5px;
  .order__name, .order__price {
    font-size: font(size-small);
    @include responsive(MD) { font-size: 16px }
  }
}

/*
* Address
*/
.order-address {
  .order-address__item {
    display: inline-block;
    width: 100%;
    padding-bottom: 24px;
  }

  .order-address__billing {
    margin-top: 50px;
    @include responsive(MD) { margin-top: 24px }
  }

  .order-address__heading {
    margin-bottom: 24px;
    padding-bottom: 10px;
    border-bottom: 1px solid #959595;
    font-family: font(stack-header);

    @include responsive(MD) { padding: 18px 0 }
  }

  .order-address__content {
    span { margin-bottom: 12px }
  }
}
