.register-wrapper {
  width: 100%;
}

.register-container {
  .customer-form__item {
    position: relative;

    label {
      position: absolute;
      top: -12px;
      left: 14px;
      z-index: 1111;
      opacity: 0;
      transition: all .35s linear;
      background: #f5efe8;
      padding: 0 3px;
    }

    input:focus + label {
        opacity: 1;
        transition: all .3s linear;
    }
  }
}

