{% if settings.enable_header-slider-bar %}
  <div class="header-slider-bar" style="position: relative; z-index: 1111;" id="slider-bar">
    <div class="xo-wrapper">
      <div class="swiper-container"
          style="background: {{ settings.bg_color_header_slider }};
                  color: {{ settings.title_color_header_slider }};"
      >
        <div class="swiper-wrapper">
          <div class="swiper-slide xo-heading">{{settings.title_content_1}}</div>
          <div class="swiper-slide xo-heading">{{settings.title_content_2}}</div>
        </div>

        <!-- Add Arrows -->
        <div class="swiper-button-next" style="color: {{ settings.navigation_color_header_slider }};"></div>
        <div class="swiper-button-prev" style="color: {{ settings.navigation_color_header_slider }};"></div>
      </div>
    </div>
  </div>
{% endif %}
{% schema %}
  {
    "name": "Header Slider Bar",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
.header-slider-bar .swiper-wrapper {
  height: 30px;
}

.header-slider-bar .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 11px;
}

.header-slider-bar .swiper-button-next,
.header-slider-bar .swiper-button-prev {
  transform: scale(.2);
  color: #fff;
  font-weight: 900;
  top: -7px;
}
{% endstylesheet %}
