{%- comment -%}
  TODO: update shop logo, shop social network to json ld below
{%- endcomment -%}

{% if template == 'index' %}
<!--
  JSON-LD data generate by XO
  @type Website
-->
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Website",
    "url": "{{ shop.url }}",
    "potentialAction": {
      "@type": "SearchAction",
      "target": "{{ shop.url }}/search?q={query}",
      "query-input": "required name=query"
    }
  }
</script>

<!--
  JSON-LD data generate by XO
  @type Organization
-->
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Store",
    "name": "{{shop.name}}",
    "url": "{{shop.url}}",
    "description": "{{shop.description}}",
    "aggregateRating": {
      "@type": "AggregateRating",
      "ratingValue": "{% render 'seo-rating-value' value_type: 'avg' %}",
      "ratingCount": "{% render 'seo-rating-value' value_type: 'total' %}"
    },
    "logo": "https://cdn.shopify.com/s/files/1/0254/4667/8590/t/27/assets/logo.svg?v=9788123244809395837",
    "image": "https://cdn.shopify.com/s/files/1/0254/4667/8590/t/27/assets/logo.svg?v=9788123244809395837",
    "sameAs": [
      "https://www.instagram.com/upfront/",
      "https://www.linkedin.com/company/upfrontfood/",
      "https://www.tiktok.com/@upfrontfood?lang=en"
    ],
    "address": {
        "@type": "PostalAddress",
        "streetAddress": "{{shop.address.street}}",
        "addressLocality": "{{shop.address.country}}",
        "postalCode": "{{shop.address.zip}}",
        "addressCountry": "{{shop.address.country}}"
    },
    "telephone": "{{shop.phone}}"
  }
</script>
{% endif %}
