.store-intro {
  margin-bottom: 20px;
  @include responsive(LG) { margin-bottom: 15px }
}


.store-intro-wrapper { position: relative }

.store-intro-image {
  &.xo-col-12 { padding: 0 }

  @include box(100%, 570px);
  @include responsive(MD) { @include box(100%, 650px) }
  @include responsive(LG) {
    height: calc(100vh - 180px);
  }
}

.store-intro__img{
  @include box(100%, 100%);
  svg,
  img {
    object-fit: cover;
    @include box(100%, 100%);
  }

  svg {
    fill: #f5efe8;
    background-color: #242424;
  }

  .store-intro__img-mobile {
    @include box(100%, 100%);
    @include responsive(LG) { display: none }
  }

  .store-intro__img-desktop {
    display: none;
    @include box(100%, 100%);
    @include responsive(LG) { display: block }
  }
}

/*
* Content
*/
.store-intro__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .store-intro__text-mobile {
    @include responsive(LG) {
      display: none;
    }
  }
  .store-intro__text-desktop {
    display: none;
    @include responsive(LG) {
      display: block;
    }
  }

  .store-intro__text {
    position: absolute;
    bottom: 110px;
    @include responsive(LG) {
      bottom: 120px;
    }
  }

  .store-intro__title {
    margin: 0 0 -6px 0;
    font-size: 48px;
    @include responsive(LG) { font-size: 66px }
  }

  .store-intro__desc {
    font-size: 22px;
    text-align: center;
    line-height: 1.35;
    margin: 4px 0 20px;

    @include responsive(LG) {
      font-size: 36px;
      margin-bottom: 24px;
    }
  }
}

.store-intro__btn {
  width: 100%;

  display: flex;
  justify-content: center;

  position: absolute;
  bottom: 60px;

  a {
    @include responsive(LG) {
      padding: 24px 60px;
      font-size: 18px;
      border-radius: 16px;
    }
  }
}

.store-intro__text-top {
  top: 20px;
  bottom: unset !important;
}
