<section class="store-intro xo-container-fluid">
  <div class="xo-row store-intro-wrapper">

    <div class="store-intro-image xo-col-12">
      
      <a href="{{ section.settings.button_link }}" class="store-intro__img">

        <div class="store-intro__img-mobile">
          {% if section.settings.img_bg_mobile == blank %}
            {{ 'image' | placeholder_svg_tag }}
          {% else %}
            <img src="{{ section.settings.img_bg_mobile | img_url: '1x1'}}"
                data-src="{{ section.settings.img_bg_mobile | img_url: 'master'}}"
                class="xo-img--lazyLoad"
                alt="{{ section.settings.img_bg_mobile.alt }}">
          {% endif %}
        </div>

        <div class="store-intro__img-desktop">
          {% if section.settings.img_bg == blank %}
            {{ 'image' | placeholder_svg_tag }}
          {% else %}
            <img src="{{ section.settings.img_bg | img_url: '1x1'}}"
                data-src="{{ section.settings.img_bg | img_url: 'master'}}"
                class="xo-img--lazyLoad"
                alt="{{ section.settings.img_bg.alt }}">
          {% endif %}
        </div>

      </a>
    </div>

    <div class="store-intro__content">
      <div class="store-intro__text {% if section.settings.vertical_text == 'top' %}store-intro__text-top{% endif %}">
        {%- comment -%} Text mobile {%- endcomment -%}
        <div class="store-intro__text-mobile">
          <h1 class="store-intro__title title-mobile h1">
            {{ section.settings.store_title | upcase }}
          </h1>
          <p class="store-intro__desc desc-mobile">
            {{ section.settings.store_desc }}
          </p>
        </div>

        {%- comment -%} Text desktop {%- endcomment -%}
        <div class="store-intro__text-desktop">
          <h1 class="store-intro__title title-desktop h1">
            {{ section.settings.store_title_desktop | upcase }}
          </h1>
          <p class="store-intro__desc desc-desktop">
            {{ section.settings.store_desc_desktop }}
          </p>
        </div>
      </div>

      {% if section.settings.button_text != blank %}
        <div class="store-intro__btn">
          <a class="btn btn--is-large btn--is-rounded" href="{{ section.settings.button_link }}">
            {{ section.settings.button_text | upcase }}
          </a>
        </div>
      {% endif %}

    </div>

  </div>
</section>
<style>
  .store-intro__title {
    color: {{ section.settings.color_title_mobile }};
  }

  .store-intro__desc {
    color: {{ section.settings.color_desc_mobile }};
  }

  @media only screen and (min-width: 992px) {
    .store-intro__title {
      color: {{ section.settings.color_title_desktop }};
    }

    .store-intro__desc {
      color: {{ section.settings.color_desc_desktop }};
    }
  }
</style>

{% schema %}
{
  "name": "Hero",
  "settings": [
    {
      "type": "image_picker",
      "id": "img_bg",
      "label": "Image Desktop",
      "info": "1800 x 800px .jpg recommended"
    },
    {
      "type": "image_picker",
      "id": "img_bg_mobile",
      "label": "Image Mobile",
      "info": "750 x 1100px .jpg recommended. If none is set, desktop image will be cropped"
    },
    {
      "type": "header",
      "content": "Text mobile"
    },
    {
      "type": "text",
      "id": "store_title",
      "label": "Title mobile",
      "default": "upfront"
    },
    {
      "type": "textarea",
      "id": "store_desc",
      "label": "Description mobile",
      "default": "Wat oprecht is wint."
    },
    {
      "type": "header",
      "content": "Text desktop"
    },
    {
      "type": "text",
      "id": "store_title_desktop",
      "label": "Title desktop",
      "default": "upfront"
    },
    {
      "type": "textarea",
      "id": "store_desc_desktop",
      "label": "Description desktop",
      "default": "Wat oprecht is wint."
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text",
      "default": "shop alles"
    },
    {
      "type": "header",
      "content": "Color text mobile"
    },
    {
      "type": "select",
      "id": "vertical_text",
      "options": [
         { "value": "top", "label": "Top"},
         { "value": "bottom", "label": "Bottom"}
      ],
      "label": "Vertical alignment text",
      "default": "bottom"
    },
    {
      "type": "color",
      "id": "color_title_mobile",
      "label": "Mobile title color",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "color_desc_mobile",
      "label": "Mobile description color",
      "default": "#000"
    },
    {
      "type": "header",
      "content": "Color text desktop"
    },
    {
      "type": "color",
      "id": "color_title_desktop",
      "label": "Desktop title color",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "color_desc_desktop",
      "label": "Desktop description color",
      "default": "#fff"
    },
    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "color",
      "id": "home_bg",
      "label": "Background",
      "default": "#f5efe8"
    }
  ],
  "presets": [
    {
      "category": "Store",
      "name": "Hero"
    }
  ]
}
{% endschema %}
