.image-banner {
  margin: -30px 0 0;
  svg {
    fill: #000;
    background: #f5efe8;
  }
}

.image-banner-block {
  position: relative;

  margin-bottom: 16px;
  @include responsive(LG) {
    margin-bottom: 30px;
  }

  &.image-banner-block-custom {
    .image-banner-btn {
      bottom: 24px;

      @include responsive(LG) {
        bottom: 26px;
      }
    }
  }
}

.image-banner-img {
  svg, img, video {
    width: 100%;
    height: 100%;
    border-radius: 14px;
    @include responsive(LG) {
      border-radius: 18px;
    }
  }
}

.image-banner-btn {
  position: absolute;
  bottom: 18px;
  right: 14px;

  @include responsive(LG) {
    bottom: 20px;
    right: 16px;
  }

  > div {
    display: flex;
    align-items: center;
  }

  h3 { padding-right: 14px }

  .image-banner-icon {
    width: 10px;
    height: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    padding: 12px;
    border-radius: 8px;

    span {
      display: inline-block;
      width: 10px;
      height: 2px;
      position: absolute;

      &:last-child {
        transform: rotate(90deg);
      }
    }
  }
}
