<div class="image-banner" id="imageBanner">
  <div class="xo-container">
    <div class="xo-row">
      {% for block in section.blocks %}
        {% if block.settings.image == blank and block.settings.video_link == blank or block.settings.video_link != blank %}
          {% assign class = 'image-banner-block-custom' %}
        {% else %}
          {% assign class = '' %}
        {% endif %}

        <div class="xo-col-12 xo-col-lg-6">
          <div class="image-banner-block {{ class }}">
            <a href="{{ block.settings.button_link }}">
              <div class="image-banner-img">
                {% if block.settings.image == blank and block.settings.video_link == blank %}
                  {{ 'image' | placeholder_svg_tag }}
                {% else %}

                  {% if block.settings.video_link != blank %}
                    <video
                      loop playsinline muted autoplay
                      style="width: 100%; height: 100%; object-fit: contain;display: inline-block;"
                    >
                      <source src="{{ block.settings.video_link }}" type="video/mp4">
                    </video>
                  {% else %}
                    <img src="{{ block.settings.image | img_url: '1x1'}}"
                        data-src="{{ block.settings.image | img_url: 'master'}}"
                        class="xo-img--lazyLoad"
                        alt="{{ block.settings.image.alt }}">
                  {% endif %}

                {% endif %}
              </div>
              <div class="image-banner-btn">
                {% if block.settings.button_label != blank %}
                  <div>
                    <h3 style="color: {{ block.settings.text_color }};">{{ block.settings.button_label }}</h3>
                    <p class="image-banner-icon" style="border: 2px solid {{ block.settings.text_color }};">
                      <span style="background-color: {{ block.settings.text_color }};"></span>
                      <span style="background-color: {{ block.settings.text_color }};"></span>
                    </p>
                  </div>
                {% endif %}
              </div>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% javascript %}
window.addEventListener('load', videoScroll);
window.addEventListener('scroll', videoScroll);
window.addEventListener("resize", videoScroll);

function videoScroll() {

  if ( document.querySelectorAll('.image-banner-img video').length > 0) {
    let windowHeight = window.innerHeight;
    let videoEl = document.querySelectorAll('.image-banner-img video');

    
    for (let i = 0; i < videoEl.length; i++) {
      let width = document.body.clientWidth;

      let thisVideoEl = videoEl[i];
      let videoHeight = thisVideoEl.clientHeight;
      let videoClientRect = thisVideoEl.getBoundingClientRect().top;

      if (width > 768) {
        if ( videoClientRect <= ( (windowHeight) - (videoHeight*.2) ) && videoClientRect >= ( 0 - ( videoHeight*.5 ) ) ) {
          thisVideoEl.play();
        } else {
          thisVideoEl.pause();
        }
      } else thisVideoEl.play();
    }
  }
}
{% endjavascript %}


{% schema %}
{
  "name": "Image banner",
  "settings": [],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "video_link",
          "label": "Video link",
          "default": "https://cdn.shopify.com/videos/c/o/v/bff0059538744f76ad3a9635fd3f7ad6.mp4"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label",
          "default": "MISSIE"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        },
        {
          "type": "header",
          "content": "Color"
        },
        {
          "id": "text_color",
          "type": "color",
          "label": "Button color",
          "default": "#fff"
        }
      ]
    }
  ],
  "presets": [{
    "name": "Image banner",
    "category": "Image",
    "settings": {},
    "blocks": [
      {
        "type": "image"
      },
      {
        "type": "image"
      },
      {
        "type": "image"
      },
      {
        "type": "image"
      }
    ]
  }]
}
{% endschema %}
