.product-container {
  background-color: #f5f0ea;

  & > .product__banner {
    margin-left: 0;
    margin-right: 0;
  }
}

.product-wrapper {
  padding: 0 0 30px;
  position: relative;

  .product-right {
    @include responsive(MD) {
      margin-left: 30px;
    }
  }
  .xo-scroll {
    position: absolute;
    bottom: 0;
    left: 0;

    height: 50px;
    width: 100%;
  }
  @include responsive(MD) { padding: 30px 0 }
  @media (min-width: 576px) {
    &.xo-container {
      max-width: 100%;
    }
  }

  @media (min-width: 768px) {
    &.xo-container {
      max-width: 720px;
    }
  }

  @media (min-width: 992px) {
    &.xo-container {
      max-width: 960px;
    }
  }

  @media (min-width: 1200px) {
    &.xo-container {
      max-width: $width-site;
    }
  }
}

.product__addtocart {
  display: inline-block;
  width: 100%;
  max-width: 350px;
  flex: 1;

  position: relative;

  .first-click {
    width: 100%;
    height: 100%;
    background-color: transparent;
    cursor: pointer;

    position: absolute;
    left: 0;
    top: 0;
  }

  .btn {
    padding: 10px 0;
    height: 62px;
    @include responsive(MD) { height: 80px };
    justify-content: space-around;

    > * {
      color:#fff;
    }

    p {
      font-size: font(h3-mobile);

      @include responsive(MD) {
        font-size: font(h3-desktop);
      }
    }
  }
}

.product__content {
  padding-left: 15px;
  padding-right: 15px;

  @include responsive(MD) {
    padding-left: 30px;
  }
}

.product__content {
  @include responsive(MD) {
    padding-right: 30px;
    margin-bottom: 70px;
  }


  .product__tags {
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .product__title {
    line-height: 150%;
    margin-bottom: 6px;
  }

  .product__form {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
}

.product__info {
  .variant-tag {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid transparent;

    margin-bottom: 10px;
    cursor: pointer;

    &.is-selected {
      border: 2px solid #000;
    }
  }
}

.product__content-form {
  padding-top: 17px;
  padding-bottom: 18px;

  @include responsive(MD) {
    padding-top: 30px;
  }
}

.input-number {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 80px;
  height: 62px;
  padding: 0 10px;

  border-radius: 10px;
  font-size: font(stack-body);
  background: #fff;

  margin-right: 18px;

  @include responsive(MD) {
    height: 80px;
  }

  >input {
    width: 30px;
    text-align: center;
    @include responsive(MD) {
      width: 40px;
    }
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }

  button {
    padding: 0;
  }
}

.product__variants {
  margin-bottom: 20px;
  // display: flex;

  &.flex {
    display: flex;
    flex-wrap: wrap;
  }
  > button, > a.product__variant {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 0;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: transform .1s;
    position: relative;
    overflow: hidden;

    @include responsive(MD) {
      width: 40px;
      height: 40px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .mix__link {
    display: flex;
    align-items: center;

    margin-bottom: 10px;
    width: fit-content;

    color: #000;

    .mix-img {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 10px;

      transition: all .3s ease;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    span {
      margin-left: auto;
    }

    &:hover .mix-img {
      transform: scale(1.1);
    }
  }
}
.variant--selected {
  border: 2px solid #333;
  transform: scale(1.065);

  &.variant--not-available::before {
    content: "";
    width: 100%;
    height: 3px;

    background-color: #63615e;

    position: absolute;
    top: 11px;
    left: 0;
    z-index: 99;

    transform: rotate(135deg);

    @include responsive(MD) {
      top: 16px;
    }
  }
}

.variant--not-available {
  &::after {
    content: "";
    background-color: #ddd1c3;
    opacity: .8;
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
  }
}

.infor__title {
  margin-top: 42px;
  margin-bottom: 13px;
  color: #000;
}

.allergenen-icon {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3Csvg baseProfile='tiny' height='12px' id='Layer_1' version='1.2' viewBox='0 0 24 24' width='12px' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpath d='M10.586,6.586c-0.781,0.779-0.781,2.047,0,2.828L12.172,11H4.928c-1.104,0-2,0.895-2,2c0,1.104,0.896,2,2,2h7.244 l-1.586,1.586c-0.781,0.779-0.781,2.047,0,2.828C10.977,19.805,11.488,20,12,20s1.023-0.195,1.414-0.586L19.828,13l-6.414-6.414 C12.633,5.805,11.367,5.805,10.586,6.586z'/%3E%3C/svg%3E");
  background-position: 0 1px;
  background-repeat: no-repeat;

  margin-right: 3px;
  width: 12px;
  height: 12px;
  display: inline-block;
}

.product__marges {
  .info__wrapper {
    padding: 20px;
  }
}

.timeline__item {
  display: flex;
  position: relative;
  z-index: 2;

  &:not(:last-child)::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 12px;
    z-index: -1;
    border-left: 1px dotted #faf9f7;
    height: 100%;
    width: 2px;

    @include responsive(MD) {
      left: 15px;
    }
  }

  .timeline__checkmark {
    width: 23px;
    height: 23px;

    border-radius: 50%;

    background-color: #fff;
    margin-top: 20px;
    margin-right: 15px;

    &.is-done {
      background-color: #faf9f7;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    @include responsive(MD) {
      width: 30px;
      height: 30px;
    }
  }

  .infor__item {
    flex: 1;
  }
}

.review__banner {
  position: relative;
  height: 140px;

  display: flex;
  justify-content: center;
  align-items: center;


  .banner__image {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    background-image: var(--bgMobile);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @include responsive(MD) {
      background-image: var(--bgDesktop);
    }
  }

  .banner__text {
    color: #fff;
    z-index: 1;
  }
}

.boek__banner {
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.product__faq {
  padding-bottom: 25px;

  @include responsive(MD) {
    padding-bottom: 80px;
  }
  .infor__item {
    border: 2px solid;
  }
  .infor__title {
    margin-top: 30px;
  }
}
