.product-slide__wrapper {
  @include responsive(MD) {
    min-height: 100%;
    transition: all .1s ease;
  }
}

.product__slide {
  display: flex;
  flex-direction: row-reverse;
  position: sticky;
  top: 50px;
  left: 0;
  height: 100%;

  @include responsive(MD) {
    height: fit-content;
  }

  .product__item {
    height: 95%;
    @include responsive(MD) {
      height: auto;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    /** Slide model in main image */
    model-viewer,
    iframe,
    video {
      width: 100%;
      height: 100%;
    }

    model-viewer,
    canvas {
      z-index: 999;
    }
  }

  .swiper-pagination {
    width: auto;
    margin-left: 15px;
    bottom: -5px;

    @include responsive(MD) {
      bottom: 0px;
    }

    .swiper-pagination-bullet.swiper-pagination-bullet-active {
      background: #242424;
    }

    .swiper-pagination-bullet {
      background: #7f7f7f;
      margin-right: 2px;
    }
  }
}

.product__slide-feature {
  flex: 1;
  height: 100%;
  background-color: #f5f0ea;

  .swiper-wrapper {
    @include responsive(MD) {
      background-color: transparent;
    }
  }
}

.product__slide-thumbs {
  display: none;

  @include responsive(MD) {
    display: flex;
    flex-direction: column;
  }

  .product-thumb__item {
    width: 80px;
    height: auto;
    margin-bottom: 10px;
    margin-right: 20px;
    border: 1px solid transparent;
    cursor: pointer;
    position: relative;


    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0.3s;
    }

    span {
      position: absolute;
      left: 2px;
      bottom: 2px;
      z-index: 99;

      width: 25px;
      height: 25px;
      pointer-events: none;
      background: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjZmZmIiBoZWlnaHQ9IjQ4IiB3aWR0aD0iNDgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTAgMGg0OHY0OEgweiIgZmlsbD0ibm9uZSIvPjxwYXRoIGQ9Ik0yNCA0QzEyLjk1IDQgNCAxMi45NSA0IDI0czguOTUgMjAgMjAgMjAgMjAtOC45NSAyMC0yMFMzNS4wNSA0IDI0IDR6bS00IDI5VjE1bDEyIDktMTIgOXoiLz48L3N2Zz4=");
      background-size: cover;
    }
  }

  .swiper-slide-thumb-active {
    border: 1px solid #000;
  }
}
