.product__desc {
  a {
    color: -webkit-link;
    text-decoration: underline;
  }

  h3 {
    margin: 10px 0;
    line-height: 120%;
  }

  li {
    position: relative;
    padding-left: 20px;

    &::before {
      content: "";
      width: 7px;
      height: 7px;
      background-color: #212121;
      border-radius: 50%;

      position: absolute;
      left: 0;
      top: 9px;
    }
  }

}
// .description-item {
//   padding: 5px 0;
// }

.description-item:not(:first-child) {
  margin-top: 15px;
}

// For List
.description-item.description-list {
  .description-list__content > p {
    display: flex;
    align-items: center;
  }

  .description-list__content > p:not(:first-child) {
    margin-top: 5px;
  }
}

.desc__chat {
  position: relative;
  border-top-right-radius: 0 !important;

  &::after {
    content: "";
    position: absolute;
    top: -20px;
    right: 0;

    width: 0;
    height: 0;

    border-bottom: 20px solid #fff;
    border-left: 20px solid transparent;
  }
}
.description-list__icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 2px;
  left: 0;

  img {
    width: 100%;
    height: 100%;
  }
}


// For Acccordion Description
.description-item.description-accordion {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    top: 20px;
    right: 7px;
    width: 10px;
    height: 10px;
    border-top: 3px solid #242424;
    border-left: 3px solid #242424;
    border-bottom: transparent;
    border-right: transparent;
    transition: all .3s linear;
    transform: rotate(225deg);
    transform-origin: center center;
  }

  .description-accordion__title {
    cursor: pointer;
  }

  .description-accordion__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s ease-in-out;
    background-color: #f8f5f2;
    border-radius: 20px;
  }

  .description-accordion__content > div {
    margin: 20px;
  }
}

.description-accordion.is-expand {
  &:after {
    transform: rotate(45deg);
  }
  .description-accordion__content {
    max-height: var(--max-height-accordion);
  }

}
// Product Infor
.product__infor {
  background-color: #f5f0ea;
  padding: 20px 0;

  @include responsive(MD) {
    padding: 50px 0;
    .product__infor-wrapper {
      margin-left: 40px;
    }
  }
}

.product__infor-wrapper {
  padding-bottom: 50px;
  background-repeat: repeat;

  .description-accordion {
    &::after {
      display: none;
    }
  }
}
.info__wrapper {
  border-radius: 10px;
  overflow: hidden;
}

.info__tabs {
  display: flex;
  align-items: center;

  > * {
    color: #000;
  }

  .info__tab {
    text-align: center;
    padding: 12px 20px;
    background-color: #fff;
    cursor: pointer;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    border: 1px solid #f5f0ea;

    &.tab--active {
      background-color: #f0e7de;
    }

    @include responsive(MD) {
      padding: 15px 20px;
    }
  }
}

.info__detail {
  background-color: #f0e7de;
  padding: 20px;
}

.info__item {
  display: flex;
  justify-content: space-between;
  margin: 3px 0;

  &:first-child {
    margin-top: 0;
  }

  > * {
    color: #000;
  }

  &.info__item--line {
    padding-bottom: 15px;
    margin-bottom: 25px;
    border-bottom: 1px solid #000;
  }

  &.info__item--small {
    margin-bottom: 10px;
    span {
      font-size: font(size-small);
    }
  }
}

.product__nutritional {
  // @include responsive(MD) {
  //   margin-left: 45px;
  // }
  .product__nutritional-header {
    @include responsive(MD) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }
    .nutrition__select-wrapper {
      position: relative;
      display: inline-block;
      margin-top: 7px;
      &::after {
        content: "";
        position: absolute;
        top: 10px;
        right: 5px;
        z-index: 999;

        width: 10px;
        height: 10px;
        border-left: 2px solid;
        border-bottom: 2px solid;
        transform: rotate(-45deg);
      }
    }

    .nutrition__select {
      border-radius: 10px;
      background-color: #f8f5f2;
      padding: 5px 10px;
      padding-right: 25px;
      cursor: pointer;
      appearance: none;
    }
  }

  .product__nutritional-detail {
    @include responsive(MD) {
      padding-left: 20px;
      padding-right: 27px;
    }
  }
  .info__item--small {
    font-size: font(size-small);
  }

  .info__item {
    align-items: center;
    margin: 0;
    height: 60px;

    .item__left {
      width: 35%;

      // @include responsive(MD) {
      //   width: 35%;
      // }
    }

    .item__chart {
      width: 55%;
      height: 100%;
      border-left: 2px solid #000;
      @include responsive(MD) {
        width: 65%;
      }
    }
  }

  .info__item-nor {
    display: inline-block;
    background-color: #f8f5f2;
    padding: 5px 10px;
    border-radius: 10px;
    margin-top: 15px;
    margin-right: 20px;
    margin-left: -10px;

    span {
      font-size: 15px;
    }
  }

  .item__chart {
    height: 50px;
  }

  .chart__column {
    position: relative;
    margin-top: 5px;

    > div {
      position: absolute;
      left: 0;
      top: 0;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
      height: 50px;
    }
  }

  .chart__value {
    position: relative;
    margin-left: 10px;
    top: 50%;
    transform: translateY(-65%);
  }
}
