.product__review {
  display: inline-flex;
  align-items: center;
  margin-bottom: 20px;
  padding-left: 5px;
  cursor: pointer;

  .star-rating svg {
    margin-right: 6px;
    width: 22px !important;
    height: 22px !important;
    @include responsive(MD) {
      width: 25px !important;
      height: 25px !important;
    }
  }
}

// Modal first access
.modal__addtocart {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  width: 100%;
  height: 100%;

  background-color: rgba($color: #000000, $alpha: .6);

  display: flex;
  justify-content: center;
  align-items: center;

  .modal__wrapper {
    width: 300px;
    height: 300px;

    background-color: #000;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding-top: 30px;

    * {
      color: #fff;
      text-align: center;
    }

    svg {
      width: 30px;
      height: 30px;
    }

    p {
      margin: 0 30px;
    }

    .modal__button {
      width: 100%;
    }

    button {
      display: inline-block;
      width: 100%;
      height: 50px;
      border-top: 1px solid #ccc;
    }
  }
}
