<template>
  <div class="xo-container" v-show="!isCollectionLoading">
    <div class="alles-filter">
      <div class="alles-filter__title">
        <h3>{{allCollectionsAllesTitle}}</h3>
        <span>({{countAllProduct}} producten)</span>
      </div>
      <div class="alles-filter__sort">
        <sort-list
          :default-select="handleChoosen"
          @on-select-option="updateSort">
        </sort-list>
      </div>
    </div>
    <div class="alles-collections">
      <!--Defaul render, with title + products -->
      <template v-if="handleChoosen === 'product-type'">
        <template v-for="(collection, index) in allCollections">
          <div class="alles-collection" :key="index">
            <template  v-if="collection.products.length > 0">
              <div class="alles-collection__heading">
                <h3>{{collection.title}}</h3>
              </div>
              <div class="alles-collection__products xo-row">
                <template v-for="(product, index) in collection.products">
                  <div class="alles-collection__item xo-col-6 xo-col-md-4 xo-col-lg-3" :key="index">
                    <product-item
                      is-exist-button
                      has-lazyload
                      :variants="product.variants"
                      :handle="product.handle"
                      :original-src="product.featured_image"
                      :second-img="product.secondMedia"
                      :title="product.title"
                      :rating-value="product.rating_value"
                      :rating-count="product.rating_count"
                    >
                    </product-item>
                  </div>
                </template>
              </div>
            </template>
          </div>
        </template>
      </template>
      <!--Render without title, only products for sorting-->
      <template v-else>
        <div class="alles-collection__products xo-row">
          <template v-for="product in allProducts">
            <div
              class="alles-collection__item xo-col-6 xo-col-md-4 xo-col-lg-3"
              :key="product.id">
              <product-item
                is-exist-button
                has-lazyload
                :variants="product.variants"
                :handle="product.handle"
                :original-src="product.featured_image"
                :second-img="product.secondMedia"
                :title="product.title"
                :rating-value="product.rating_value"
                :rating-count="product.rating_count"
              >
              </product-item>
            </div>
          </template>
        </div>
      </template>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { mapActions, mapGetters } from 'vuex';
import store from 'Vue/store/index';
import ProductItem from 'Vue/components/globals/ProductItem.vue';
import AddToCartBtn from 'Vue/components/globals/AddToCartBtn.vue';
import SortList from './components/SortList.vue';
import { setParam } from 'Helpers/url/url';
import { ICollectionCustom, IProductCustom, TSortType } from 'Types/alles'
import { qs } from 'Helpers/dom/dom';

/**
 * Description:
 *  allCollectionAllesTitle : Title trên cùng của page Alles, do user nhập vào section
 *  allCollections: biến global chưa [{title: ..., products: [...]}] lặp từ liquid
 *  allProducts: biến global chứa các json product lặp từ liquid, trong đó có thêm thuộc tính
 *               variant_image ( lây từ metafield, shopify mặc định không có)
 */
declare let allCollectionsAllesTitle: string;
declare let allCollections: ICollectionCustom[];
declare let allProducts: IProductCustom[];

@Component({
  store,
  computed: {
    ...mapGetters('CollectionStore', {
      isCollectionLoading: 'getIsCollectionLoading',
    }),
  },
  methods: {
    ...mapActions('CollectionStore', [
      'onDisabledLoading',
    ]),
    ...mapActions('CartStore', [
      'toggleExpand'
    ]),
  },
  components: {
    ProductItem,
    AddToCartBtn,
    SortList
  }
})
export default class PageAlles extends Vue {
  isCollectionLoading!: boolean;

  onDisabledLoading!: () => void;

  toggleExpand!: () => void;

  allCollectionsAllesTitle: string = allCollectionsAllesTitle;

  /** Contain collection + products */
  allCollections: ICollectionCustom[] = allCollections;

  /** Contain all products */
  allProducts: IProductCustom[] = allProducts;

  handleChoosen: TSortType = this.useHandleChoosen();

  async mounted(): Promise<void> {
    this.onDisabledLoading();
    this.initialSortingReload();

    if (document.referrer.includes('/cart')) {
      this.toggleExpand();
    }

    const urlParams = new URLSearchParams(window.location.search);
    const myParam = urlParams.get('product') as string;
    const activeProductItem = qs(`#${myParam}`) as HTMLElement;

    await new Promise(resolve => setTimeout(resolve, 1000));
    activeProductItem?.scrollIntoView({ block: 'start', behavior: 'smooth' });
  }

  get countAllProduct(): number {
    return this.allProducts.length;
  }

  /**
   * Emit handle from SortList component
   */
  updateSort(handle: TSortType) {
    this.handleChoosen = handle;
    switch(handle) {
      case 'lowest-price': {
        setParam('sort_by', 'price-descending');
        this.sortLowestPrice()
        break;
      }

      case 'highest-price': {
        setParam('sort_by', 'price-ascending');
        this.sortHighestPrice();
        break;
      }

      default:
        setParam('sort_by', 'product-type')
        break;
    }
  }

  sortLowestPrice(): void {
    const sortedLowestProduct = this.allProducts.sort((prevProduct: IProductCustom, nextProduct: IProductCustom):number => {
      return prevProduct.price > nextProduct.price ? 1 : -1;
    })
    this.allProducts = sortedLowestProduct;
  }

  sortHighestPrice(): void {
    const sortedHighestProduct = this.allProducts.sort((prevProduct: IProductCustom, nextProduct: IProductCustom):number => {
      return prevProduct.price < nextProduct.price ? 1 : -1;
    })
    this.allProducts = sortedHighestProduct;
  }

  initialSortingReload(): void {
    const urlSearch = window.location.search;
    if (urlSearch.includes('?sort_by=price-descending')) {
      this.sortLowestPrice();
    }

    if (urlSearch.includes('?sort_by=price-ascending')) {
      this.sortHighestPrice();
    }
  }

  useHandleChoosen(): TSortType {
    const urlSearch = window.location.search;

    if (urlSearch.includes('?sort_by=price-descending')) {
      return 'lowest-price'
    }

    if (urlSearch.includes('?sort_by=price-ascending')) {
      return 'highest-price'
    }

    return 'product-type'
  }
}
</script>
