<template>
  <div :class="'collection-sort' + (isExpand ? ' is-expand' : '')">
    <div class="collection-sort__selected" @click="toggleExpand()">
      <div class="collection-sort__heading">sorteren op:</div>
      <template v-for="(option, index) in sortLists">
        <h4
          :key="index"
          v-if="option.handle === handleChoosen || option.handle === defaultSelect"
          class="collection-sort__title">
            {{option.title | hugUppercase}}
        </h4>
      </template>
    </div>
    <ul class="collection-sort__wrapper">
      <li
        v-for="(option, index) in sortLists"
        :key="index"
        @click="onSelectOption(option.handle)"
        class="collection-sort__option">
          {{option.title}}
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Emit } from 'vue-property-decorator';
import { PropType } from 'vue';

type TSortType = 'product-type' | 'lowest-price' | 'highest-price';

@Component
export default class SortList extends Vue{
  @Prop({type: String as PropType<TSortType>}) readonly defaultSelect: TSortType;

  private isExpand: Boolean = false;

  // Init value, reassign in mounted
  private handleChoosen: TSortType = 'product-type';

  private sortLists = [
    {
      handle: 'product-type',
      title: 'Categorie'
    },
    {
      handle: 'lowest-price',
      title: 'Laagste Prijs'
    },
    {
      handle: 'highest-price',
      title: 'Hoogste Prijs'
    }
  ]

  mounted() {
    this.handleChoosen = this.defaultSelect;
  }

  toggleExpand(): void {
    this.isExpand = !this.isExpand;
  }

  @Emit()
  onSelectOption(handle: TSortType): void {
    this.toggleExpand();
    this.handleChoosen = handle;
  }
}
</script>
<style lang="scss">
@import './src/styles/utils/mixins/responsive';
  .collection-sort {
    position: relative;
    width: 170px;
    @include responsive(SM) {
      width: 200px;
    }

    > span {
      font-size: 12px;
      @include responsive(SM) {
        font-size: inherit;
      }
    }
  }
  .collection-sort.is-expand {
    .collection-sort__wrapper {
      max-height: 999px;
    }

    .collection-sort__selected::after {
      transform-origin: center center;
      transform: rotate(-135deg);
    }
  }

  .collection-sort__wrapper {
    position: absolute;
  }

  .collection-sort__selected {
    background-color: #f5efe8;
    padding: 12px 40px;
    padding-left: 17px;

    border-radius: 15px;
    position: relative;
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      top: 22px;
      right: 17px;
      width: 10px;
      height: 10px;
      border: 2px solid #242424;
      border-top: none;
      border-left: none;
      transform: rotate(45deg);
      transition: all .35s;
    }

    .collection-sort__heading {
      color: #666;
      margin-bottom: -1px;
      font-size: 15px;

      @include responsive(SM) {
        margin-bottom: 2px;
      }
    }
  }

  ul.collection-sort__wrapper {
    width: 100%;
    text-align: center;
    z-index: 9;
    border-radius: 6px;
    top: 110%;
    max-height: 0px;
    transition: all .35s ease-in-out;
    overflow: hidden;

    li.collection-sort__option {
      background: #f5efe8;
      padding: 10px 0;
      margin: 5px 0;
      border-radius: 6px;
      cursor: pointer;
      transition: all .35s;

      &:hover {
        font-weight: 600;
      }
    }
  }
</style>
