<?xml version="1.0" encoding="UTF-8"?><svg version="1.1" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g stroke-linecap="round" stroke-width="1.5" stroke="#fff" fill="none" stroke-linejoin="round"><circle cx="11.059" cy="11.059" r="7.059"></circle><line x1="20" x2="16.05" y1="20" y2="16.05"></line></g><rect width="24" height="24" fill="none"></rect></svg>
