<svg id="Layer_3" data-name="Layer 3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M4,4H20a1,1,0,0,1,1,1V19a2,2,0,0,1-2,2H5a2,2,0,0,1-2-2V5A1,1,0,0,1,4,4Z" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/><line x1="3" y1="7.5" x2="21" y2="7.5" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/><path d="M16,11a4,4,0,0,1-8,0" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/><path d="M0,0H24V24H0Z" fill="none"/></svg>
