h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: font(stack-header);
  color: color(heading-text);
  text-transform: uppercase;
}

h1,
.h1 {
  font-size: font(h1-mobile);

  @include responsive(MD) {
    font-size: font(h1-desktop);
  }
}

h2,
.h2 {
  font-size: font(h2-mobile);

  @include responsive(MD) {
    font-size: font(h2-desktop);
  }
}

h3,
.h3 {
  font-size: font(h3-mobile);

  @include responsive(MD) {
    font-size: font(h3-desktop);
  }
}

h4,
.h4 {
  font-size: font(h4-mobile);

  @include responsive(MD) {
    font-size: font(h4-desktop);
  }
}

h5,
.h5 {
  font-size: font(h5-mobile);

  @include responsive(MD) {
    font-size: font(h5-desktop);
  }
}

h6,
.h6 {
  font-size: font(h6-mobile);

  @include responsive(MD) {
    font-size: font(h6-desktop);
  }
}
