$base-size-mobile: 41px;
$base-size-desktop: 50px;
$padding-item: 8px;

.collection-menu-container {
  .swiper-wrapper {
    width: fit-content;
    margin: 0 auto;
  }
}

.collection-menu-item {
  padding: 18px 0 $padding-item 0;
  margin: 0 10px;
  min-width: $base-size-mobile;
  @include responsive(MD) {
    min-width: $base-size-desktop;
    padding: 25px 0 $padding-item 0;
   };
  @include responsive(LG) { margin: 0 10px };
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: $base-size-mobile;
    @include responsive(MD) {
      width: $base-size-desktop;
    }
    height: 0px;
    background-color: #242424;
    transition: all .3s ease-in-out;
  }

  .collection-menu-img {
    width: $base-size-mobile;
    height: $base-size-mobile;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-in-out;

    @include responsive(MD) {
      min-width: $base-size-desktop;
      height: $base-size-desktop;
    };

    > img {
      width: 100%;
      object-fit: cover;
    }
  }

  .collection-menu-img svg {
    width: $base-size-mobile;
    height: $base-size-mobile;

    @include responsive(MD) {
      width: $base-size-desktop;
      height: $base-size-desktop;
    }

    path,
    line,
    rect {
      stroke-width: 2;
    }
  }

  .collection-menu-desc {
    width: $base-size-mobile;
    @include responsive(MD) { min-width: $base-size-desktop };
    font-family: font(stack-header);
    font-size: 9px;
    margin-top: 8px;
    color: #242424;
    text-align: center;
    font-size: 9px;
  }
}

.collection-menu-item:hover {
  &:after {
    height: 3px;
  }

  @include responsive(MD) {
    .collection-menu-img {
      transform: translateY(-5px);
    }
  }
}

.collection-menu-item.is-active {
  &::after {
    height: 3px;
  }
}

.collection-sticky {
  position: -webkit-sticky;
  position: fixed;
  top: 49px;
  z-index: 10;
  width: 100%;

  @include responsive(MD) {
    top: 55px;
  }

  ~ .shopify-section {
    padding-top: 30px;

    // @include responsive(MD) {
    //   padding-top: 101px;
    // }
  }
}
