<div
  class="collection-menu-container swiper-container"
  id="collectionMenu"
>
  <div class="swiper-wrapper">
    {% for block in section.blocks %}
      {% capture placeholder_image %}{% cycle 'product-1', 'product-2', 'product-3', 'product-4', 'product-5', 'product-6' %}{% endcapture %}
      {%- assign collection_type = block.type -%}
      {%- if collection_type == "collection" -%}
        {%- assign curentHandle = collections[block.settings.collection].handle -%}
      {%- else -%}
        {%- assign curentHandle = block.settings.collection_page_link -%}
      {%- endif -%}
      <a
        :class="'swiper-slide collection-menu-item' + ((path.includes('{{curentHandle}}')) && onPagesOrCollection ? ' is-active' : '')"
        {%- if collection_type == "collection" -%}
          href="/collections/{{collections[block.settings.collection].handle}}"
        {%- else -%}
          href="{{block.settings.collection_page_link}}"
        {%- endif -%}

      >
        <div class="collection-menu-img">
          {%- if block.settings.menu_icon == blank -%}
            {{ placeholder_image | placeholder_svg_tag: 'placeholder-svg' }}
          {%- else -%}
            {% case block.settings.menu_icon %}
              {% when '1' %}
                <img  src="{{ 'menu-icon-01.svg' | asset_url}}" >
              {% when '2' %}
                <img  src="{{ 'menu-icon-02.svg' | asset_url}}" >
              {% when '3' %}
                <img  src="{{ 'menu-icon-03.svg' | asset_url}}" >
              {% when '4' %}
                <img  src="{{ 'menu-icon-04.svg' | asset_url}}" >
              {% when '5' %}
                <img  src="{{ 'menu-icon-05.svg' | asset_url}}" >
              {% when '6' %}
                <img  src="{{ 'menu-icon-06.svg' | asset_url}}" >
              {% when '7' %}
                <img  src="{{ 'menu-icon-07.svg' | asset_url}}" >
              {% when '8' %}
                <img  src="{{ 'menu-icon-08.svg' | asset_url}}" >
              {% when '9' %}
                <img  src="{{ 'menu-icon-09.svg' | asset_url}}" >
              {% when '10' %}
                <img  src="{{ 'menu-icon-10.svg' | asset_url}}" >
              {% when '11' %}
                <img  src="{{ 'menu-icon-11.svg' | asset_url}}" >
              {% when '12' %}
                <img  src="{{ 'menu-icon-12.svg' | asset_url}}" >
              {% else %}
                <img  src="{{ 'menu-icon-01.svg' | asset_url}}" >
            {% endcase %}
          {%- endif -%}
        </div>
        <div class="collection-menu-desc" v-cloak>
          {{ block.settings.collection_desc }}
        </div>
      </a>
    {% endfor %}
  </div>
</div>

<style>
  #shopify-section-{{ section.id }} {
    background-color: {{ section.settings.collection_menu_bg }};
  }
</style>

{% schema %}
{
    "name": "Collection Menu",
    "class": "xo-shopify-section",
    "settings": [
      {
        "type": "header",
        "content": "Background"
      },
      {
        "type": "color",
        "id": "collection_menu_bg",
        "label": "Background color",
        "default": "#F5EFE8"
      }
    ],
    "blocks": [
      {
        "type": "page",
        "name": "Page",
        "settings": [
          {
            "type": "url",
            "id": "collection_page_link",
            "label": "Collection page link"
          },
          {
            "type": "text",
            "id": "collection_desc",
            "label": "Collection description",
            "default": "ALLES"
          },
          {
             "type": "select",
             "id": "menu_icon",
             "options": [
                { "value": "1", "label": "Menu icon 01"},
                { "value": "2", "label": "Menu icon 02"},
                { "value": "3", "label": "Menu icon 03"},
                { "value": "4", "label": "Menu icon 04"},
                { "value": "5", "label": "Menu icon 05"},
                { "value": "6", "label": "Menu icon 06"},
                { "value": "7", "label": "Menu icon 07"},
                { "value": "8", "label": "Menu icon 08"},
                { "value": "9", "label": "Menu icon 09 - Bundle"},
                { "value": "10", "label": "Menu icon 10 - Bundle"},
                { "value": "11", "label": "Menu icon 11 - Jar"},
                { "value": "12", "label": "Menu icon 12 - Potten"}
             ],
             "label": "Select menu icon"
          }
        ]
      },
      {
        "type": "collection",
        "name": "Collection",
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "Select collection"
          },
          {
            "type": "text",
            "id": "collection_desc",
            "label": "Collection description",
            "default": "ALLES"
          },
          {
             "type": "select",
             "id": "menu_icon",
             "options": [
                { "value": "1", "label": "Menu icon 01"},
                { "value": "2", "label": "Menu icon 02"},
                { "value": "3", "label": "Menu icon 03"},
                { "value": "4", "label": "Menu icon 04"},
                { "value": "5", "label": "Menu icon 05"},
                { "value": "6", "label": "Menu icon 06"},
                { "value": "7", "label": "Menu icon 07"},
                { "value": "8", "label": "Menu icon 08"},
                { "value": "9", "label": "Menu icon 09 - Bundle"},
                { "value": "10", "label": "Menu icon 10 - Bundle"},
                { "value": "11", "label": "Menu icon 11 - Jar"},
                { "value": "12", "label": "Menu icon 12 - Potten"}
             ],
             "label": "Select menu icon"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "Collection",
        "name": "Collection Menu"
      }
    ]
  }
{% endschema %}

